@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "Course Start Dates";
}

<div class="container">

    <div class="col-sm-8 mid-padding">
        <h1 class="contentPageH1">Course Start Dates</h1>
        <ol class="breadcrumb">
            <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active contentp">Course Start Dates</li>
        </ol>
    </div>
</div>

