@model List<MedixCollege.Models.NewsArticleDTO>
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "News Directory";
}



    <h1 class="contentPageH1">News Directory</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">News Directory</li>
    </ol>

    <ul class="list-unstyled newsList">
        @foreach (var article in Model)
        {
            <li class="newsListItem contentp" id="@article.Id">
                <div class="contentp"><span class="glyphicon glyphicon-calendar spacer-right"></span><strong>@article.Title</strong></div>
                <div class="date">@article.Date.ToString("MMMM d, yyyy")</div>
                <div class="contentp">Summary</div>
            </li>
        }
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('.newsListItem').click(function () {
            window.location = "/Home/NewsArticle?id=" + $(this).attr("id");
        });
    });
</script>


