
@{
    ViewBag.Title = "Privacy Policy";
}

<h1 class="contentPageH1">PRIVACY POLICY</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active contentp">Privacy Policy</li>
</ol>

<br />


<p class=”contentp”>
    Use of the data that you provide us, or which is collected by use on this website, is governed by our Privacy Policy.

    <br /><br />

    Medix College’s web site (www.medixcollege.ca) provides information about the school, its programs, and its services. Medix College respects the privacy of its online visitors and does not sell or rent any information obtained from its Web site to any other organization or third party.

    <br /><br />

    When you visit Medix College 's Web site, the server automatically collects a limited amount of information essential for the site's operation and security. This information includes your IP address, the name of your Internet Service Provider, and information concerning your browser and operating system. This information is used to perform statistical analysis of user trends and interests and to help us make this site more useful to visitors. Medix College does make limited use of cookies on its Web server, but not in any manner which could impinge on your privacy. "Cookies" are small text files placed on your personal computer's hard drive by a Web site that allows it to track your browser's use of the site. Cookies are used for purposes such as ensuring that procedures (such as Library procedures) work properly, and that you are not annoyed by repetitions.

    <br /><br />

    When you use Medix College's Web site for program or services purposes, such as requesting services, completing a questionnaire, or making payment, the personal information you provide for that program or service will be in compliance with (PIPEDA) The Personal Information Protection Electronic Documents Act and will be used only for the purpose it was collected. The information will be disclosed only in accordance with the provisions of this act.

    <br /><br />

    If it is necessary for you to register, you will have to give us access to personal information, such as, your credit card information, name, specialty, address, phone number, e-mail address, and other contact information. (We do not otherwise collect personal information)

    <br /><br />

    We will not share personal information gathered on this Web site with any other parties, except as we may reasonably determine is required by law or by governmental authority. It is Medix College’s intention to protect against improper use of your personal information. Accordingly, Medix College has provided safeguards for the protection and storage of the personal information you have provided. Credit card information is encrypted, and access to your information is limited exclusively to people required to process that information.

    <br /><br />

    This privacy statement is intended to reflect the sites maintained by Medix College and it is subject to change.

    <br /><br />

    The Medix College Web site may have links to external Web pages. Please be aware that the school is not responsible for site content outside our Web site, or the privacy policies of outside Web sites. We encourage you to read the individual privacy statements on each Web site you visit.

    If you have any questions about or issues with our privacy policy, please contact us by e-mail at admissions@medixcollege.ca.
</p>
