@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "Referral Program";
}


<div class="col-sm-8">
    <h1 class="contentPageH1">Referral Program</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Referral Program</li>
    </ol>
    <h2 class="contentH2">Details:</h2>

    <p class="contentp">The draw will happen the 1st business day of the month.</p>
  
    <p class="contentp">
        Winner will receive one of two options:
    </p>
        <ul>
            <li>  $500 bursary towards their tuition that will be credited upon graduation.</li>
            <li>  $250 cash prize.</li>
        </ul>
    <p class="contentp">
        The referral must enroll in a Medix fulltime program and must be enrolled as a student for a minimum of 30 days to qualify.
        Winner can only win one time on the same referral name.

        <br />
        Fill out this form below to be entered into the reward program.
    </p>

</div>

    <div class="col-sm-4">
        <form id="referralProgramForm" name="referralProgramForm" method="post" action="/home/referralProgram">
            <input type="hidden" name="ORGID" value="240" />
            <input type="hidden" name="MailListID" value="240001" />
            <h2 class="contentH2">Your Information</h2>
            <div class="input-group spacer-top">
                <label class="pull-left contentp" for="formfirstname">First Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="custField16" id="formfirstname" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="custField17" id="formlastname" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formlocation">My Campus: <span class="text-danger">*</span></label>
                <select class="form-control pull-right" name="custfield15" id="applyNowCampusList">
                    <option value="0">Select</option>
                    <option value="246">Brampton</option>
                    <option value="243">Brantford</option>
                    <option value="242">Kitchener</option>
                    <option value="244">London</option>
                    <option value="241">Scarborough</option>
                    <option value="240">Toronto</option>
                </select>
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left">Program Enrolled In: <span class="text-danger">*</span></label>
                <select class="form-control pull-right" name="custfield18" id="applyNowProgramList">
                    <option class="0 246 243 242 244 241 240" value="0">Select</option>
                    <option class="0" value="38882">Anatomy &amp; Physiology</option>
                    <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                    <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                    <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                    <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                    <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                    <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                    <option class="0 246 243 241 240" value="38526">Early Childhood Assistant</option>
                    <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                    <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                    <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                    <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                    <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                    <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                    <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                    <option class="0" value="1170">Medical Terminology</option>
                    <option class="0" value="38887">Medical Transcription</option>
                    <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                    <option class="0" value="1169">OHIP Billing</option>
                    <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                    <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                    <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                    <option class="0" value="1167">Principles of Nutrition</option>
                    <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                    <option class="0" value="1171">Thought Patterns</option>
                </select>
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formemail">Email: <span class="text-danger">*</span></label>
                <input type="email" class="form-control pull-right" name="custfield19" for="formemail" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formtexta">Comments: </label>
                <textarea class="form-control pull-right" name="comment3" id="formtexta"></textarea>
            </div><br />
            <h2 class="contentH2">Referral Details</h2>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formfirstname">First Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="firstname" id="formfirstname" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="lastname" id="formlastname" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formlocation">Referral's Campus: <span class="text-danger">*</span></label>
                <select class="form-control pull-right" name="campusID" id="applyNowCampusList">
                    <option value="0">Select</option>
                    <option value="246">Brampton</option>
                    <option value="243">Brantford</option>
                    <option value="242">Kitchener</option>
                    <option value="244">London</option>
                    <option value="241">Scarborough</option>
                    <option value="240">Toronto</option>
                </select>
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left">Program of Interest: <span class="text-danger">*</span></label>
                <select class="form-control pull-right" name="programID" id="applyNowProgramList">
                    <option class="0 246 243 242 244 241 240" value="0">Select</option>
                    <option class="0" value="38882">Anatomy &amp; Physiology</option>
                    <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                    <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                    <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                    <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                    <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                    <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                    <option class="0 246 243 241 240" value="38526">Early Childhood Assistant</option>
                    <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                    <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                    <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                    <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                    <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                    <option class="0 246 242 244 241 240" value="633">Medical Laboratory Assistant / Technician</option>
                    <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                    <option class="0" value="1170">Medical Terminology</option>
                    <option class="0" value="38887">Medical Transcription</option>
                    <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                    <option class="0" value="1169">OHIP Billing</option>
                    <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                    <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                    <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                    <option class="0" value="1167">Principles of Nutrition</option>
                    <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                    <option class="0" value="1171">Thought Patterns</option>
                </select>
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formemail">Email: <span class="text-danger">*</span></label>
                <input type="email" class="form-control pull-right" name="email" for="formemail" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="telephone" for="formtelephone" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formtexta">Comments: </label>
                <textarea class="form-control pull-right" name="comment2" id="formtexta"></textarea>
            </div>
            <div class="text-center">
                <input id="referralProgramSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
            </div>
        </form>
    </div>
<br />
