@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank You";
}

@if (ViewBag.Success)
{

    
    <img src="~/Content/images/thanksimage.jpg" alt="welders working with the text thank you for submitting your information" width="100%" class="img-responsive"/>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}