@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank You";
}

@if (ViewBag.Success)
{
    <p>
        <label class="contentBodyHeader">
            <i class="fa fa-check"></i> You have successfully submitted your information. Thank You.
        </label>
    </p>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}