@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Medix Online";
    ViewBag.PageDescription = "Learn more about the programs available at Medix Online.";

}

<div class="leftMenuWrapper col-md-3 custom-collapse">
    <button class="btn-brand-white collapse-toggle visible-xs visible-sm " type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-medix">
        <span class=""><span class="glyphicon glyphicon-align-justify"></span></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <ul class="leftMenu list-unstyled collapse" id="side-menu-medix">
        <li class="item contentH1-white"><span class="glyphicon glyphicon-home goldBorderSM"></span>&nbsp;@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
        <li class="item side-menu-h2"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Medix Online Programs", "Index", "MedixOnline")</li>
        <li class="item side-menu-h2"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Schedules and Fees", "SchedulesAndFees", "MedixOnline")</li>
        <li class="item side-menu-h2"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("E-Learning", "ELearning", "MedixOnline")</li>
        <li class="item side-menu-h2"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Advantages", "Advantages", "MedixOnline")</li>
        <li class="item side-menu-h2"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Contact Medix Online", "ContactMedixOnline", "MedixOnline")</li>
        <li class="item btn btn-brand btn-block spacer-top" id="askQuestion">Ask a Question</li>
        <li class="item btn btn-brand btn-block" id="requestCatalogue">Request Catalogue</li>
    </ul>
    <br />
</div>
<div class="col-md-9 pull-right">
    <div class="col-md-8 mid-padding">
        @RenderBody()
    </div>
    <div class="col-md-4 formWrapper overquestionsForm">
        <br />
        <h1 class="contentH1 text-center">
            <span class="glyphicon glyphicon-comment blueGoldBorder"></span>&nbsp; Contact Medix Online
        </h1>
        <form id="medixOnlineQuestionsForm" name="medixOnlineQuestionsForm" class="questionsForm" method="post" action="/MedixOnline/ContactMedixOnlineForm">
            <input type="hidden" name="ORGID" value="240" />
            <input type="hidden" name="MailListID" value="240001" />
            <div class="input-group spacer-top">
                <label class="pull-left">First Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="FirstName">
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left">Email: <span class="text-danger">*</span></label>
                <input type="email" class="form-control pull-right" name="Email">
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" />
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left">Program: <span class="text-danger">*</span></label>
                <select class="form-control pull-right" name="ProgramID" id="ProgramID">
                    <option value="0">Select</option>
                    <option value="38882">Anatomy &amp; Physiology</option>
                    <option value="38885">Dental Assisting Level II Online Ebooks Incld.</option>
                    <option value="40143">Dental Assisting Level II Online no Ebooks</option>
                    <option value="38883">Dental Office Procedures (abel dent)</option>
                    <option value="1170">Medical Terminology</option>
                    <option value="39438">Medical Terminology and OHIP Package</option>
                    <option value="39439">Medical Terminology and Transcription Package</option>
                    <option value="38887">Medical Transcription</option>
                    <option value="38884">Pre-Science Package (MedTerm, Bio and Chem)</option>
                    <option value="1167">Principles of Nutrition</option>
                    <option value="1171">Thought Patterns</option>

                </select>
            </div>
            <div class="input-group spacer-top">
                <label class="pull-left">Comments: </label>
                <textarea class="form-control pull-right" name="Comment2"></textarea>
            </div>
            <div class="small-text spacer-top text-center grayColor">
                Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
            </div>
            <div class="text-center">
                <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
            </div>
        </form>
    </div>
</div>
<div class="clearfix"></div>
