@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}
@{
    ViewBag.Title = "Contact Medix Online";
}

<h1 class="contentPageH1">CONTACT MEDIX ONLINE</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
    <li class="active contentp">Contact Medix Online</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
       <p class="contentp">
           To contact us directly, please email us , or give us a quick call <br /><br />

           Available by phone <span class="blueColor"><span class="glyphicon glyphicon-earphone"></span></span> <span class="blueColor">(416) 916-6846</span><br /><br />

           Available by email 24 hours <br /><br />

           or, fill out this simple form if you have a question, concern, or just a general inquiry; and someone from the friendly team at Medix Online will get back to you shortly!

       </p>
    </div>
</div>
