@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

<h1 class="contentPageH1">E-LEARNING <small class="contentH1-small">ADVANTAGES</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
    <li class="active contentp">E-Learning</li>
</ol>

<div class="well well-sm">
    <h2 class="contentH2">
        <span class="glyphicon glyphicon-thumbs-up "></span>&nbsp;

        Top 5 reasons Medix Online is right for you
    </h2>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH2">
            Flexible Schedules
        </h2>
    </div>
    <div class="panel-body">

        <p class="contentp">
            You do not need to come to our physical school to earn your Certificate. Without ever stepping foot in a classroom, E-learning reduces travel time and cost for you.<br /><br />
            Learn on your own schedule. You can accelerate your learning or slow down the pace according to your needs. Feel free to read course materials on the internet, or print off the documents that you need.
        </p>
    </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH2">
            Comfortable, Convenient and Accessible Education

        </h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            With the hectic schedule of adult learners, Medix online provides course material that is accessible 24 hours a day from anywhere in the world. Study at work, at home, on the road; whenever and wherever you have the time. <br /><br />
            Online education can be less physically and mentally intimidating. Without physical barriers to learning, anyone with the tools to use the internet can improve their skills and education. 
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH2">Student-Centered Learning</h2>

    </div>
    <div class="panel-body">
        <p class="contentp">
            Online education focuses the attention on you, the learner.<br /><br />
            We at Medix understand that every person has a different learning style. E-learning with Medix Online enables students and faculty to approach teaching and learning with the individual in mind.

        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH2">
            Enhanced Student and Faculty Communication
        </h2>
    </div>
    <div class="panel-body">

        <p class="contentp">
            The multiple avenues of communication enable a thriving community to develop online. Collaborative projects and credited participation in online discussion forums increases student interactions. This in turn provides you with the skills needed to initiate, develop and contribute to the team learning process.<br /><br />
            At Medix Online friendly instructors and educated staff are always here to support you. Since instructors are only a chat or email away, faculty are much less intimidating and more approachable in an online setting. 
        </p>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH2">
            Deeper Knowledge and Understanding of Course Material

        </h2>
    </div>
    <div class="panel-body">

        <p class="contentp">
            Online education allows individuals to practice and master their research and problem-solving skills while challenging themselves to increase their self-direction and motivation. With supportive, educated instructors, students benefit from immediate online feedback.<br /><br />
            Develop an increased understanding of technology. With E-learning, you can demonstrate a solid grasp of computer and internet skills to future employers.
        </p>

    </div>
</div>



<br />