@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

<h1 class="contentPageH1">E-LEARNING <small class="contentH1-small">ADVANTAGES</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
    <li class="active contentp">E-Learning</li>
</ol>



    <h2 class="contentH2">
    There's something for everyone at Medix Online.</h2>

    <p class="contentp">
        Medix Online was launched to provide individuals and groups with the ability to advance their

        healthcare education. We offer affordable, in-demand Certificate Programs which you can

        complete from the comfort of your own home.
    </p>
<br />

    <h2 class="contentH2">
        Update and Refresh your Knowledge on Health Care
    </h2>

    <p class="contentp">
        Medix Online was specifically designed to help people acquire knowledge in the health care

        industry for both personal and professional development. Many people have chosen Medix

        Online Certificates to provide them with the qualifications needed to advance in their current

        healthcare careers.  
    </p><br />

    <h2 class="contentH2">Earn Continuing Education Credits (CEC / CEU)</h2>

    <p class="contentp">
        With Medix Online, healthcare professionals can easily access and complete necessary

        Continuing Education Credits (CEC). These CEC keep healthcare professionals up to date

        with industry advances while allowing them to attain the necessary credits required for their

        professional regulatory bodies.  

    </p>
<br />
    <h2 class="contentH2">
        Medix Online Provides Customized Courses for Health Care Organizations
    </h2>

    <p class="contentp">
        Medix Online is interested in helping healthcare organizations keep their staff educated,

        motivated and content by offering customized courses and certificates to help meet

        healthcare organizations needs. To learn how your staff can benefit from Medix Online

        courses, contact us today!  
    </p>

    <p class="contentp">
        Medix would like to take this opportunity to thank the health care community in Ontario for their

        continued support in the training of students and hiring of graduates.
    </p>
<br />