@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

<h1 class="contentPageH1">MEDIX ONLINE</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Medix Online", "Index", "MedixOnline")</li>
    <li class="active contentp">Medix Online</li>
</ol>

<p class="contentp">
    Medix College has been dedicated to Healthcare Training for over 40 years. Through this

    dedication and experience; Medix Online is the clear choice for Advancement and Education

    in the Healthcare Industry.

<br /><br />

    Medix Online was specifically designed to help people acquire knowledge in the health care

    industry for both personal and professional development. Many people have chosen Medix

    Online Certificates to provide them with the qualifications needed to advance their current

    healthcare careers.

    <br /><br />

    Medix Online is interested in helping healthcare organizations keep their staff educated and

    motivated by offering customized courses and certificates in healthcare.
</p>

<br />