@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}

<h1 class="contentPageH1">SCHEDULES AND FEES <small class="contentH1-small">ADVANTAGES</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
    <li class="active contentp">Schedules & Fees</li>
</ol>




<p class="contentp">
    Medix Online has designed all of our fees to be all inclusive!

    Access to our Learning Platform, Books, Materials, and Shipping are all Included!
</p>

<h2 class="contentH2">Continous Intake Programs:</h2>
<p class="contentp">
    Medix Online has designed all of these programs so that you can start learning at any time! Join any of the following

    courses and join the medix online learning community and start your education today!
</p>
<br />



<table class="table table-bordered table-striped">
    <tr>
        <th width="50%" class="active"><h2 class="contentH2">PROGRAM</h2></th>
        <th width="50%" class="active"><h2 class="contentH2">COST</h2></th>
    </tr>
    <tr>
        <td width="50%">
            <p class="contentp">Principles of Nutrition*</p>
        </td>

        <td width="50%">
            <p class="contentp">$399 CDN</p>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <p class="contentp">Medical Billing (OHIP)*</p>
        </td>

        <td width="50%">
            <p class="contentp">$399 CDN</p>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <p class="contentp">Medical Terminology*</p>
        </td>

        <td width="50%">
            <p class="contentp">$399 CDN</p>
        </td>
    </tr>


    <tr>
        <td width="50%">
            <p class="contentp">Medical Transcription*</p>
        </td>

        <td width="50%">
            <p class="contentp">$399 CDN</p>
        </td>
    </tr>


    <tr>
        <td width="50%">
            <p class="contentp">Anatomy & Physiology*</p>
        </td>

        <td width="50%">
            <p class="contentp">$399 CDN</p>
        </td>
    </tr>


    <tr>
        <td width="50%">
            <p class="contentp">Dental Office Procedures (ABEL DENT)*</p>
        </td>
  
        <td width="50%">
            <p class="contentp">$299 CDN</p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="contentp">Thought Patterns for a Successful Career* (also known as Success Strategies)</p>
        </td>

        <td width="50%">
            <p class="contentp">$299 CDN</p>
        </td>
    </tr>
 
    <tr>
        <td width="50%">
            <p class="contentp">Electronic Medical Records (EMR)</p>
        </td>

        <td width="50%">
            <p class="contentp">$399 CDN</p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="contentp">Professional Exam Review</p>
        </td>

        <td width="50%">
            <p class="contentp">$125 CDN ($99 CDN for Medix Students Only) </p>
        </td>
    </tr>


    <tr>
        <td width="50%">
            <p class="contentp">Health Sciences Courses</p>
        </td>

        <td width="50%">
            <p class="contentp">$250 CDN per course or $650 CDN for the complete Pre-Science package </p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="contentp">Level II Dental Assisting</p>
        </td>

        <td width="50%">
            <p class="contentp">$1,720 CDN or $1,500 CDN without eBooks </p>
        </td>
    </tr>
    </table>
<br />


<p class="contentp">
    <strong>Value Package:</strong> Any Combination of two of our online courses
</p>

    <p class="contentp">
        Did not find the course you were looking for?  <strong>contact us today</strong>
    </p>

    <p class="contentp">
        Click here to register
    </p>

    <p class="contentp">
        It is important that you make the right decision, still have questions?  <strong>just click here</strong> and let us know how we can help!
    </p>

    <p class="contentp">
        *This program does not require approval under the Private Career College Act, 2005
    </p>

<p>
    <img src="~/Content/images/payments.jpg" />
</p>
<br />