@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank You";
}

@if (ViewBag.Success)
{
    <p>
        <label class="contentBodyHeader">
            <i class="fa fa-check"></i> You have successfully submitted your information. Thank You.
        </label>
    </p>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}*@

<!-- Bing Ads Conversion Code -->

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5038092"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5038092&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>

<!-- Google AdWords Conversion Code -->
<!-- Google Code for Lead Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1000579852;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "DxkKCMiN4GAQjMaO3QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1000579852/?label=DxkKCMiN4GAQjMaO3QM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

<script type="text/javascript">
    window.location = "http://www.natradeschools.edu/thanks-contact";
</script>
