@{
    Layout = "~/Views/CareerServices/_CareerServicesLayout.cshtml";
}

@{
    ViewBag.Title = "Career Services";
    ViewBag.PageDescription = "Employment counselling and job search training is provided for all students during their program by scheduled classroom lectures and ongoing individualized counselling";
    ViewBag.HeaderTitle = "Career Services";
}

<h1 class="contentPageH1">CAREER SERVICES</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active contentp">Career Services</li>
</ol>


<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <h1 class="contentH1">Career Services at Medix</h1>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentp">
                Employment counselling and job search training is provided for all students during their program by

                scheduled classroom lectures and ongoing individualized counselling. The School remains a permanent

                source of employment search assistance for all graduates. The placement department prepares each

                student to:
            </p>
            <ul class="contentp">
                <li>Create cover letter, resume and other effective portfolio material.</li>

                <li>Conduct an employment interview including proper follow-up activities.</li>

                <li>Analyze employment opportunities and market trends.</li>

                <li>Utilize resources for locating prospective employers.</li>

                <li>Analyze employment benefits and career advancement opportunities.</li>
            </ul>
            <br />

            <p class="contentp">
                Medix maintains a list of current and past graduates indicating their initial place of employment, along

                with completion and placement percentages. A list of past and current employers is available to all

                prospective students.
            </p>
        </td>
    </tr>
</table>




<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <h1 class="contentH1">Medix graduates have been hired in</h1>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <ul class="contentp">
                <li>hospitals</li>

                <li>research facilities</li>

                <li>physicians’ offices</li>

                <li>walk-in clinics</li>

                <li>private laboratories</li>

                <li>pharmacies</li>

                <li>long term care facilities</li>

                <li>veterinarian’s offices</li>
            </ul>
        </td>
    </tr>
</table>



<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <h1 class="contentH1">
                Some of the employers of Medix graduates include
            </h1>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <ul class="contentp">
                <li>St. Joseph’s Health Care London</li>

                <li>Toronto General Hospital</li>

                <li>London Health Sciences Centre</li>

                <li>University of Toronto Department of Dentistry</li>

                <li>Robarts Research Institute</li>

                <li>Shoppers Drug Mart</li>

                <li>Gamma Dynacare Laboratories</li>

                <li>Biovail</li>

                <li>Community Living</li>

                <li>MCI, MDS Laboratories</li>

                <li>North York Seniors Centre</li>

                <li>Canadian Blood Services</li>

                <li>Pharma Plus</li>

                <li>KGK Synergize Inc.</li>

                <li>Lawson Health Research Institute</li>

                <li>Trillium Health Care</li>
            </ul>

            <p class="contentp">
                As well as many other hospitals, health care organizations and providers across the province of Ontario.
            </p>
        </td>
    </tr>
</table>




<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <h1 class="contentH1">Calling all Employers!</h1>
        </td>
    </tr>
    <tr>
        <td width="100%">

            <p class="contentp">
                Are you are looking for a solution to help you meet the demands of your organization? Why not try a

                Medix co-op Student! All Medix students need to complete some volunteer work as a part of their

                curriculum. The following is a list of hours by program:
            </p>

            <ul class="contentp">
                <li>Pharmacy Assistant Student - 240 hrs</li>

                Community Service Worker Student- 500 hrs</li>

                <li>Dental Assisting Student- 150 hrs</li>

                <li>Medical Office Student - 240 hrs</li>

                <li>Medical Lab Student- 240 hrs</li>

                <li>Personal Support Worker Student- 200 clinical hrs / 155 community hrs
            </ul>
        </td>
    </tr>
</table>


<br />
