@{
    Layout = "~/Views/CareerServices/_CareerServicesLayout.cshtml";
}
@{
    ViewBag.Title = "Interview Tips";
}

<h1 class="contentPageH1">INTERVIEW TIPS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Careers Services", "Index", "CareerServices")</li>
    <li class="active contentp">Interview Tips</li>
</ol>


