@{
    Layout = "~/Views/CareerServices/_CareerServicesLayout.cshtml";
}

@{
    ViewBag.Title = "NATS Advantage";
    ViewBag.PageDescription = "Medix Advantage";
    ViewBag.HeaderTitle = "NATS Advantage";
}

<h1 class="contentPageH1">NATS ADVANTAGE</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Career Services Home", "Index", "CareerServices")</li>
    <li class="active contentp">NATS Advantage</li>
</ol>

    <h1 class="contentH1">What is the NATS Advantage?</h1>


<ol class="contentp">
    <li>Powerful tools for identifying career opportunities</li>

    <li>
        Significant Advantage - NATS Advantage gives our students a significant advantage over

        individuals who do not have access to this technology
    </li>

    <li>Web-based solution is integrated into the NATS web site</li>
</ol>
<br />
    <h1 class="contentH1">What are the benefits to the NATS Advantage?</h1>

<ol class="contentp">
    <li>Provides powerful tools for a targeted job search campaign</li>

    <li>NATS Advantage is designed for the job seeker—it is unlike employer-funded job sites</li>

    <li>Consolidates new job postings from thousands of independent local sources</li>

    <li>Delivers access to a much larger number of local job opportunities than any other source</li>

    <li>
        Reduces the number of missed job opportunities—simply impossible for an individual to

        identify and then keep an eye on all the sources monitored by MEDIX Advantage
    </li>

    <li>
        Most job opportunities captured by MEDIX Advantage are not available on any employer-

        sponsored sites
    </li>
</ol>
<br />
<p>

    <iframe src="http://www.careeraim.com/CareerSite1/login.aspx" width="100%" height="600"
            border="0"></iframe>
</p>