@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}

@{
    ViewBag.Title = "Laptop Initiative";
    ViewBag.PageDescription = "Medix College has implemented a laptop initiative to help students enhance their computer skills while studying";
}

<h1 class="contentPageH1">LAPTOP EBOOK INITIATIVE</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
    <li class="active contentp">Laptop eBook Initiative</li>
</ol>
<br />


<p class="contentp">
    * Currently available at Toronto, Scarborough and Brampton Campuses
</p>


<p class="contentp">
    Modern Technology, particularly in the medical field has become increasingly important.  It has made

    many of our tasks easier, it has allowed us to become more efficient and it has improved

    communication and taken down barriers.

<br /><br />

    In order to keep our students in tune with technology, Medix College is proud to have implemented a

    laptop initiative.  Computer use, continues to have a growing importance in the workforce, particularly

    in the field of healthcare. By making computers a tool of “everyday” use in our education model, we will

    be enhancing our students’ computer skills and thus their growth in technology.

<br /><br />

    Along with laptops, students will be provided with access to an <strong>LMS platform</strong> (Desire 2 Learn) and an <strong> E-book platform </strong> (Vital Source).
</p>
<br />



<h1 class="contentH1">Desire2Learn</h1>

<p class="contentp">
    Desire 2 Learn is the school’s learning management software, which allows the students to perform

    many important tasks throughout their program, including:
</p>
<ul class="contentp">
    <li>Access course syllabi (Outcomes, Objectives, and Evaluation Criteria)</li>

    <li>Access course notes posted by your instructor</li>

    <li>View your grades online</li>

    <li>Hand in assignments or complete quizzes that are delivered online</li>

    <li>Email fellow students as well as your instructor(s)</li>

    <li>Participate in discussion boards and chat forums</li>
</ul>
<br />



<h1 class="contentH1">Vital Source</h1>

<p class="contentp">
    Vital Source is the school’s E-book Platform.  The software will be installed onto your laptop and will

    allow you to access your e-books. Just like any other textbook, you will be ableto read and highlight your

    e-books.  You will also be able to print or bookmark any specific pages of interest, conduct key word

    searches as well as take advantage of any additional interactive resources available via the e-books.
</p>

<br />