@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}

@{
    ViewBag.Title = "Transcript Request";
    ViewBag.PageDescription = "The London Medix College Campus provides transcripts to students at their request";
    
}

<h1 class="contentPageH1">TRANSCRIPT REQUEST</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
    <li class="active contentp">Transcript Request</li>
</ol>



<h2 class="contentH2">
    <span class="glyphicon glyphicon-home"></span>
    London Campus Only
</h2>
<br />    


    <h2 class="contentH2">
        The Administration office maintains the permanent academic records for all students.
    </h2>


<p class="contentp">
    An official transcript is printed on safety paper and carries the registrar's signature certifying its

    authenticity. To order, either complete a transcript order form, or send an email or fax containing the

    following information:
</p>

<ul class="contentp">
    <li>Current name, and name under which you were registered</li>

    <li>Student ID number</li>

    <li>Complete address to which the transcript is to be sent</li>

    <li>Approximate dates you attended Medix College and/or graduation date</li>

    <li>Date of birth</li>

    <li>Current address and phone number</li>

    <li>Your signature</li>
</ul>
<br />

<p class="contentp">
    Please remember that requests with incomplete information cannot be processed.
</p>

<p class="contentp">
    Official transcripts are $25 each. Payment is required at the time of the request. Overnight or priority

    mailing request fees are in addition to the cost of the transcript.
</p>

<a href="medixcollege.ca/transcript.pdf">
    <p class="contentH3-blue">
        <span class="glyphicon glyphicon-download"></span>
        Download Transcript Request
    </p>
</a>

<br />

    <h2 class="contentH2"> Mail orders should be sent to:</h2>

<p class="contentp">
    <strong class="contentp">Medix College </strong>

    <div class="contentp">Attn: Administration </div>

    <div class="contentp">303 Richmond Street </div>

    <div class="contentp">London, ON  N6B 2H8</div>
<br />

<h1 class="contentH2">Medix College accepts the following forms of payment:</h1>

<ul class="contentp">
    <li>Visa  </li>

    <li>Master Card  </li>

    <li>Cash  </li>

    <li>Interac  </li>
</ul>


<p class="contentp">
    If faxing the request, please include the credit card type, the card number and expiration date.  The fax

    number to request transcripts is 519-659-2516.
</p>
<br />

<p class="contentp">
    *Please contact the Administration office at 519-659-4822 if you have special mailing requests such as

    overnight or priority delivery.
</p>

<br />
