@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}
@{
    ViewBag.Title = "Virtual Tour";
}

<h1 class="contentPageH1">VIRTUAL TOUR</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
    <li class="active contentp">Virtual Tour</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixbram/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-map-marker blueGoldBorder"></span>&nbsp;BRAMPTON TOUR</h1></a>
    </div>
    <div class="panel-body">
        <address>
            <p class="contentp">
                499 Main St S Unit 60<br />
                Brampton, Ontario<br />
                L6Y 1N7<br />
                Toll Free: 1-866-962-7685<br />
                Fax: (905) 487-1162
            </p>
        </address>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixbran/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-map-marker blueGoldBorder"></span>&nbsp;BRANTFORD TOUR</h1></a>
    </div>
    <div class="panel-body">
        <address>
            <p class="contentp">
                39 King George Road<br />
                Brantford, Ontario<br />
                N3R 5K2<br />
                Toll Free: 1-800-695-2414<br />
                Tel: (519) 752-4859<br />
                Fax: (519) 752-2217
            </p>
        </address>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixkit/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-map-marker blueGoldBorder"></span>&nbsp;KITCHENER TOUR</h1></a>
    </div>
    <div class="panel-body">
        <address>
            <p class="contentp">
                248 Stirling Avenue #14<br />
                Kitchener, Ontario<br />
                N2G 4L1<br />
                Toll Free: 1-800-695-2414<br />
                Tel: (519) 895-0013<br />
                Fax: (519) 772-0107
            </p>
        </address>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixlon/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-map-marker blueGoldBorder"></span>&nbsp;LONDON TOUR</h1></a>
    </div>
    <div class="panel-body">
        <address>
            <p class="contentp">
                303 Richmond Street<br />
                London, Ontario<br />
                N6B 2H8<br />
                Toll Free: 1-800-695-2414<br />
                Tel: (519) 659-4822
            </p>
        </address>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript: void(0)" onclick="popup('http://medixcollege.ca/web/_virtualtours/scarborough/index.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-map-marker blueGoldBorder"></span>&nbsp;SCARBOROUGH TOUR</h1></a>
    </div>
    <div class="panel-body">
        <address>
            <p class="contentp">
                2130 Lawrence Ave. E. Suite 205<br />
                Scarborough, Ontario<br />
                M1R 3A6<br />
                Toll Free: 1-866-962-7685<br />
                Fax: (416) 701-0855
            </p>
        </address>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript: void(0)" onclick="popup('http://medixcollege.ca/web/_virtualtours/toronto/index.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-map-marker blueGoldBorder"></span>&nbsp;TORONTO TOUR</h1></a>
    </div>
    <div class="panel-body">
        <address>
            <p class="contentp">
                700 Lawrence Ave. W. Suite 300<br />
                Toronto, Ontario<br />
                M6A 3B4<br />
                Toll Free: 1-866-962-7685<br />
                Fax: (416) 630-9790
            </p>
        </address>
    </div>
</div>


<br />
