@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<h1 class="contentPageH1">ALL PROGRAMS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active contentp">All Programs</li>
</ol>


<div class="panel panel-default">

    <div class="panel-body">
        <p class="contentp">
            Medix College provides training in healthcare programs preparing students for ever growing healthcare

            industry in Canada. The objective of the healthcare program training is to equip the students with the

            most current theory and practical training necessary to become successful health care professional. The

            curriculum relies on two fundamental principles; firstly, teach to foster an understanding of the material

            versus memorization of the material, and secondly, allowing the students to process information

            through practical experience.

            <br /><br />
            Practical experience is provided to our students through laboratories and

            an opportunity to shadow experienced workers in the field.  Professional healthcare training helps

            Medix students to secure employment in various prestigious health care organizations across Ontario.
        </p>
    </div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading whiteBG">
            <div class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                    <span class="glyphicon glyphicon-bookmark blueGoldBorder f20"></span> &nbsp;  SEARCH BY PROGRAMS

                </a>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th width="50%" class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")</th>
                        <td width="50%">
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Child Youth Addictions Worker", "ChildYouthAddictionsWorker", "Programs")</th>
                        <td>
                            Brantford<br />
                            Scarborough
                        </td>
                    </tr>

                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")</th>
                        <td>
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Early Child Care Assistant", "EarlyChildCareAssistant", "Programs")</th>
                        <td>
                            Brampton<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")</th>
                        <td>
                            Brampton<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")</th>
                        <td>
                            Brampton<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Massage Therapy Advanced Standing", "MassageTherapyAdvancedStanding", "Programs")</th>
                        <td>
                            Brampton<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")</th>
                        <td>
                            Brampton<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                    <span class="glyphicon glyphicon-map-marker blueGoldBorder f20"></span> &nbsp; SEARCH BY CAMPUS 
                </a>
            </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th width="50%" class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Brampton", "Brampton", "Campuses")</th>
                        <td width="50%">
                            Community Service Worker
                            <br />

                            Early Childcare Assistant<br />

                            Fitness and Health Promotion<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Brantford", "Brantford", "Campuses")</th>
                        <td>
                            Community Service Worker<br />

                            Developmental Service Worker<br />

                            Intra Oral Dental Assistant<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />

                            Child and Youth Care with Addictions Support Worker<br />
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Kitchener", "Kitchener", "Campuses")</th>
                        <td>
                            Community Service Worker<br />

                            Developmental Service Worker<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("London", "London", "Campuses")</th>
                        <td>
                            Community Service Worker<br />

                            Developmental Service Worker<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />

                            Fitness and Health Promotion<br />
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Scarborough", "Scarborough", "Campuses")</th>
                        <td>
                            Community Service Worker<br />

                            Early Childcare Assistant<br />

                            Fitness and Health Promotion<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />

                            Child and Youth Care with Addictions Support Worker<br />
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt goldColour"></span>&nbsp;@Html.ActionLink("Toronto", "Toronto", "Campuses")</th>
                        <td>
                            Community Service Worker<br />

                            Early Childcare Assistant<br />

                            Fitness and Health Promotion<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />
                        </td>
                    </tr>
                    <tr>
                        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray glpgray"></span>&nbsp;@Html.ActionLink("Medix Online", "Index", "MedixOnline")</th>
                        <td>
                            Principles of Nutrition <br />
                            Medical Billing <br />

                            Medical Terminology<br />
                            Medical Transcription<br />
                            Anatomy & Physiology<br />
                            Dental Office Procedures<br />
                            Thought Patterns for a Successful Career* (also known as Success Strategies)<br />
                            EMR (Electronic Medical Records (EMR)<br />
                            Professional Exam Review<br />
                            Health Sciences Courses<br />
                            Level II Dental Assisting:
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<br />