@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Cabinetmaking Training Program - North American Trade Schools";
    ViewBag.PageDescription = "Learn more about Cabinetmaking Training Program at North American Trade Schools.";
}


<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">CABINETMAKING TRAINING <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Cabinetmaking</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/banner-cabinetmaking.jpg" alt="Solar Energy Technician working on solar panels" />

</div>



<div class="col-sm-8 mid-padding">
    <div class="col-sm-12 EXpadding">


                <h1 class="contentH1">PROGRAM SUMMARY</h1><hr class="hrp11" />
                <p class="contentp">
                    The Cabinetmaking training program at North American Trade Schools at the London and Brampton campuses provides technical training for individuals looking for a rewarding career in the cabinetmaking field. <br /><br />The curriculum is designed to provide classroom and lab training in woodworking, cabinetmaking and installation.
                </p>
                <br /><br />



                <h1 class="contentH1">
                    EMPLOYMENT TYPES
                </h1><hr class="hrp11" />
                <h2 class="contentH2">
                    What career opportunities are available to graduates of the Cabinetmaking Program?
                </h2>
                <p class="contentpheight">
                    <hr class="hrp">
                    <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Cabinetmaker<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Cabinetmaker Apprentice<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Furniture Cabinetmaker<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Custom Wood Furniture Maker<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Woodworker<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Window door fabricator<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Cabinet installer
                </p>
                <br />



        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="contentH1">CABINETMAKER CAREER PROFILE </h1>
            </div>
            <div class="panel-body">
                <div class="videoWrapperProgram">
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/ra-vsjqRQQo?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <br />

                <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <h2 class="contentH2video">
                        <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                    </h2>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="well">

                        A Cabinetmaker is someone who takes wood boxes and turns them into furniture.

                        <br /><br />
                        A Cabinetmaker builds furniture; they can do trimwork, kitchens and work with anything that involves wood.

                        <br /><br />
                        Charactertistics of a good Cabinetmaker include the ability to read a tape measure, be precise and meticulous in terms of wanting to create a perfect product. They are always looking to be better with every project that they are doing.

                        <br /><br />
                        North American Trade Schools training includes lots of hands-on honing your skills which leads to the process of writing your ticket.

                        <br /><br />
                        I enjoy seeing the end product; seeing the customers face when I bring them their furniture and it's exactly or more than what they expected.

                        <br /><br />
                        In the Cabinetmaking field, there are cabinetmaking installers, kitchen builders, kitchen installers, trimwork, construction builders, store fixture workers and many more.
                    </div>
                </div>
            </div>
        </div>

        <br />

                <h1 class="contentH1">
                    EMPLOYMENT LOCATIONS
                </h1><hr class="hrp11" />
                <h2 class="contentH2">
                    Where do graduates of the Cabinetmaking work?
                </h2>

                <p class="contentpheight">
                    <hr class="hrp">
                    <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Household furniture makers<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Millwork companies<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Furniture manufacturers<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Construction manufacturing companies<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Aerospace product and parts manufacturers<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Entrepreneurship

                </p>
        <br /><br />



                <h1 class="contentH1">
                    COMMON JOB TASKS
                </h1><hr class="hrp11" />
                <h2 class="contentH2">
                    What are common job tasks for individuals working in the Cabinetmaking field?
                </h2>
                <p class="contentpheight">
                    <hr class="hrp">
                    <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Trim joints and fits parts together.<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Prepare layout for wood articles.<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Read and interpret blueprints, drawings and specifications.<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Design and make templates, jigs and fixtures for production of furniture.<br /><hr class="hrp">
                    <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Install cabinets and custom woodworking.
                </p>
        <br /><br />


                <h1 class="contentH1">
                            CAREER SERVICES
                </h1><hr class="hrp11" />
                <h2 class="contentH2">
                    How can the career services department help you get a job?
                </h2>
                <p class="contentp">
                    North American Trade Schools offers an extensive career services department with a representative assisting you to become a better job candidate from the moment you begin your program. Your career services representative will help you improve your resume, develop interview skills and guide you through the job search process.
                    <br /><br />
                    Taking the Cabinetmaking program at North American Trade Schools enables students to learn the technical skills required in the Cabinetmaking field at a much faster pace than if they were learning through on the job training. Graduates learn a diverse skill set which will not only help them gain employment, but excel in their new profession.
                    <br /><br />
                    North American Trade Schools also provides an employment advantage as we have established relationships with many employers in the field. As a result, employers in the field contact us before posting jobs to the general public giving current students and graduates of the program an advantage in the hiring process.
                </p>
                <br />



        <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
        <br />
        <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</li></button>
        <br class="visible-xs" />
    </div>
</div>


<div class="col-sm-4 pull-right no-padding">

    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <h1 class="contentH1whitemain text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpw3" />
            <div class="row formWrapper overquestionsForm2">
                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Location: <span class="text-danger" required="">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center contentpw">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>





    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        ADMISSIONS PROCESS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2 class="contentH2">
                        The admissions process for North American Trade Schools is a four part process:
                    </h2>
                    <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
                    <p class="contentp">
                        Contact an admissions representative to schedule an appointment. The admissions representative

                        will be able to answer any questions that you might have regarding the program or general

                        questions about North American Trade Schools.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
                    <p class="contentp">
                        An interview will be completed in order to determine if students have the right attitude to be

                        successful in the program.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
                    <p class="contentp">
                        The business affairs assessment is an appointment to determine if students are eligible for one of

                        the many financial aid options.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
                    <p class="contentp">
                        After the financial plan is in place, enrollment is official and students will be able to start classes in

                        order to train for an exciting new career.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        FINANCIAL OPTIONS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="contentp">
                        Students looking to start training at North American Trade Schools have a number of options to finance their education. By exploring these options,

                        students will be able to gain financial assistance and support as they are training for a career. Some

                        financing options available to students include:
                    </p>

                    <p class="contentpheight">
                        <hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Second Career<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Out of Province Options<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Student Lines of Credit<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Lifelone Learning Plan<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;RESP<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Employment Ontario<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monthly Payment Plan
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>




    <script>
        $(document).ready(function () {
            $('#applyOnline').click(function () {
                $('.popup-form-wrapper').hide();
                $('#applyNowWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#requestCatalogue').click(function () {
                $('.popup-form-wrapper').hide();
                $('#requestCatalogueWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#askQuestion').click(function () {
                $('.popup-form-wrapper').hide();
                $('#askQuestionWrapper').show();
                $('.form-overlay').slideDown()
            });
        });
    </script>

    <br />
