@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}


<h1 class="contentPageH1">Community Service Worker <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Community Service Worker</li>
</ol>
<br />

<h1 class="contentH1">PROGRAM SUMMARY</h1>


<p class="contentp">
    The Community Service Worker program at Medix College provides technical training for individuals

    looking for a rewarding career in the community service field. This program involves a great deal of

    small group work, practice interviews, and exercises in self-awareness. During the program, students will

    grow to understand the complexities of contemporary community work practice, the helping process,

    human development, first aid/CPR and crisis prevention.

    <br /><br />

    Students will practice with families and individuals, understand the human health model, and explore

    research methods. Throughout the course of the Community Service Worker Program, students will gain

    the knowledge and experience to prepare them for work with clients from a range of age groups, with a

    variety of social and emotional issues.

    <br /><br />

    Graduates from the Community Service Worker program have found jobs in Brantford, Brampton,

    Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga, Markham, Milton,

    North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across southern

    Ontario. 
</p>

<br />
<h2 class="contentH1">
    AVAILABILITY
</h2>

    <h2 class="contentH2">
    Which campuses offer the Community Service Worker program?
</h2>

<ul class="contentp">
    <li>Brampton</li>

    <li>Brantford</li>

    <li>Kitchener</li>

    <li>London</li>

    <li>Scarborough</li>

    <li>Toronto</li>
</ul>
<br />
<h1 class="contentH1">
    EMPLOYMENT TYPES
</h1>


<h2 class="contentH2">
    What jobs await graduates of the Community Service Worker program?
</h2>

<ul class="contentp">
    <li>Intake workers</li>

    <li>Residential counsellors</li>

    <li>Community support workers</li>

    <li>Rehabilitation care worker</li>

    <li>Addictions & community services worker</li>

    <li>Community health worker</li>
</ul>
<br />
<h1 class="contentH1">
    EMPLOYMENT SECTORS
</h1>
<h2 class="contentH2">
    Where do graduates of the Community Service Worker program work?
</h2>
<ul class="contentp">
    <li>Community agencies</li>

    <li>Public and private school boards</li>

    <li>Residential facilities</li>

    <li>Community shelters</li>

    <li>Adult and youth group homes</li>

    <li>Counselling and advocacy centres</li>

    <li>Immigration and settlement services</li>

    <li>Addiction treatment centres</li>
</ul>
<br />
<h1 class="contentH1">
    COMMON JOB TASKS
</h1>
<h2 class="contentH2">
    What are common job tasks for individuals working in the Community Service field?
</h2>
<ul class="contentp">
    <li>Interviewing and counselling clients</li>

    <li>Assisting individuals and families through support and advocacy</li>

    <li>Intervening in crisis situations</li>

    <li>Assisting social workers in various public activities</li>

    <li>Reporting using case reports and statistical data</li>
</ul>
<br />
<h1 class="contentH1">
    MEDIX ADVANTAGE
</h1>
<h2 class="contentH2">
    Why choose the Community Service Worker program at Medix College?
</h2>
<p class="contentp">

    Taking the Community Service Worker program at Medix College enable students to learn the skills and

    knowledge required to work in the community service field at a much faster pace than if they were

    learning through on the job training. Graduates learn a diverse skill set which will not only help them

    gain employment, but excel in their new profession. 
    
    <br /><br />
    
    Medix College also provide an employment

    advantage as we have established relationships with many employers in the field. As a result, employers

    in the field contact us before posting jobs to the general public giving current students and graduates of

    the program an advantage in the hiring process. 

    <br /><br />
    
    An off-site practicum gives students first-hand

    experience in the industry and allows them to begin putting into practice everything they learned

    through our comprehensive Community Service Worker program. The practicum lets students exercise

    and perfect their newfound skills in an environment that is similar to the work environments they will

    work in upon graduation. Furthermore, graduates will be able to apply for membership as a Certified

    Community Service Worker through the Canadian Council of Professional Certification (CCPC) after

    they’ve fulfilled the CCPC’s requirements.
</p>
<br />
<h1 class="contentH1">
    ADMISSIONS PROCESS
</h1>
<h2 class="contentH2">
    The admissions process for the Community Service Worker Program is a four part process:
</h2>
<ol class="contentp">
    <li>
        <h2 class="contentH2">Initial Contact</h2>

        Contact an admissions representative to schedule an appointment. The admissions representative

        will be able to answer any questions that you might have regarding the program or general

        questions about Medix College.
    </li>
    <li>
        <h2 class="contentH2">
            Confidential Interview
        </h2>

        An interview will be completed in order to determine if students have the right attitude to be

        successful in the program.
    </li>
    <li>
        <h2 class="contentH2">
            Business Affairs Assessment
        </h2>

        The business affairs assessment is an appointment to determine if students are eligible for one of

        the many financial aid options.
    </li>
    <li>
        <h2 class="contentH2">
            Enrollment
        </h2>

        After the financial plan is in place, enrollment is official and students will be able to start classes in

        order to train for an exciting new career.
    </li>
</ol>
<br />
<h1 class="contentH1">
    FINANCIAL OPTIONS
</h1>
<p class="contentp">
    Students looking to start training in the Community Service Worker Program have a number of options to finance their education. By exploring these options,

    students will be able to gain financial assistance and support as they are training for a career. Some

    financing options available to students include:
</p>
<ul class="contentp">
    <li>Ontario Student Assistance Program (OSAP)</li>

    <li>Ontario Second Career</li>

    <li>Out of Province Options</li>

    <li>Student Lines of Credit</li>

    <li>Lifelone Learning Plan</li>

    <li>RESP</li>

    <li>Employment Ontario</li>

    <li>Monthly Payment Plan</li>

</ul>

<br />
