@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Construction & Maintenance Electrican Pre-Apprenticeship  Training Program - North American Trade Schools";
    ViewBag.PageDescription = "Learn more about Construction & Maintenance Electrican Pre-Apprenticeship  Training Program at North American Trade Schools.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">CONSTRUCTION & MAINTENANCE ELECTRICIAN PRE-APPRENTICESHIP TRAINING <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Construction & Maintenance Electrican Pre-Apprenticeship </li>
    </ol><img class="img-responsive" width="100%" src="~/Content/images/banner-construction-maintenance.jpg" alt="construction maintenance electrician working on panels" />

</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">PROGRAM SUMMARY</h1>
<hr class="hrp" />
            <p class="contentp">
                The Construction & Maintenance Electrican Pre-Apprenticeship training program at North American Trade Schools at the London and Brampton campuses provides technical training for individuals looking for a rewarding career in the Construction & Maintenance Electrican Pre-Apprenticeship  field. <br /><br />This curriculum is designed to provide classroom, lab “hands-on” training in the residential, commercial and industrial electricity. Graduates of the program will develop skills in residential wiring, service installation, code interpretation, conduit bending, and electrical motor theory; analyze/repair machine controls, print reading, electronic controls, and the principles of electricity. Graduates will have skills for a number of entry level positions in the electrical field.
                
            </p>
        </div>
    </div>


    

    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">
    EMPLOYMENT TYPES
</h1><hr class="hrp" />
            <h2 class="contentH2">
                What career opportunities are available to graduates of the Construction & Maintenance Electrican Pre-Apprenticeship Program?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Electrical Control Assembler<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Electrical Instrument Repairer<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Electrical Technician<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Apprentice Electrician<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Electric Motor Analyst<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Electric Motor Repair<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Electrical Service Technician
            </p>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">
    EMPLOYMENT LOCATIONS
</h1><hr class="hrp" />
            <h2 class="contentH2">
                Where do graduates of the Construction & Maintenance Electrican Pre-Apprenticeship work?
            </h2>

            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Manufacturing Companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Commercial Construction Companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Residential Construction Companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Electrical Contracting Companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Aerospace product and parts manufacturers<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Government Companies including Municipalities

            </p>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">
    COMMON JOB TASKS
</h1><hr class="hrp" />
            <h2 class="contentH2">
                What are common job tasks for individuals working in the Electrical Technology field?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Install, maintain and service electrical equipment.<br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Assist in inspecting, testing and adjusting electronic components.<br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Locate and diagnose trouble in the electrical system or equipment.<br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Utilize standard electricians' hand tools, measuring and testing instruments.<br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Performs standard testing processes on a variety of equipment and records and analyzes results.
            </p>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">
    CAREER SERVICES
</h1><hr class="hrp" />
            <h2 class="contentH2">
                How can the career services department help you get a job?
            </h2>
            <p class="contentp">
                North American Trade Schools offers an extensive career services department with a representative assisting you to become a better job candidate from the moment you begin your program. Your career services representative will help you improve your resume, develop interview skills and guide you through the job search process.
                <br /><br />
                Taking the Construction & Maintenance Electrican Pre-Apprenticeship program at North American Trade Schools enables students to learn the technical skills required in the Construction & Maintenance Electrican Pre-Apprenticeship  field at a much faster pace than if they were learning through on the job training. Graduates learn a diverse skill set which will not only help them gain employment, but excel in their new profession.
                <br /><br />
                North American Trade Schools also provides an employment advantage as we have established relationships with many employers in the field. As a result, employers in the field contact us before posting jobs to the general public giving current students and graduates of the program an advantage in the hiring process.
            </p>
        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</li></button>
    <br class="visible-xs" />
</div>

<div class="col-sm-4 pull-right no-padding">

    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <h1 class="contentH1 text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrp11" />
            <div class="row formWrapper overquestionsForm">


                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Location: <span class="text-danger" required="">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor contentp">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>





    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        ADMISSIONS PROCESS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2 class="contentH2">
                        The admissions process for North American Trade Schools is a four part process:
                    </h2>
                    <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
                    <p class="contentp">
                        Contact an admissions representative to schedule an appointment. The admissions representative

                        will be able to answer any questions that you might have regarding the program or general

                        questions about North American Trade Schools.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
                    <p class="contentp">
                        An interview will be completed in order to determine if students have the right attitude to be

                        successful in the program.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
                    <p class="contentp">
                        The business affairs assessment is an appointment to determine if students are eligible for one of

                        the many financial aid options.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
                    <p class="contentp">
                        After the financial plan is in place, enrollment is official and students will be able to start classes in

                        order to train for an exciting new career.
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        FINANCIAL OPTIONS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="contentp">
                        Students looking to start training at North American Trade Schools have a number of options to finance their education. By exploring these options,

                        students will be able to gain financial assistance and support as they are training for a career. Some

                        financing options available to students include:
                    </p>

                    <p class="contentpheight">
                        <hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Second Career<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Out of Province Options<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Student Lines of Credit<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Lifelone Learning Plan<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;RESP<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Employment Ontario<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monthly Payment Plan
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>



    <script>
        $(document).ready(function () {
            $('#applyOnline').click(function () {
                $('.popup-form-wrapper').hide();
                $('#applyNowWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#requestCatalogue').click(function () {
                $('.popup-form-wrapper').hide();
                $('#requestCatalogueWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#askQuestion').click(function () {
                $('.popup-form-wrapper').hide();
                $('#askQuestionWrapper').show();
                $('.form-overlay').slideDown()
            });
        });
    </script>

    <br />
