@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}


<h1 class="contentPageH1">Dental Assistant Level II <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Dental Assistant Level II</li>
</ol>
<br />

<h1 class="contentH1">
    PROGRAM SUMMARY
</h1>
<p class="contentp">
    The Dental Assistant Level II program at Medix College provides technical training for individuals who

    are currently a Dental Assistant Level I but would like to upgrade to the Dental Assistant Level II. The

    curriculum involves students working through an online theory component and also an on-site practical

    component. The online theory component must be completed before the student enters the hands – on

    - practical component. Once students complete all modules, they will enter the Patient Care module

    where they will apply their skills on patients.

<br /><br />

    Upon completion of the program the graduate will be eligible to write the NDAEB exam and apply for

    level II certification with the Ontario Dental Assistants Association.

<br /><br />

    Graduates from the Dental Assistant Level II program have found jobs in Brantford, Brampton,

    Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga, Markham, Milton,

    North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across southern

    Ontario. 
</p>
<br />
<h1 class="contentH1">AVAILABILITY</h1>

<h2 class="contentH2">
    Which campuses offer the Dental Assistant Level II program?
</h2>

<ul class="contentp">
    <li>Brampton</li>

    <li>Brantford</li>

    <li>Kitchener</li>

    <li>London</li>

    <li>Scarborough</li>

    <li>Toronto</li>
</ul>

<br />
<h1 class="contentH1">
    EMPLOYMENT TYPES
</h1>
<h2 class="contentH2">
    What jobs await graduates of the Dental Assistant Level II program?\
</h2>
<ul class="contentp">
    <li>Dental assistant</li>

    <li>Dental assistant level II</li>

    <li>Reception/Dental assistant</li>

    <li>Preventive dental assistant</li>
</ul>
<br />
<h1 class="contentH1">
    EMPLOYMENT SECTORS
</h1>
<h2 class="contentH2">
    Where do graduates of the Dental Assistant Level II program work?
</h2>

<ul class="contentp">
    <li>Dental Offices</li>

    <li>Universities and college health centres</li>

    <li>Retirement centres</li>

    <li>Private dental centres</li>

    <li>Private health centres</li>
</ul>
<br />
<h1 class="contentH1">
    COMMON JOB TASKS
</h1>
<h2 class="contentH2">
    What are common job tasks for individuals working in the Dental Assistant Level II field?
</h2>
<ul class="contentp">
    <li>Assisting the doctor and educating patients regarding health and dental matters</li>

    <li>Prepares patients for dental exams</li>

    <li>Maintains the inventory of dental equipment and ensures proper infection control</li>

    <li>Record information regarding patient care and procedures</li>

    <li>Preparing x-rays and taking digital x-rays</li>
</ul>
<br />
<h1 class="contentH1">
    MEDIX ADVANTAGE
</h1>
<h2 class="contentH2">
    Why choose the Dental Assistant Level II program at Medix College?
</h2>
<p class="content2">
    Taking the Dental Assistant Level II program at Medix College enable students to learn the skills and

    knowledge required to work in the dental assistant field at a much faster pace than if they were learning

    through on the job training. Graduates learn a diverse skill set which will not only help them gain

    employment, but excel in their new profession.

<br /><br />

    Medix College also provide an employment advantage as we have established relationships with many

    employers in the field. As a result, employers in the field contact us before posting jobs to the general

    public giving current students and graduates of the program an advantage in the hiring process.

<br /><br />

    As a mandatory component of our programs, all Medix students are required to complete an off-site

    externship placement. Placements occur at various locations throughout the community. This essential

    module allows students to exercise the skills learned in class, learn specific applications, and further

    enhance their learning experience in the selected facilities.
</p>
<br />
<h1 class="contentH1">
    ADMISSIONS PROCESS
</h1>
<p class="contentp">
    The admissions process for the Dental Assistant Level II Program is a four part process:
</p>
<ol class="contentp">
    <li>
        <h2 class="contentH3">Initial Contact</h2>

        Contact an admissions representative to schedule an appointment. The admissions representative

        will be able to answer any questions that you might have regarding the program or general

        questions about Medix College.
    </li>
    <li>
        <h2 class="contentH3">
            Confidential Interview
        </h2>

        An interview will be completed in order to determine if students have the right attitude to be

        successful in the program.
    </li>
    <li>
        <h2 class="contentH3">
            Business Affairs Assessment
        </h2>

        The business affairs assessment is an appointment to determine if students are eligible for one of

        the many financial aid options.
    </li>
    <li>
        <h2 class="contentH3">
            Enrollment
        </h2>

        After the financial plan is in place, enrollment is official and students will be able to start classes in

        order to train for an exciting new career.
    </li>
</ol>
<br />
<h1 class="contentH1">
    FINANCIAL OPTIONS
</h1>
<p>
    Students looking to start training in the Dental Assistant Level II Program have a number of options to finance their education. By exploring these options,

    students will be able to gain financial assistance and support as they are training for a career. Some

    financing options available to students include:
</p>
<ul class="contentp">
    <li>Ontario Student Assistance Program (OSAP)</li>

    <li>Ontario Second Career</li>

    <li>Out of Province Options</li>

    <li>Student Lines of Credit</li>

    <li>Lifelone Learning Plan</li>

    <li>RESP</li>

    <li>Employment Ontario</li>

    <li>Monthly Payment Plan</li>

</ul>

<br />