@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}


    <h1 class="contentPageH1">Fitness and Health Promotion <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Fitness and Health Promotion</li>
</ol>
<br />

    <h1 class="contentH1">
        PROGRAM SUMMARY
    </h1>
    <p class="contentp">
        The Fitness and Health Promotion Program at Medix College provides training for individuals looking for

        a rewarding career working as fitness and health professionals. The program is designed to educate

        students in the anatomy and physiology of all body systems, exercise prescription, fitness assessment,

        motivational techniques, business management, biomechanics, nutrition and much more. As society

        begins to emphasize personal health, the occupations and roles in this field will continue to increase.

        <br /><br />

        Fitness consultants perform initial fitness assessments to design exercise programs customized to an

        individual’s specific needs. They motivate clients, educate them on exercise and nutrition, and monitor

        progressions through regular reassessments.

        <br /><br />

        Graduates from the Fitness and Health Promotion program have found jobs in Brantford, Brampton,

        Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga, Markham, Milton,

        North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across southern

        Ontario. 
    </p>
    <br />
    <h1 class="contentH1">
        AVAILABILITY
    </h1>
    <h2 class="contentH2">
        Which campuses offer the Fitness and Health Promotion program?
    </h2>
    <ul class="contentp">
        <li>Brampton</li>

        <li>London</li>

        <li>Scarborough</li>

        <li>Toronto</li>
    </ul>
    <br />
    <h1 class="contentH1">
        EMPLOYMENT TYPES
    </h1>
    <h2 class="contentH2">
        What jobs await graduates of the Fitness and Health Promotion program?
    </h2>
    <ul class="contentp">
        <li>Fitness instructor</li>

        <li>Personal trainer</li>

        <li>Fitness Technician</li>

        <li>Fitness program organizer</li>

        <li>Nutrition worker</li>

        <li>Recreational facility coordinator</li>
    </ul>
    <br />
    <h1 class="contentH1">
        EMPLOYMENT SECTORS
    </h1>
    <h2 class="contentH2">
        Where do graduates of the Fitness and Health Promotion program work?
    </h2>
    <ul class="contentp">
        <li>Commercial fitness facilities</li>

        <li>YMCA/YWCA</li>

        <li>Recreational facilities</li>

        <li>University and college recreational departments</li>

        <li>Public health departments</li>
    </ul>
    <br />
    <h1 class="contentH1">
        COMMON JOB TASKS
    </h1>
    <h2 class="contentH2">
        What are common job tasks for individuals working in the Fitness and Health Promotion field?
    </h2>
    <ul class="contentp">
        <li>Analyze and understand your clients’ needs and goals</li>

        <li>Demonstrate and instruct athletic, fitness or sports activities and techniques</li>

        <li>
            Monitor the wellness area, demonstrate technique and equipment use and lead small group exercise sessions
        </li>

        <li>Oversee bulletin boards, posters, member incentive programs and newsletters</li>

        <li>Design, develop and deliver social/recreational programs</li>
    </ul>
    <br />
    <h1 class="contentH1">
        MEDIX ADVANTAGE
    </h1>
    <h2 class="contentH2">
        Why choose the Fitness and Health Promotion Program at Medix College?
    </h2>
    <p class="contentp">
        Practical skill-building and a practicum component are used to give students a well-rounded

        understanding of the role of a Fitness and Health worker. During the

        course of this program, students will learn all of the skills and be trained in all the procedures that will

        be required of them in their new careers.

        <br /><br />

        As a mandatory component of our programs, all Medix students are required to complete two off-site

        practicums (Practicum I & Practicum II) as well as a field placement component. Practicum I (112 hours)

        takes place concurrently during the first year and students will spend an average of 4 hours per week for

        28 weeks in either a group recreation, group care or community program setting. Practicum II (148

        hours) takes place concurrently during the second year and students will spend an average of 4 hours

        per week.

        <br /><br />

        Medix College also provides an employment advantage as we have established relationships with many

        employers in the field. As a result, employers in the field contact us before posting jobs to the general

        public giving current students and graduates of the program an advantage in the hiring process.
    </p>
    <br />
    <h1 class="contentH1">
        ADMISSIONS PROCESS
    </h1>
    <h2 class="contentH2">
        The admissions process for the Fitness and Health Promotion Program is a four part process:
    </h2>
    <ol class="contentp">
        <li>
            <h2 class="contentH3">Initial Contact</h2>

            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </li>
        <li>
            <h2 class="contentH3">
                Confidential Interview
            </h2>

            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </li>
        <li>
            <h2 class="contentH3">
                Business Affairs Assessment
            </h2>

            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </li>
        <li>
            <h2 class="contentH3">
                Enrollment
            </h2>

            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </li>
    </ol>
    <br />
    <h1 class="contentH1">
        FINANCIAL OPTIONS
    </h1>
    <p class="contentp">
        Students looking to start training in the Fitness and Health Program have a number of options to finance their education. By exploring these options,

        students will be able to gain financial assistance and support as they are training for a career. Some

        financing options available to students include:
    </p>
    <ul class="contentp">
        <li>Ontario Student Assistance Program (OSAP)</li>

        <li>Ontario Second Career</li>

        <li>Out of Province Options</li>

        <li>Student Lines of Credit</li>

        <li>Lifelone Learning Plan</li>

        <li>RESP</li>

        <li>Employment Ontario</li>

        <li>Monthly Payment Plan</li>

    </ul>

    <br />
