@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Home Renovation Technician Training Program - North American Trade Schools";
    ViewBag.PageDescription = "Learn more about Home Renovation Technician Training Program at North American Trade Schools.";
}

<div class="col-sm-12 no-padding botMARG">
    <h1 class="contentPageH1">HOME RENOVATION TECHNICIAN TRAINING <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Home Renovation Technician</li>
    </ol><img class="img-responsive" width="100%" src="~/Content/images/banner-homereno.jpg" alt="Home Renovation workers working on a deck" />

</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">PROGRAM SUMMARY</h1><hr class="hrp" />
            <p class="contentp">
                The Home Renovation Technician program at North American Trade Schools at the London and Brampton campuses provides technical training for individuals looking for a rewarding career in the home renovation field. The curriculum is designed to provide classroom and lab training in the residential and commercial construction and renovation fields.             <br /><br />
                There are employment opportunities for graduates of the Home Renovation Technician graduates in London, Thamesford, Lucan, Strathroy, St. Thomas, Ingersoll, Stratford, Kitchener-Waterloo, Brampton, Toronto, Mississauga, Scarborough, Milton, Burlington, Oakville, Hamilton and other cities across southern Ontario.
            </p>
        </div>
    </div>




    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">
    EMPLOYMENT TYPES
</h1><hr class="hrp" />
            <h2 class="contentH2">
                What career opportunities are available to graduates of the Home Renovation Technician Program?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Carpenter’s Assistant<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Aluminum/vinyl Siding Installer<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Construction Worker<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Building Maintenance<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Roofing Assistant<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Plumbing Apprenticeships<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Carpentry Apprenticeships
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">HOME RENOVATION CAREER PROFILE </h1>
        </div>
        <div class="panel-body">
            <div class="videoWrapperProgram">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/euIFX2WxBj4?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <br />

            <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <h2 class="contentH2video">
                    <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                </h2>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    A Home Renovation Technician is a person who renovates homes. It can include anything from putting an addition to a house, re-doing a floor in the house, installing windows are doors, finishing an unfinished basement and building a recreation room.

                   <br /><br />
                    As a Home Renovation Technician, you have the ability to specialize in certain fields or you can become multi-faceted in with the ability to do mutliple tasks.

                    <br /><br />
                    Charactertistics of a good Home Renovation Technician include strong math skills as you would be required to do a number of tasks that require measuring and cutting. Additionally, excellent communication skills are required due to the amount of work that you would be required to do in a team setting with other trades workers.

                    <br /><br />
                    North American Trade Schools training includes the ability to learn and use a number of different tools and materials that are needed for each individual job and project. It also includes a solid foundation in learning building codes.

                    <br /><br />
                    In addition to the hands-on training that is provided, North American Trade Schools instructors are licensed carpenters, plumbers and electricians. The instructors teach their real-world experience to students with the goal of passing on all of their knowledge and expertise in their respective fields.
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">
    EMPLOYMENT LOCATIONS
</h1><hr class="hrp" />
            <h2 class="contentH2">
                Where do graduates of the Home Renovation Technician work?
            </h2>

            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Various construction companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Plumbing companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Roofing companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Residential renovation companies<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Home restoration companies

            </p>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">
    COMMON JOB TASKS
</h1><hr class="hrp" />
            <h2 class="contentH2">
                What are common job tasks for individuals working in the Home Renovation Technician field?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Install walls, partitions, drywall, decks and fences.<br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Install floor beams and subflooring, and finishes.<br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Read and interpret blueprints, drawings and specifications.<br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Install and repair exterior finishes and shingles.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">STUDENT REVIEW - BRENNA</h1>
        </div>
        <div class="panel-body">
            <div class="videoWrapperProgram">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/DQGSFcr8rhM?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <br />

            <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                <h2 class="contentH2video">
                    <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
                </h2>
            </a>
            <div class="collapse" id="collapseExample2">
                <div class="well">
                    I am taking HRT (Home Renovation Technician) at NATS. We are learning everything from plumbing, to electrical, to drywall and flooring.

                    <br /><br />
                    I was looking at HVAC and HRT (Home Renovation Technician) and I wasn't sure which one I wanted to get into. HVAC was more gas, heating and cooling. However HRT had more options to get into, we can be carpenters, we can do framing for houses, or we can be stairs.

                    <br /><br />
                    I chose North American Trade Schools because I came and visited the school and did the tour and everyone was so welcoming.

                    <br /><br />
                    The teachers were great, there are all there to help me, they helped me through the process of getting in. It doesn't matter if it's my teacher or another teacher, they are all there to help. If I have a question, I can just go and ask them. If I am doing something at my house and I need to know questions about my furnace, I can go ask the teachers and students and they are willing to help me.

                    <br /><br />
                    I really enjoy carpentry work and building houses. As long as I am in this field, I am going to be really happy.

                    <br /><br />
                    North American Trade Schools means an opportunity to better myself. I can get a better education, I am going to get a better job and a better future for myself.
                
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body"><h1 class="contentH1">

    CAREER SERVICES
</h1><hr class="hrp" />
            <h2 class="contentH2">
                How can the career services department help you get a job?
            </h2>
            <p class="contentp">
                North American Trade Schools offers an extensive career services department with a representative assisting you to become a better job candidate from the moment you begin your program. Your career services representative will help you improve your resume, develop interview skills and guide you through the job search process.
                <br /><br />
                Taking the Home Renovation Technician program at North American Trade Schools enables students to learn the technical skills required in the Home Renovation Technician field at a much faster pace than if they were learning through on the job training. Graduates learn a diverse skill set which will not only help them gain employment, but excel in their new profession.
                <br /><br />
                North American Trade Schools also provides an employment advantage as we have established relationships with many employers in the field. As a result, employers in the field contact us before posting jobs to the general public giving current students and graduates of the program an advantage in the hiring process.
            </p>
        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</li></button>
    <br class="visible-xs" />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <h1 class="contentH1 text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpblue" />
            <div class="row formWrapper overquestionsForm">


                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor contentp">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>





    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        ADMISSIONS PROCESS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2 class="contentH2">
                        The admissions process for North American Trade Schools is a four part process:
                    </h2>
                    <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
                    <p class="contentp">
                        Contact an admissions representative to schedule an appointment. The admissions representative

                        will be able to answer any questions that you might have regarding the program or general

                        questions about North American Trade Schools.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
                    <p class="contentp">
                        An interview will be completed in order to determine if students have the right attitude to be

                        successful in the program.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
                    <p class="contentp">
                        The business affairs assessment is an appointment to determine if students are eligible for one of

                        the many financial aid options.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
                    <p class="contentp">
                        After the financial plan is in place, enrollment is official and students will be able to start classes in

                        order to train for an exciting new career.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        FINANCIAL OPTIONS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="contentp">
                        Students looking to start training at North American Trade Schools have a number of options to finance their education. By exploring these options,

                        students will be able to gain financial assistance and support as they are training for a career. Some

                        financing options available to students include:
                    </p>

                    <p class="contentpheight">
                        <hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Second Career<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Out of Province Options<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Student Lines of Credit<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Lifelone Learning Plan<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;RESP<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Employment Ontario<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monthly Payment Plan
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>



    <script>
        $(document).ready(function () {
            $('#applyOnline').click(function () {
                $('.popup-form-wrapper').hide();
                $('#applyNowWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#requestCatalogue').click(function () {
                $('.popup-form-wrapper').hide();
                $('#requestCatalogueWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#askQuestion').click(function () {
                $('.popup-form-wrapper').hide();
                $('#askQuestionWrapper').show();
                $('.form-overlay').slideDown()
            });
        });
    </script>

    <br />

