@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Child and Youth Care with Addictions Support Worker Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Child and Youth Care with Addictions Support Worker Training Program at Medix College.";
}


<h1 class="contentPageH1">CHILD & YOUTH CARE WITH ADDICTIONS SUPPORT WORKER <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Child and Youth Care with Addictions Support Worker</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">PROGRAM SUMMARY</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Child and Youth Care with Addictions Support Worker program is

            designed to teach students the necessary practical skills and theory to work with adolescents, children

            and families with challenging needs such as social, emotional, behavioral and mental health concerns.

            Students will identify the importance of collaborating with colleagues within their field including

            educators, medical and social worker professionals, correctional staff and community partners.

            Networking with these professionals will assist them when implementing appropriate

            prevention/intervention strategies that inspire change.
            <br /><br />
            The Addictions Support modules explore the physical, emotional and social effects of alcohol, drugs and

            gambling, examine the process of addictions assessment and teach effective case management skills.

            There are employment opportunities for graduates of the Child and Youth Care with Addictions Support

            Worker Program in Brantford, Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener,

            London, Mississauga, Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo

            and other cities across southern Ontario. 
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">AVAILABILITY</h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Which campuses offer the Child and Youth Care with Addictions Support Worker Program?
        </h2>
        <p class="contentp">
        <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brantford<br />
        <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT TYPES
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What career opportunities are available to graduates of the Child and Youth Care with Addictions Support Worker Program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Child and youth support worker<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Addictions support worker<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Addictions counsellor<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Student assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Support worker<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Youth coordinator<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Community support worker<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Family support worker
            </p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT LOCATIONS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Where do graduates of the Child and Youth Care with Addictions Support Worker work?
        </h2>

        <p class="contentp">
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Health centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Treatment centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Youth centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Hospitals<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Foster care programs<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Correctional facilities

        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            COMMON JOB TASKS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What are common job tasks for individuals working in the Child and Youth Care with Addictions Support Worker field?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Supervise activities of clients living in group homes and half-way houses<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Implement substance abuse treatment programs<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Resolve conflict situations<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Implement behaviour management programs<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Report writing (assessments, follow-up, progress, court reports)<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Evaluate counselling programs and interventions
         </p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">

            MEDIX ADVANTAGE
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Why choose the Child and Youth Care with Addictions Support Worker Program at Medix College?
        </h2>
        <p class="contentp">
            Practical skill-building and a practicum component are used to give students a well-rounded

            understanding of the role of the Child and Youth Care with Addictions Support Worker. During the

            course of this program, students will learn all of the skills and be trained in all the procedures that will

            be required of them in their new careers.

            <br /><br />

            As a mandatory component of our programs, all Medix students are required to complete two off-site

            practicums (Practicum I & Practicum II) as well as a field placement component. Practicum I (112 hours)

            takes place concurrently during the first year and students will spend an average of 4 hours per week for 28

            weeks in either a group recreation, group care or community program setting. Practicum II (148 hours)

            takes place concurrently during the second year and students will spend an average of 4 hours per week for

            37 weeks in either a group care, community treatment program, family support program or foster care

            setting. The field placement (240 hours) takes place following the completion of all in-class theory. During

            each practicum and field experience, students will keep a detailed journal used to write a personal reflection

            paper to highlight his/her applied learning.

            <br /><br />

            Medix College also provides an employment advantage as we have established relationships with many

            employers in the field. As a result, employers in the field contact us before posting jobs to the general

            public giving current students and graduates of the program an advantage in the hiring process.
        </p>
    </div>
</div>
  
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            ADMISSIONS PROCESS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            The admissions process for the Child and Youth Care with Addictions Support Worker Program is a four part process:
        </h2>
        <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
        <p class="contentp">Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.</p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
        <p class="contentp">
            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
        <p class="contentp">
            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
        <p class="contentp">
            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            FINANCIAL OPTIONS
        </h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Students looking to start training in the Child and Youth Care with Addictions Support Worker Program have a number of options to finance their education. By exploring these options,

            students will be able to gain financial assistance and support as they are training for a career. Some

            financing options available to students include:
        </p>

        <p class="contentp">
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Second Career<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Out of Province Options<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Student Lines of Credit<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Lifelone Learning Plan<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;RESP<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Employment Ontario<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Monthly Payment Plan<br />
        </p>
    </div>
</div>

<button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-home goldBorderSM"></span>&nbsp;@Html.ActionLink("SEE MORE PROGRAMS", "AllPrograms", "Programs")</button>






<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });
</script>

    <br />
