@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}



<h1 class="contentPageH1">Massage Therapy <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li  class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Massage Therapy</li>
</ol>
<br />



    <h1 class="contentH1">
        PROGRAM SUMMARY
    </h1>
    <p class="contentp">
        The Massage Therapy diploma program at Medix College provides training for individuals looking for a

        rewarding career working in the healthcare and spa fields. The Medix School Massage Therapy Program

        is approved by the Private Career Colleges Act, 2005 and upon successful completion of the

        program, students are eligible to write their Licensing Examination. The Licensing Exams leads to

        Registration with the College of Massage Therapists of Ontario and the right to use the protected titles,

        “Massage Therapist and Registered Massage Therapist”.

        <br /><br />

        Student will learn and develop the manual skills involved in utilizing various techniques involved in

        therapy.  Students will also be exposed to other types of therapy practiced by other Regulated Health

        Professional and will understand differing approaches, philosophies, and methodologies to treatment

        which increases the likelihood of inter-professional collaboration. Training will cover such tasks as

        assessing clients by conducting range of motion and muscles tests, proposing treatment plans and

        administering massage techniques.

        <br /><br />

        There are employment opportunities for graduates of the Massage Therapy program in Brantford,

        Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga,

        Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across

        southern Ontario. 
    </p>
    <br />
    <h1 class="contentH1">
        AVAILABILITY
    </h1>
    <h2 class="contentH2">
        Which campuses offer the Massage Therapy program?
    </h2>
    <ul class="contentp">
        <li>Brampton</li>

        <li>Kitchener</li>

        <li>London</li>

        <li>Scarborough</li>

        <li>Toronto</li>
    </ul>
    <br />

    <h1 class="contentH1">
        EMPLOYMENT TYPES
    </h1>
    <h2 class="contentH2">
        What career opportunities are available to graduates of the Massage Therapy program?
    </h2>
    <ul class="contentp">
        <li>Registered Massage Therapists</li>

        <li>Mobile Outpatient & Home Care Massage Therapists</li>

        <li>Massage Attendant</li>

        <li>Spa Therapist‎</li>

        <li>Spa Assistant</li>
    </ul>
    <br />

    <h1 class="contentH1">
        EMPLOYMENT SECTORS
    </h1>
    <h2 class="contentH2">
        Where do graduates of the Massage Therapy program work?
    </h2>
    <ul class="contentp">
        <li>Rehabilitation Clinics</li>

        <li>Massage Clinics</li>

        <li>Chiropractic Clinics</li>

        <li>Physiotherapy Clinics</li>

        <li>Long Term Palliative Care</li>

        <li>Athletic and Sports Therapy Clinics</li>

        <li>Spas and Hospitality Facilities</li>
    </ul>
    <br />

    <h1 class="contentH1">
        COMMON JOB TASKS
    </h1>
    <h2 class="contentH2">
        What are common job tasks for individuals working in the Massage Therapy field?
    </h2>
    <ul class="contentp">
        <li>Assess soft tissues and joints of the body for treatment and prevention of dysfunction</li>

        <li>Administer massage treatments to correct physical disorders</li>

        <li>Treat medical conditions and injuries and maintain wellness</li>

        <li>Provide soothing, healing but luxurious deep tissue massages</li>
    </ul>
    <br />

    <h1 class="contentH1">
        MEDIX ADVANTAGE
    </h1>
    <h2 class="contentH2">
        Why choose the Massage Therapy Program at Medix College?
    </h2>
    <p>
        Practical skill-building and a practicum component are used to give students a well-rounded

        understanding of the role of a Massage Therapist. During the

        course of this program, students will learn all of the skills and be trained in all the procedures that will

        be required of them in their new careers.

        <br /><br />

        As a mandatory component of our programs, all Medix students are required to complete two off-site

        practicums (Practicum I & Practicum II) as well as a field placement component. Practicum I (112 hours)

        takes place concurrently during the first year and students will spend an average of 4 hours per week for

        28 weeks in either a group recreation, group care or community program setting. Practicum II (148

        hours) takes place concurrently during the second year and students will spend an average of 4 hours

        per week.

        <br /><br />

        Medix College also provides an employment advantage as we have established relationships with many

        employers in the field. As a result, employers in the field contact us before posting jobs to the general

        public giving current students and graduates of the program an advantage in the hiring process.
    </p>
    <br />

    <h1 class="contentH1">
        ADMISSIONS PROCESS
    </h1>
    <h2 class="contentH2">
        The admissions process for the Massage Therapy Program is a four part process:
    </h2>
    <ol class="contentp">
        <li>
            <h2 class="contentH3">Initial Contact</h2>

            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </li>
        <li>
            <h2 class="contentH3">
                Confidential Interview
            </h2>

            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </li>
        <li>
            <h2 class="contentH3">
                Business Affairs Assessment
            </h2>

            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </li>
        <li>
            <h2 class="contentH3">
                Enrollment
            </h2>

            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </li>
    </ol>
    <br />
    <h1 class="contentH1">
        FINANCIAL OPTIONS
    </h1>
    <p class="contentp">
        Students looking to start training in the Massage Therapy Program have a number of options to finance their education. By exploring these options,

        students will be able to gain financial assistance and support as they are training for a career. Some

        financing options available to students include:
    </p>
    <ul class="contentp">
        <li>Ontario Student Assistance Program (OSAP)</li>

        <li>Ontario Second Career</li>

        <li>Out of Province Options</li>

        <li>Student Lines of Credit</li>

        <li>Lifelone Learning Plan</li>

        <li>RESP</li>

        <li>Employment Ontario</li>

        <li>Monthly Payment Plan</li>

    </ul>

    <br />
    <p class="contentp">
        <strong>
            Note that in order to become a registered Massage Therapist, students must write the College of Massage Therapists of Ontario (CMTO) exam at their own expense. <a href="http://www.cmto.com/">Visit their website</a> for more details.
        </strong>
    </p>
