@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Massage Therapy Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Massage Therapy Training Program at Medix College.";
}


<h1 class="contentPageH1">MASSAGE THERAPY <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li  class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Massage Therapy</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">PROGRAM SUMMARY</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Massage Therapy diploma program at Medix College provides training for individuals looking for a

            rewarding career working in the healthcare and spa fields. The Medix School Massage Therapy Program

            is approved by the Private Career Colleges Act, 2005 and upon successful completion of the

            program, students are eligible to write their Licensing Examination. The Licensing Exams leads to

            Registration with the College of Massage Therapists of Ontario and the right to use the protected titles,

            “Massage Therapist and Registered Massage Therapist”.

            <br /><br />

            Student will learn and develop the manual skills involved in utilizing various techniques involved in

            therapy.  Students will also be exposed to other types of therapy practiced by other Regulated Health

            Professional and will understand differing approaches, philosophies, and methodologies to treatment

            which increases the likelihood of inter-professional collaboration. Training will cover such tasks as

            assessing clients by conducting range of motion and muscles tests, proposing treatment plans and

            administering massage techniques.

            <br /><br />

            There are employment opportunities for graduates of the Massage Therapy program in Brantford,

            Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga,

            Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across

            southern Ontario. 
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1">
            AVAILABILITY
        </h2>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Which campuses offer the Massage Therapy program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brampton<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Kitchener<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;London<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Toronto<br />
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT TYPES
        </h1>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What career opportunities are available to graduates of the Massage Therapy program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Registered Massage Therapists
<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Mobile Outpatient & Home Care Massage Therapists
<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Massage Attendant
<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Spa Therapist‎
<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Spa Assistant
<br />
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT LOCATIONS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Where do graduates of the Massage Therapy program work?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Rehabilitation Clinics<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Massage Clinics<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Chiropractic Clinics<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Physiotherapy Clinics<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Long Term Palliative Care<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Athletic and Sports Therapy Clinics<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Spas and Hospitality Facilities<br />
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            COMMON JOB TASKS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What are common job tasks for individuals working in the Massage Therapy field?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Assess soft tissues and joints of the body for treatment and prevention of dysfunction<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Administer massage treatments to correct physical disorders<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Treat medical conditions and injuries and maintain wellness<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Provide soothing, healing but luxurious deep tissue massages
        </p>
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">

            MEDIX ADVANTAGE
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Why choose the Massage Therapy Program at Medix College?
        </h2>
        <p class="contentp">
            Practical skill-building and a practicum component are used to give students a well-rounded

            understanding of the role of the Massage Therapy. During the

            course of this program, students will learn all of the skills and be trained in all the procedures that will

            be required of them in their new careers.

            <br /><br />

            As a mandatory component of our programs, Medix MT students are required to complete an on-site

            clinical course component throughout the program. This component is completed in the massage

            therapy labs on the Medix campuses. This essential module allows students to exercise the skills

            learned in class, learn specific applications and to further enhance their learning experience in the

            health care setting. 

            <br /><br />

            Medix College also provides an employment advantage as we have established relationships with many

            employers in the field. As a result, employers in the field contact us before posting jobs to the general

            public giving current students and graduates of the program an advantage in the hiring process.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            ADMISSIONS PROCESS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            The admissions process for the Massage Therapy Program is a four part process:
        </h2>
        <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
        <p class="contentp">
            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
        <p class="contentp">
            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
        <p class="contentp">
            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
        <p class="contentp">
            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            FINANCIAL OPTIONS
        </h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Students looking to start training in the Massage Therapy Program have a number of options to finance their education. By exploring these options,

            students will be able to gain financial assistance and support as they are training for a career. Some

            financing options available to students include:
        </p>

        <p class="contentp">
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Second Career<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Out of Province Options<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Student Lines of Credit<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Lifelone Learning Plan<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;RESP<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Employment Ontario<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Monthly Payment Plan<br />
        </p>
    </div>
</div>

<br />


    <br />
    <p class="contentp">
        <strong>
            Note that in order to become a registered Massage Therapist, students must write the College of Massage Therapists of Ontario (CMTO) exam at their own expense. <a href="http://www.cmto.com/">Visit their website</a> for more details.
        </strong>
    </p>
