@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}


<h1 class="contentPageH1">Massage Therapy: Advanced Standing <small class="contentH1-small">PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Massage Therapy: Advanced Standing</li>
</ol>
<br />

<h1 class="contentH1">
    PROGRAM SUMMARY
</h1>
<p class="contentp">
    Medix College recognizes credits that have been completed at the post secondary level. Students who

    have completed a post secondary education in health sciences and have completed courses in Anatomy

    and Physiology or equivalent(s) may qualify for the Advanced Standing Program in Massage Therapy.
</p>
<br />

    <h2 class="contentH2">Which Campuses Offer This Program?</h2>
<p class="contentp">
    Our Massage Therapy: Advanced Standing Program is available at our Brampton, Kitchener, Scarborough and Toronto campuses. Fill out our form and get information directly from the campus of your choice!
</p>
<br />
    <h2 class="contentH2">
        Eligibility Requirements
    </h2>
<p class="contentH3">
    Pre-requisites include:
</p>
<ul class="contentp">
    <li>A North American degree in Health Sciences: applicants must have graduated within the past five years or pass a comprehensive Anatomy & Physiology (A&P) test.</li>

    <li>Academic Transcript with a minimum B+ (high 70s) average.</li>

    <li>An Interview-based with Massage Therapy, Anatomy and Physiology instructors.</li>

    <li>An interview with an Admissions Representative & AP instructor.</li>

    <li>A Wonderlic test to determine suitability and potential in this program.</li>
</ul>
<br />
    <h2 class="contentH2">
        Get More Information Now!
    </h2>
<p class="contentp">
    At Medix, you get more than an education: you get a career!
<br /><br />
    Fill out our form or click below to get more information on our program. Our Admissions and Business Affairs departments are always available to answer any questions on this or any other program, including prerequisites, tuition costs, financial assistance options and more.
</p>