@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Massage Therapy: Advanced Standing Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Massage Therapy: Advanced Standing Training Program at Medix College.";
}


<h1 class="contentPageH1">MASSAGE THERAPY: ADVANCED STANDING <small class="contentH1-small">PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Massage Therapy: Advanced Standing</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">PROGRAM SUMMARY</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix College recognizes credits that have been completed at the post secondary level. Students who

            have completed a post secondary education in health sciences and have completed courses in Anatomy

            and Physiology or equivalent(s) may qualify for the Advanced Standing Program in Massage Therapy.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1">
            AVAILABILITY
        </h2>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">Which Campuses Offer This Program?</h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brampton<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Kitchener<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Toronto<br />
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH2">
            Eligibility Requirements
        </h2>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Pre-requisites include:
            </h2><p class="contentp">
    <span class="glyphicon glyphicon-ok blueGoldBorderSM f15"></span>&nbsp;A North American degree in Health Sciences: applicants must have graduated within the past five years or pass a comprehensive Anatomy & Physiology (A&P) test.</li>
    <br />
    <span class="glyphicon glyphicon-ok blueGoldBorderSM f15"></span>&nbsp;Academic Transcript with a minimum B+ (high 70s) average.</li>
    <br />
    <span class="glyphicon glyphicon-ok blueGoldBorderSM f15"></span>&nbsp;An Interview-based with Massage Therapy, Anatomy and Physiology instructors.</li>
    <br />
    <span class="glyphicon glyphicon-ok blueGoldBorderSM f15"></span>&nbsp;An interview with an Admissions Representative & AP instructor.</li>
    <br />
    <span class="glyphicon glyphicon-ok blueGoldBorderSM f15"></span>&nbsp;A Wonderlic test to determine suitability and potential in this program.</li>
        </p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH2">
            Get More Information Now!
        </h2>
    </div>
    <div class="panel-body">
<p class="contentp">
    At Medix, you get more than an education: you get a career!
    <br /><br />
    Fill out our form to get more information on our program. Our Admissions and Business Affairs departments are always available to answer any questions on this or any other program, including prerequisites, tuition costs, financial assistance options and more.
</p>
    </div>
</div>

<br />

