@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Medical Office Administrator Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Medical Office Administrator Training Program at Medix College.";
}


<h1 class="contentPageH1">MEDICAL OFFICE ADMINISTRATOR <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Medical Office Administrator</li>
</ol>
<br />


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">PROGRAM SUMMARY</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Medical Office Administrator diploma program at Medix College provides training for individuals

            looking for a rewarding career as a healthcare administrator. Students of this program will receive the

            training required to find employment in the emerging health care sector.

            <br /><br />

            Students will learn the practical and relevant skills needed to operate in an administrative role within a

            medical office.  Training will cover such tasks as patient billing, health information management, patient

            data collection, keyboarding skills, medical transcription, creating and maintaining databases, Microsoft

            Office®, aseptic techniques, medical office procedures and communication styles.

            <br /><br />

            There is a consistent demand for Medical Office Administrators in Brantford, Brampton, Burlington,

            Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga, Markham, Milton, North York,

            Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across southern Ontario. 
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1">
            AVAILABILITY
        </h2>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Which campuses offer the Medical Office Administrator program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brampton<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brantford<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Kitchener<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;London<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Toronto<br />
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT TYPES
        </h1>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What career opportunities are available to graduates of the Medical Office Administrator program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Medical office administrator
<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Medical office assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Medical secretary<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Medical billing specialists<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Medical transcriptionist
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">MEDIX STUDENT REVIEW - LEAH </h1>
    </div>
    <div class="panel-body">
        <div class="videoWrapperProgram">
            <iframe width="560" height="349" src="https://www.youtube.com/embed/mgnXwkNUiVM?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <br />

        <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <h2 class="contentH2">
                <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
            </h2>
        </a>
        <div class="collapse" id="collapseExample">
            <div class="well">
                "I chose Medix College because I had a friend here who took the tech program, who loved it and had a great experience, such a great experience that every time we'd work together she'd come in boasting about it. <br /><br /> She'd say; "I love my teachers! I love all the different things we get to do!"<br /><br /> When I was finished work, and wondered what I was going to do [in the future], I chose Medix. <br /><br />I like the campus because of the location, it's very accessible. It's also small, with more intimate classrooms,  which I like more then university style classrooms, where you feel like a number more then a person.<br /><br /> I love my instructors here, they're all very well versed in their fields, and they bring real world experience along with the academic side of it.<br /><br /> I found it easy to make friends and contacts [on campus]. On your first day, you're kind of nervous, everyone is looking at each other, but within 10 minutes everyone is chatting, and they welcome you in, and everyone is exchanging phone numbers. <br /><br /> It's a family atmosphere where everyone motivates each other. My family loved me coming here, my mom was a nurse, so anything in the healthcare field, she was like: "Yes, go!" They were so supportive. <br /><br />I already had a university degree, and I worked well with it, but I wanted something more out of life, something more practical. <br /><br />This gives me a whole new opportunity in life for a crazy amount of things."
            </div>
        </div>
        </div>  
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT LOCATIONS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Where do graduates of the Medical Office Administrator program work?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Doctor’s offices<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Walk-In clinics
<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Dental offices
<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Laboratory offices
<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Specialized clinics (sleep clinics, mental health clinics, diabetes management clinics)<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Hospitals
<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Nursing homes
<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Rehabilitation centers

        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            COMMON JOB TASKS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What are common job tasks for individuals working as a Medical Office Administrator?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Scheduling and rescheduling appointments
<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Billing services to the Ministry of Health
<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Manage various health information
<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Billing services to the patient
<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Collection and maintaining a database of medical data

        </p>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">

            MEDIX ADVANTAGE
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Why choose the Medical Office Administrator Program at Medix College?
        </h2>
        <p class="contentp">
            Practical skill-building and a practicum component are used to give students a well-rounded

            understanding of the role of the Medical Office Administrator. During the

            course of this program, students will learn all of the skills and be trained in all the procedures that will

            be required of them in their new careers.

            <br /><br />

            As a mandatory component of our programs, all Medix students are required to complete an off- site

            externship placement. Placements occur at various locations throughout the College's area. This

            essential module allows students to exercise the skills learned in class, learn specific applications

            and to further enhance their learning experience in the selected facilities.

            <br /><br />

            Medix College also provides an employment advantage as we have established relationships with many

            employers in the field. As a result, employers in the field contact us before posting jobs to the general

            public giving current students and graduates of the program an advantage in the hiring process.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            ADMISSIONS PROCESS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            The admissions process for the Medical Office Administrator Program is a four part process:
        </h2>
        <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
        <p class="contentp">
            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
        <p class="contentp">
            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
        <p class="contentp">
            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
        <p class="contentp">
            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            FINANCIAL OPTIONS
        </h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Students looking to start training in the Medical Office Administrator Program have a number of options to finance their education. By exploring these options,

            students will be able to gain financial assistance and support as they are training for a career. Some

            financing options available to students include:
        </p>

        <p class="contentp">
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Second Career<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Out of Province Options<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Student Lines of Credit<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Lifelone Learning Plan<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;RESP<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Employment Ontario<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Monthly Payment Plan<br />
        </p>
    </div>
</div>

<br />
