@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}


    <h1 class="contentPageH1">Medical Lab Assistant / Technician Program <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Medical Lab Assistant / Technician Program</li>
</ol>
<br />

    <h1 class="contentH1">
        PROGRAM SUMMARY
    </h1>
    <p class="contentp">
        The Medical Lab Assistant / Technician Program at Medix College provides training for individuals

        looking for a rewarding career working in the health care field. Students in our Medical Lab Assistant /

        Technician (MLAT) Diploma Program acquire the necessary skills and demonstrate competence in a

        variety of medical procedures and laboratory techniques under the direct supervision of a Physician,

        Registered Medical Technologist or other healthcare professional

<br /><br />   

        Upon successful completion of the MLAT diploma program, graduates are qualified to write a third party

        examination and achieve their “Certified Lab Assistant” designation through the Canadian Society for

        Medical Laboratory Science (CSMLS) as well as the Ontario Society of Medical Technologists (OSMT). All

        examinations are at the option and expense of the graduate and Medix encourages students to become

        certified.

<br /><br />

        There are employment opportunities for graduates of the Medical Lab Assistant / Technician Program in

        Brantford, Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London,

        Mississauga, Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and

        other cities across southern Ontario. 
    </p>
<br />

    <h1 class="contentH1">
        AVAILABILITY
    </h1>
    <h2 class="contentH2">
        Which campuses offer the Medical Lab Assistant / Technician Program?
    </h2>
    <ul class="contentp">
        <li>Brampton</li>

        <li>Kitchener</li>

        <li>London</li>

        <li>Scarborough</li>

        <li>Toronto</li>
    </ul>
<br />

    <h1 class="contentH1">
        EMPLOYMENT TYPES
    </h1>
    <h2 class="contentH1">
    What career opportunities are available to graduates of the Medical Lab Assistant / Technician Program?</h2>
    <ul class="contentp">
        <li>Medical laboratory assistant</li>

        <li>Laboratory assistant</li>

        <li>Medical laboratory technician</li>

        <li>Phlebotomy technicians</li>

        <li>Patient services assistants</li>
    </ul>
<br />

    <h1 class="contentH1">
        EMPLOYMENT SECTORS
    </h1>
    <h2 class="contentH2">
        Where do graduates of the Medical Lab Assistant / Technician Program work?
    </h2>
    <ul class="contentp">
        <li>Medical laboratories</li>

        <li>Hospitals</li>

        <li>Research laboratories</li>

        <li>Doctor’s offices</li>

        <li>Blood Donor Testing Centres</li>

        <li>Medical laboratories</li>

        <li>Veterinary laboratories</li>
    </ul>
<br />

    <h1 class="contentH1">
        COMMON JOB TASKS
    </h1>
    <h2 class="contentH2">
        What are common job tasks for individuals working in the Medical Lab Assistant / Technician field?
    </h2>
    <ul class="contentp">
        <li>Prepare reagents and solution, and process specimens</li>

        <li>Spin, receive, accession, aliquot and process specimens</li>

        <li>Perform ECG and Holter monitoring</li>

        <li>Liaison with health care professionals</li>

        <li>Maintain safety, WHMIS and TDG procedures</li>

        <li>Prepare worksheets and plant specimens</li>
    </ul>
<br />


    <h1 class="contentH1">
        MEDIX ADVANTAGE
    </h1>
    <h2 class="contentH2">
        Why choose the Medical Lab Assistant / Technician Program at Medix College?
    </h2>
    <p class="contentp">
        Practical skill-building and a practicum component are used to give students a well-rounded

        understanding of the role of a Medical Lab Assistant / Technician. During the

        course of this program, students will learn all of the skills and be trained in all the procedures that will

        be required of them in their new careers.
 <br /><br />
        As a mandatory component of our programs, all Medix students are required to complete two off-site

        practicums (Practicum I & Practicum II) as well as a field placement component. Practicum I (112 hours)

        takes place concurrently during the first year and students will spend an average of 4 hours per week for

        28 weeks in either a group recreation, group care or community program setting. Practicum II (148

        hours) takes place concurrently during the second year and students will spend an average of 4 hours

        per week.
  <br /><br />
        Medix College also provides an employment advantage as we have established relationships with many

        employers in the field. As a result, employers in the field contact us before posting jobs to the general

        public giving current students and graduates of the program an advantage in the hiring process.
    </p>
<br />

    <h1 class="contentH1">
        ADMISSIONS PROCESS
    </h1>
    <h2 class="contentH2">
        The admissions process for the Medical Lab Assistant / Technician Program is a four part process:
    </h2>
   <ol class="contentp">
    <li>
        <h2 class="contentH3">Initial Contact</h2>

        Contact an admissions representative to schedule an appointment. The admissions representative

        will be able to answer any questions that you might have regarding the program or general

        questions about Medix College.
    </li>
    <li>
        <h2 class="contentH3">
            Confidential Interview
        </h2>

        An interview will be completed in order to determine if students have the right attitude to be

        successful in the program.
    </li>
    <li>
        <h2 class="contentH3">
            Business Affairs Assessment
        </h2>

        The business affairs assessment is an appointment to determine if students are eligible for one of

        the many financial aid options.
    </li>
    <li>
        <h2 class="contentH3">
            Enrollment
        </h2>

        After the financial plan is in place, enrollment is official and students will be able to start classes in

        order to train for an exciting new career.
    </li>
</ol>
<br />
    <h1 class="contentH1">
        FINANCIAL OPTIONS
    </h1>
    <p class="contentp">
        Students looking to start training in the Medical Lab Assistant / Technician Program have a number of options to finance their education. By exploring these options,

        students will be able to gain financial assistance and support as they are training for a career. Some

        financing options available to students include:
    </p>
   <ul class="contentp">
    <li>Ontario Student Assistance Program (OSAP)</li>

    <li>Ontario Second Career</li>

    <li>Out of Province Options</li>

    <li>Student Lines of Credit</li>

    <li>Lifelone Learning Plan</li>

    <li>RESP</li>

    <li>Employment Ontario</li>

    <li>Monthly Payment Plan</li>

</ul>
<br />