@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<p><label class="contentBodyHeader">Medix Online Programs</label></p>

<p>
    Medix Online was specifically designed to help people acquire knowledge in the health care industry for

    both personal and professional development. Many people have chosen Medix Online Certificates to

    provide them with the qualifications needed to advance their current healthcare careers.
</p>

<p>
    Medix Online is interested in helping healthcare organizations keep their staff educated and motivated

    by offering customized courses and certificates in healthcare.
</p>

<table class="table table-bordered">
    <tr>
        <th>Anatomy & Physiology</th>
        <td>This certificate is designed to allow development in fields related to Medical Sciences</td>
    </tr>
    <tr>
        <th>Dental Office Procedures</th>
        <td>The basics of Abeldent, a popular software

widely used in various dental offices.</td>
    </tr>
    <tr>
        <th>Ontario Medical Billing</th>
        <td>Apply the basic principles of Health Claim billing</td>
    </tr>
    <tr>
        <th>Medical Terminology</th>
        <td>Learn to have a working knowledge of medical

vocabulary for laboratory findings and other

health care settings</td>
    </tr>
    <tr>
        <th>Medical Transcription</th>
        <td>Identify and define the knowledge, skills, and

abilities, required of a medical transcriptionist,

including medical editing</td>
    </tr>
    <tr>
        <th>Principles of Nutrition</th>
        <td>Concepts related to nutrients in foods, as well as

its applications to phases of the human life cycle</td>
    </tr>
    <tr>
        <th>Thought Patterns for a Successful Career</th>
        <td>This program is designed for both academic &

personal growth and success</td>
    </tr>
    <tr>
        <th>Pre-Science Certificate Program</th>
        <td>This course is designed as an introductory course

in biology</td>
    </tr>
    <tr>
        <th>Dental Assisting Level II Upgrade</th>
        <td>Upgrade your skills to meet the requirements of

a level II dental assistant.</td>
    </tr>
    <tr>
        <th>Professional Exam Reviews</th>
        <td>Professional Exam Review, Study Guide, Test

Prep.</td>
    </tr>
    <tr>
        <th>Medical Records Management, EMR</th>
        <td></td>
    </tr>
</table>