@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Personal Support Worker Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Personal Support Worker Training Program at Medix College.";
}

<h1 class="contentPageH1">PERSONAL SUPPORT WORKER <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Personal Support Worker</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">PROGRAM SUMMARY</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Personal Support Worker (PSW) Program at Medix College provides training for individuals looking

            for a rewarding career working in the Personal Support field. The objective of the Personal Support

            Worker (PSW) Program is to provide students with satisfactory skills and competency in a variety of

            clinical and interactive areas needed for employment in the health care field.

            <br /><br />

            This program consolidates and replaces services previously provided by Health Care Aides, Home

            Support Workers, Attendant Care Providers and Respite Worker Training. Students learn about

            individuality of the person, role of the worker, assisting the families and household management.

            <br /><br />

            There are employment opportunities for graduates of the Personal Support Worker (PSW) Program in

            Brantford, Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London,

            Mississauga, Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and

            other cities across southern Ontario. 
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1">
            AVAILABILITY
        </h2>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Which campuses offer the Personal Support Worker (PSW) program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brampton<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brantford<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Kitchener<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;London<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Toronto<br />
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT TYPES
        </h1>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What career opportunities are available to graduates of the Personal Support Worker (PSW) Program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Personal support worker (PSW)<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Residential support worker<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Personal aides<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Live-in caregiver<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Personal care attendant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Child care and personal support worker<br />
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT LOCATIONS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Where do graduates of the Personal Support Worker (PSW) Program work?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Health centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Hospitals<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Long-term care facilities<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Group homes<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Clients’ homes
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Private care facilities
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            COMMON JOB TASKS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What are common job tasks for individuals working in the Personal Support Worker (PSW) field?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Prepare, cook and serve meals<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Launder clothing and household linens<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Perform light housekeeping and cleaning<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Provide personal care<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Aid clients with bathing and other aspects of personal hygiene<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Administer bedside and personal care
        </p>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">

            MEDIX ADVANTAGE
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Why choose the Personal Support Worker (PSW) Program at Medix College?
        </h2>
        <p class="contentp">
            Practical skill-building and a practicum component are used to give students a well-rounded

            understanding of the role of the Personal Support Worker (PSW). During the

            course of this program, students will learn all of the skills and be trained in all the procedures that will

            be required of them in their new careers.

            <br /><br />

            As a mandatory component of our programs, all Medix students are required to complete an off- site

            externship placement. Placements occur at various locations throughout the College's area. This

            essential module allows students to exercise the skills learned in class, learn specific applications

            and to further enhance their learning experience in the selected facilities.

            <br /><br />

            Medix College also provides an employment advantage as we have established relationships with many

            employers in the field. As a result, employers in the field contact us before posting jobs to the general

            public giving current students and graduates of the program an advantage in the hiring process.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            ADMISSIONS PROCESS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            The admissions process for the Personal Support Worker (PSW) Program is a four part process:
        </h2>
        <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
        <p class="contentp">
            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
        <p class="contentp">
            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
        <p class="contentp">
            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
        <p class="contentp">
            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            FINANCIAL OPTIONS
        </h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Students looking to start training in the Personal Support Worker (PSW) Program have a number of options to finance their education. By exploring these options,

            students will be able to gain financial assistance and support as they are training for a career. Some

            financing options available to students include:
        </p>

        <p class="contentp">
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Second Career<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Out of Province Options<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Student Lines of Credit<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Lifelone Learning Plan<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;RESP<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Employment Ontario<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Monthly Payment Plan<br />
        </p>
    </div>
</div>

<br />
