@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Pharmacy Assistant Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Pharmacy Assistant Training Program at Medix College.";
}

<h1 class="contentPageH1">PHARMACY ASSISTANT <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Pharmacy Assistant</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">PROGRAM SUMMARY</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Pharmacy Assistant Diploma Program at Medix College provides training for individuals looking for a

            rewarding career working in entry-level positions in a pharmacy or pharmacy retail company.

            <br /><br />

            The objective of the Pharmacy Assistant Program is to provide graduates with the skills and knowledge

            that will enable them to qualify for entry-level positions. Our graduates have been successful securing

            employment in a variety of pharmaceutical organizations. Usually Pharmacy Assistants work in entry

            level positions at pharmacy retail companies. They work under the supervision of the pharmacy

            technician or Pharmacist. Some of the responsibilities include ordering and receiving the inventory,

            filling prescriptions, receiving shipments and handling paperwork.

            <br /><br />

            There are employment opportunities for graduates of the Pharmacy Assistant Diploma program in

            Brantford, Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London,

            Mississauga, Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and

            other cities across southern Ontario.
        </p>
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1">
            AVAILABILITY
        </h2>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Which campuses offer the Pharmacy Assistant program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brampton<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brantford<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Kitchener<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;London<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Toronto<br />
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT TYPES
        </h1>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What career opportunities are available to graduates of the Pharmacy Assistant program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Pharmacy assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Data assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Dispensary assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Pharmacist assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Pharmacy technical assistant
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">MEDIX STUDENT REVIEW - MARVA </h1>
    </div>
    <div class="panel-body">
        <div class="videoWrapperProgram">
            <iframe width="560" height="349" src="https://www.youtube.com/embed/wmXJ61NG-QU?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <br />

        <a class="btn btn-small btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <h2 class="contentH2">
                <span class="glyphicon glyphicon-film CgoldBlueBorder"></span>    See Transcript
            </h2>
        </a>
        <div class="collapse" id="collapseExample">
            <div class="well">
                "I chose Medix because I went to different campuses, the class sizes.... I was impressed with it. <br /><br />
                The class sizes were what I was looking for, [along with] the convenience and flexibility that Medix has. <br /><br />
                My instructor was great! She was patient and always had time for you. <br /><br />
                My instructor would stay back after class and sit with you. It doesn't matter how difficult you think the programis, your test is. But she would always have the time for you. I came to Medix and it was a whole new perspective. <br /><br />
                After my program at Medix I went to an internship, and because I...Because I was prepared, because I was trained on my internship, I got hired there. <br /><br />
                So to me, Medix is everything."
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT LOCATIONS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Where do graduates of the Pharmacy Assistant program work?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Hospitals
<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Public and private school boards<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Retail pharmacies<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Home health care facilities<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Community pharmacies<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Long-term care facilities<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Public health service
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            COMMON JOB TASKS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What are common job tasks for individuals working in the Pharmacy Assistant field?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Ordering and receiving the inventory
<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Filling prescriptions<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Receiving shipments and handling paperwork<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Package and label pharmaceutical products<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Maintain prescription records and inventories of medications
        </p>
    </div>
</div>




<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">

            MEDIX ADVANTAGE
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Why choose the Pharmacy Assistant Program at Medix College?
        </h2>
        <p class="contentp">
            Practical skill-building and a practicum component are used to give students a well-rounded

            understanding of the role of the Pharmacy Assistant. During the

            course of this program, students will learn all of the skills and be trained in all the procedures that will

            be required of them in their new careers.

            <br /><br />

            As a mandatory component of our programs, all Medix students are required to complete an

            off-site externship placement. Placements occur at various locations throughout the college's

            area. This essential module allows students to exercise the skills learned in class, learn specific

            applications and to further enhance their learning experience in the pharmacy setting.

            <br /><br />

            Medix College also provides an employment advantage as we have established relationships with many

            employers in the field. As a result, employers in the field contact us before posting jobs to the general

            public giving current students and graduates of the program an advantage in the hiring process.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            ADMISSIONS PROCESS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            The admissions process for the Pharmacy Assistant Program is a four part process:
        </h2>
        <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
        <p class="contentp">
            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
        <p class="contentp">
            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
        <p class="contentp">
            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
        <p class="contentp">
            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            FINANCIAL OPTIONS
        </h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Students looking to start training in the Pharmacy Assistant Program have a number of options to finance their education. By exploring these options,

            students will be able to gain financial assistance and support as they are training for a career. Some

            financing options available to students include:
        </p>

        <p class="contentp">
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Second Career<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Out of Province Options<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Student Lines of Credit<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Lifelone Learning Plan<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;RESP<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Employment Ontario<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Monthly Payment Plan<br />
        </p>
    </div>
</div>

<br />