@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Dental Assistant Level 2 Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Dental Assistant Level 2 Training Program at Medix College.";
}


<h1 class="contentPageH1">Dental Assistant Level II <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Dental Assistant Level II</li>
</ol>
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            PROGRAM SUMMARY
        </h1>
    </div>
    <div class="panel-body">

        <p class="contentp">
            The Dental Assistant Level II program at Medix College provides technical training for individuals who

            are currently a Dental Assistant Level I but would like to upgrade to the Dental Assistant Level II. The

            curriculum involves students working through an online theory component and also an on-site practical

            component. The online theory component must be completed before the student enters the hands – on

            - practical component. Once students complete all modules, they will enter the Patient Care module

            where they will apply their skills on patients.

            <br /><br />

            Upon completion of the program the graduate will be eligible to write the NDAEB exam and apply for

            level II certification with the Ontario Dental Assistants Association.

            <br /><br />

            Graduates from the Dental Assistant Level II program have found jobs in Brantford, Brampton,

            Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga, Markham, Milton,

            North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across southern

            Ontario. 
        </p>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1">
            AVAILABILITY
        </h2>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Which campuses offer the Dental Assistant Level 2 program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brampton<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brantford<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Kitchener<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;London<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Toronto<br />
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT TYPES
        </h1>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What jobs await graduates of the Dental Assistant Level II program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Dental assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Dental assistant level II<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Reception/Dental assistant<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Preventive dental assistant<br />
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT LOCATIONS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Where do graduates of the Dental Assistant Level II program work?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Dental Offices<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Universities and college health centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Retirement centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Private dental centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Private health centres<br />
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            COMMON JOB TASKS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What are common job tasks for individuals working in the Dental Assistant Level II field?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Assisting the doctor and educating patients regarding health and dental matters<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Prepares patients for dental exams<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Maintains the inventory of dental equipment and ensures proper infection control<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Record information regarding patient care and procedures<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Preparing x-rays and taking digital x-rays
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">

            MEDIX ADVANTAGE
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Why choose the Dental Assistant Level 2 Program at Medix College?
        </h2>
        <p class="contentp">
            Practical skill-building and a practicum component are used to give students a well-rounded

            understanding of the role of the Dental Assistant Level 2. During the

            course of this program, students will learn all of the skills and be trained in all the procedures that will

            be required of them in their new careers.

            <br /><br />
           
            Medix College also provides an employment advantage as we have established relationships with many

            employers in the field. As a result, employers in the field contact us before posting jobs to the general

            public giving current students and graduates of the program an advantage in the hiring process.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            ADMISSIONS PROCESS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            The admissions process for the Dental Assistant Level 2 Program is a four part process:
        </h2>
        <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
        <p class="contentp">
            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
        <p class="contentp">
            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
        <p class="contentp">
            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
        <p class="contentp">
            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            FINANCIAL OPTIONS
        </h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Students looking to start training in the Dental Assistant Level 2 Program have a number of options to finance their education. By exploring these options,

            students will be able to gain financial assistance and support as they are training for a career. Some

            financing options available to students include:
        </p>

        <p class="contentp">
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Second Career<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Out of Province Options<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Student Lines of Credit<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Lifelone Learning Plan<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;RESP<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Employment Ontario<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Monthly Payment Plan<br />
        </p>
    </div>
</div>

<br />
