@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Community Service Worker Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Community Service Worker Training Program at Medix College.";
}

<h1 class="contentPageH1">COMMUNITY SERVICE WORKER <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class ="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
    <li class="active contentp">Community Service Worker</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">PROGRAM SUMMARY</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Community Service Worker program at Medix College provides technical training for individuals

            looking for a rewarding career in the community service field. This program involves a great deal of

            small group work, practice interviews, and exercises in self-awareness. During the program, students will

            grow to understand the complexities of contemporary community work practice, the helping process,

            human development, first aid/CPR and crisis prevention.

            <br /><br />

            Students will practice with families and individuals, understand the human health model, and explore

            research methods. Throughout the course of the Community Service Worker Program, students will gain

            the knowledge and experience to prepare them for work with clients from a range of age groups, with a

            variety of social and emotional issues.

            <br /><br />

            Graduates from the Community Service Worker program have found jobs in Brantford, Brampton,

            Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga, Markham, Milton,

            North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across southern

            Ontario. 
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1">
            AVAILABILITY
        </h2>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Which campuses offer the Community Service Worker program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brampton<br/>
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Brantford<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Kitchener<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;London<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Scarborough<br />
            <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;Toronto<br />
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT TYPES
        </h1>

    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What career opportunities are available to graduates of the Community Service Worker program?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Intake workers<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Residential counsellors<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Community support workers<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Rehabilitation care worker<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Addictions & community services worker<br />
            <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;Community health worker<br />
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            EMPLOYMENT LOCATIONS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Where do graduates of the Community Service Program work?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Community agencies<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Public and private school boards<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Residential facilities<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Community shelters<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Adult and youth group homes<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Counselling and advocacy centres<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Immigration and settlement services<br />
            <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;Addiction treatment centres
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            COMMON JOB TASKS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            What are common job tasks for individuals working in the Community Service field?
        </h2>
        <p class="contentp">
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Interviewing and counselling clients<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Assisting individuals and families through support and advocacy<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Intervening in crisis situations<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Assisting social workers in various public activities<br />
            <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;Reporting using case reports and statistical data
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">

            MEDIX ADVANTAGE
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            Why choose the Community Service Worker Program at Medix College?
        </h2>
        <p class="contentp">
            Practical skill-building and a practicum component are used to give students a well-rounded

            understanding of the role of the Community Service Worker. During the

            course of this program, students will learn all of the skills and be trained in all the procedures that will

            be required of them in their new careers.

            <br /><br />

            As a mandatory component of our programs, all Medix students are required to complete an off- site

            externship placement. Placements occur at various locations throughout the College's area. This

            essential module allows students to exercise the skills learned in class, learn specific applications

            and to further enhance their learning experience in the selected facilities.

            <br /><br />

            Medix College also provides an employment advantage as we have established relationships with many

            employers in the field. As a result, employers in the field contact us before posting jobs to the general

            public giving current students and graduates of the program an advantage in the hiring process.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            ADMISSIONS PROCESS
        </h1>
    </div>
    <div class="panel-body">
        <h2 class="contentH2">
            The admissions process for the Community Service Worker Program is a four part process:
        </h2>
        <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
        <p class="contentp">
            Contact an admissions representative to schedule an appointment. The admissions representative

            will be able to answer any questions that you might have regarding the program or general

            questions about Medix College.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
        <p class="contentp">
            An interview will be completed in order to determine if students have the right attitude to be

            successful in the program.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
        <p class="contentp">
            The business affairs assessment is an appointment to determine if students are eligible for one of

            the many financial aid options.
        </p>

        <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
        <p class="contentp">
            After the financial plan is in place, enrollment is official and students will be able to start classes in

            order to train for an exciting new career.
        </p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">
            FINANCIAL OPTIONS
        </h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Students looking to start training in the Community Service Worker Program have a number of options to finance their education. By exploring these options,

            students will be able to gain financial assistance and support as they are training for a career. Some

            financing options available to students include:
        </p>

        <p class="contentp">
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Ontario Second Career<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Out of Province Options<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Student Lines of Credit<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Lifelone Learning Plan<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;RESP<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Employment Ontario<br />
            <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;Monthly Payment Plan<br />
        </p>
    </div>
</div>

<br />
