@{
    Layout = null;
}


<div class="container-fluid">
    <img src="~/Content/images/natsbaltimorelogo.jpg" alt="nats baltimore logo" class="displayed" />
</div>

<script type="text/javascript">
    window.location = "http://www.natradeschools.edu/thanks";
</script>
