@{
    Layout = null;
}


<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/0dadfbd7-4931-4174-ae59-acc837e29491.css" />
<link href='http://fonts.googleapis.com/css?family=Roboto|Oswald' rel='stylesheet' type='text/css' />
Thank You - North American Trade Schools
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<div class="container-fluid thankyoucenter">
    <img src="~/Content/images/natsbaltimorelogo.jpg" alt="nats baltimore logo" class="displayed" />
</div>

<script type="text/javascript">
    window.location = "http://www.natradeschools.edu/thanks-contact";
</script>