<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display:none;"></iframe>
<div class=" ">
    <label class="">Contact Us</label>
</div>
<form id="contactUsForm" name="contactUsForm" method="post" action="/external/externalpost" target="dummyframe">
    <input type="hidden" name="ORGID" value="240" />
    <input type="hidden" name="MailListID" value="240001" />
    <input type="hidden" name="CampusID" value="24003" />
    <div class="">
        <label class="" for="formfirstname">First Name: <span class="">*</span></label>
        <input type="text" class="" name="FirstName" id="formfirstname" />
    </div>
    <div class="">
        <label class="" for="formlastname">Last Name: <span class="">*</span></label>
        <input type="text" class="" name="Lastname" id="formlastname" />
    </div>
    <div class="">
        <label class="" for="formtelephone">Phone: <span class="">*</span></label>
        <input type="text" class="" name="Telephone" for="formtelephone" />
    </div>
    <div class="">
        <label class="" for="formemail">Email: <span class="">*</span></label>
        <input type="email" class="" name="Email" for="formemail" />
    </div>
    <div class="">
        <label class="">Program: <span class="">*</span></label>
        <select class="" name="ProgramID" id="programsList">
            <option class="" value="0">Select</option>
            <option class="" value="39119">Building Construction Technology</option>
            <option class="" value="39120">Commercial Truck Driving</option>
            <option class="" value="39121">Diesel Technician</option>
            <option class="" value="39061">Electrical Technology</option>
            <option class="" value="30123">HRVAC Technology</option>
            <option class="" value="39125">Industrial Maintenance</option>
            <option class="" value="39129">Combination Welding</option>
            <option class="" value="40235">Motorcycle and Power Equipment Technology</option>
        </select>
    </div>
    <div class="">
        <label class="" for="formstreetaddress">Street Address: </label>
        <input type="text" class="" name="Address1" for="formstreetaddress" />
    </div>
    <div class="">
        <label class="" for="formcity">City: </label>
        <input type="text" class="" name="City" for="formcity" />
    </div>
    <div class="">
        <label class="" for="formstate">State: </label>
        <input type="text" class="" name="ProvinceStateId" for="formstate" />
    </div>
    <div class="">
        <label class="" for="formzip">Zip: </label>
        <input type="text" class="" name="PostalZipCode" for="formzip" />
    </div>
    <div class="">
        <label class="" for="formgraduationyear">Graduation Year: </label>
        <input type="text" class="" name="CustField32" for="formgraduationyear" />
    </div>
    <div class="">
        <label class="">Education Level: </label>
        <select class="" name="CustField3" id="educationLevelList">
            <option value="Select One">Select One</option>
            <option value="Did not complete High School">Did not complete High School</option>
            <option value="Currently Attending High School">Currently Attending High School</option>
            <option value="High School Graduate">High School Graduate</option>
            <option value="Completed GED">Completed GED</option>
            <option value="Some College">Some College</option>
            <option value="Associate Degree">Associate Degree</option>
            <option value="Bachelor's Degree">Bachelor's Degree</option>
            <option value="Post-Bachelor Degree">Post-Bachelor Degree</option>
        </select>
    </div>
    <div class="">
        <label class="">How did you hear about us?: <span class="">*</span></label>
        <select class="" name="MediaGroupID" id="contactUsMediaGroupList">
            <option value="0">Select</option>
            <option value="91063">HIGH SCHOOL</option>
            <option value="90080">INTERNET</option>
            <option value="90081">NEWSPAPER</option>
            <option value="91092">OUTREACH</option>
            <option value="90213">RADIO</option>
            <option value="90083">REFERRAL</option>
            <option value="91051">SEARCH ENGINE MARKETING</option>
            <option value="91044">SIGNS</option>
            <option value="91241">SUBWAY</option>
            <option value="90082">TELEVISION</option>
            <option value="90825">TRADE SHOWS</option>
        </select>
    </div>
    <div class="">
        <label class="">Specify: <span class="">*</span></label>
        <select class="" name="MediaID" id="contactUsMediaList">
            <option class="0" value="0">Select</option>
            <option class="0 91063" value="14699">High School</option>
            <option class="0 90080" value="974">Bing</option>
            <option class="0 90080" value="17293">careercollegegroup.com</option>
            <option class="0 90080" value="11450">Facebook</option>
            <option class="0 90080" value="931">Google</option>
            <option class="0 90080" value="14173">Kijiji</option>
            <option class="0 90080" value="18140">Live Chat - Canada</option>
            <option class="0 90080" value="17125">Live Chat-Baltimore</option>
            <option class="0 90080" value="1755">London Free Press Online</option>
            <option class="0 90080" value="928">medixcollege.ca</option>
            <option class="0 90080" value="929">Mobile App</option>
            <option class="0 90080" value="14170">natradeschools.ca</option>
            <option class="0 90080" value="14683">natradeschools.edu (BALT)</option>
            <option class="0 90080" value="14698">ncstrades.edu</option>
            <option class="0 90080" value="9026">OntarioCollegeSearch.ca</option>
            <option class="0 90080" value="12452">Reachlocal</option>
            <option class="0 90080" value="12451">SEO</option>
            <option class="0 90080" value="930">ServiceOntario.ca</option>
            <option class="0 90080" value="18289">Text Message (Tatango)</option>
            <option class="0 90080" value="11451">Twitter</option>
            <option class="0 90080" value="14670">Website Student Referral Form</option>
            <option class="0 90080" value="932">Yahoo</option>
            <option class="0 90081" value="934">24 Hours</option>
            <option class="0 90081" value="11995">Ajax/Pickering News Advertiser</option>
            <option class="0 90081" value="11947">Asian Connections</option>
            <option class="0 90081" value="4982">Brampton Guardian</option>
            <option class="0 90081" value="15794">Brant News</option>
            <option class="0 90081" value="2030">Brantford Expositor</option>
            <option class="0 90081" value="937">Career Choices</option>
            <option class="0 90081" value="938">Career Plus</option>
            <option class="0 90081" value="12132">Downsview Mirror</option>
            <option class="0 90081" value="14682">Employment Guide (BALT)</option>
            <option class="0 90081" value="940">Employment News</option>
            <option class="0 90081" value="9375">Ethnic Paper</option>
            <option class="0 90081" value="11944">Georgetown Independent</option>
            <option class="0 90081" value="12197">Help Wanted/Retail Pages</option>
            <option class="0 90081" value="941">Hospital News</option>
            <option class="0 90081" value="11197">Job Classified</option>
            <option class="0 90081" value="939">Job Guide</option>
            <option class="0 90081" value="2029">KW Record</option>
            <option class="0 90081" value="1754">London Free Press</option>
            <option class="0 90081" value="2028">Magazine/Catalogue</option>
            <option class="0 90081" value="11994">Markham Economist and Sun</option>
            <option class="0 90081" value="933">Metro</option>
            <option class="0 90081" value="11946">Milton Canadian Champion</option>
            <option class="0 90081" value="11183">Mississauga News</option>
            <option class="0 90081" value="12126">North York Mirror</option>
            <option class="0 90081" value="11945">Orangeville Banner</option>
            <option class="0 90081" value="1398">Oshawa Express</option>
            <option class="0 90081" value="14681">Penny Saver (BALT)</option>
            <option class="0 90081" value="970">Phone Book / Other Print</option>
            <option class="0 90081" value="9376">Pickering News Paper</option>
            <option class="0 90081" value="942">Scarborough Mirror</option>
            <option class="0 90081" value="17497">Taliba</option>
            <option class="0 90081" value="943">Toronto Jobs</option>
            <option class="0 90081" value="935">Toronto Sun</option>
            <option class="0 90081" value="1124">Training Places</option>
            <option class="0 90081" value="17804">Two Row Times (Native Paper)</option>
            <option class="0 90081" value="14622">Vindicator</option>
            <option class="0 90081" value="11421">West End Jobs</option>
            <option class="0 90081" value="14177">Yellow Pages</option>
            <option class="0 91092" value="17718">CanFitPRo</option>
            <option class="0 91092" value="18603">Health & Dental Fair (Saj Mohan) March 7/15</option>
            <option class="0 91092" value="17889">HireCanada</option>
            <option class="0 91092" value="15031">Mall Booth</option>
            <option class="0 91092" value="15033">National Job Fair</option>
            <option class="0 91092" value="18351">New to Canada Supershow & Expo</option>
            <option class="0 91092" value="17890">Newcomers Fair</option>
            <option class="0 91092" value="15032">Service Canada Booth Lawrence Square</option>
            <option class="0 91092" value="18259">Shoppers' World Mall Brampton Job Fair</option>
            <option class="0 91092" value="18260">Solar Show (CANSEA)</option>
            <option class="0 91092" value="18338">St. Joseph's High School</option>
            <option class="0 91092" value="17888">Student Life Expo</option>
            <option class="0 91092" value="17549">Taste of Lawrence</option>
            <option class="0 91092" value="18570">The Toronto Jobs.ca Career Fair 2015</option>
            <option class="0 91092" value="17887">WebTrends</option>
            <option class="0 90213" value="15175">102.1 Edge</option>
            <option class="0 90213" value="18618">92Q (Baltimore)</option>
            <option class="0 90213" value="18617">98 Rock (Baltimore)</option>
            <option class="0 90213" value="17019">Bob FM</option>
            <option class="0 90213" value="1117">Flow 93.5 (RADIO)</option>
            <option class="0 90213" value="17671">FM96</option>
            <option class="0 90213" value="14171">Free FM</option>
            <option class="0 90213" value="17672">Fresh FM 103.1</option>
            <option class="0 90213" value="2026">KIX 106.7</option>
            <option class="0 90213" value="16644">Myfm - St. Thomas</option>
            <option class="0 90213" value="2027">The BEAT 91.5</option>
            <option class="0 90213" value="17552">Virgin 99.9</option>
            <option class="0 90213" value="14669">Y-103</option>
            <option class="0 90083" value="936">Agency</option>
            <option class="0 90083" value="1083">Direct Mail</option>
            <option class="0 90083" value="14924">NATS Baltimore - Student Track Conversion</option>
            <option class="0 90083" value="17774">Open House</option>
            <option class="0 90083" value="14390">Past Grad</option>
            <option class="0 90083" value="14208">PDR</option>
            <option class="0 90083" value="946">Referral</option>
            <option class="0 90083" value="18633">TCAF - Everest</option>
            <option class="0 90083" value="948">Trade Show</option>
            <option class="0 91051" value="14607">Google - Brampton</option>
            <option class="0 91051" value="14608">Google - Brantford</option>
            <option class="0 91051" value="14609">Google - Kitchener</option>
            <option class="0 91051" value="14605">Google - London</option>
            <option class="0 91051" value="14610">Google - Scarborough</option>
            <option class="0 91051" value="14606">Google - Toronto</option>
            <option class="0 91051" value="15372">MedixOnline.ca</option>
            <option class="0 91051" value="14960">NATS</option>
            <option class="0 91051" value="18504">NATS - Brampton</option>
            <option class="0 91051" value="18505">NATS - London</option>
            <option class="0 91051" value="16959">NATS-Google Ad Words</option>
            <option class="0 91044" value="14168">Billboard</option>
            <option class="0 91044" value="14612">Billboards</option>
            <option class="0 91044" value="15795">Budweiser Gardens</option>
            <option class="0 91044" value="12283">Bus Shelters - Astral</option>
            <option class="0 91044" value="14174">LTC Bus</option>
            <option class="0 91044" value="16187">Road Sign</option>
            <option class="0 91044" value="14719">WALK IN (BALT)</option>
            <option class="0 91044" value="947">Walk-in</option>
            <option class="0 91241" value="16177">TTC</option>
            <option class="0 90082" value="14706">CHCH</option>
            <option class="0 90082" value="3397">CITY TV</option>
            <option class="0 90082" value="14685">Comcast (BALT)</option>
            <option class="0 90082" value="14601">COMCAST (NCST)</option>
            <option class="0 90082" value="3883">CP24</option>
            <option class="0 90082" value="1399">CTV</option>
            <option class="0 90082" value="1753">CTV-2</option>
            <option class="0 90082" value="944">Fox</option>
            <option class="0 90082" value="14684">Fox/CW (BALT)</option>
            <option class="0 90082" value="14618">KDKA - 2 Pitt. (NCST)</option>
            <option class="0 90082" value="14599">MYYTV (NCST)</option>
            <option class="0 90082" value="11422">OLN</option>
            <option class="0 90082" value="945">Omni</option>
            <option class="0 90082" value="14172">Rogers Television</option>
            <option class="0 90082" value="18329">Root Sports Pitt (NCST)</option>
            <option class="0 90082" value="14600">TIME WARNER (NCST)</option>
            <option class="0 90082" value="17208">TLN</option>
            <option class="0 90082" value="14169">TSN</option>
            <option class="0 90082" value="18370">TV</option>
            <option class="0 90082" value="11203">VIVA</option>
            <option class="0 90082" value="14686">WBAL (BALT)</option>
            <option class="0 90082" value="14594">WBCB-CW (NCST)</option>
            <option class="0 90082" value="14591">WFMJ-21 (NCST)</option>
            <option class="0 90082" value="14621">WFXP - 66 Erie (NCST)</option>
            <option class="0 90082" value="14597">WKBN-27 (NCST)</option>
            <option class="0 90082" value="11202">WNetwork</option>
            <option class="0 90082" value="14619">WPXI - 11 Pitt. (NCST)</option>
            <option class="0 90082" value="14620">WTAE - 4 Pitt. (NCST)</option>
            <option class="0 90082" value="14598">WYFX-Fox (NCST)</option>
            <option class="0 90082" value="14595">WYTV-33 (NCST)</option>
            <option class="0 90825" value="16169">Local Trade Show</option>
            <option class="0 90825" value="14882">TRADE SHOWS</option>
            <option class="0 90825" value="17798">Western Fair</option>
            <option class="0 90084" value="956">All Star Directories Inc.</option>
            <option class="0 90084" value="961">Bee Line Web</option>
            <option class="0 90084" value="957">College Bound</option>
            <option class="0 90084" value="2022">CU Net</option>
            <option class="0 90084" value="13981">Degree Plus</option>
            <option class="0 90084" value="2118">EduLocator</option>
            <option class="0 90084" value="4393">EduLocator Sub</option>
            <option class="0 90084" value="958">EduSearch Network</option>
            <option class="0 90084" value="13977">Grab Your Degree</option>
            <option class="0 90084" value="971">Great Exposure PPL</option>
            <option class="0 90084" value="9156">jack test</option>
            <option class="0 90084" value="13979">Lightrail</option>
            <option class="0 90084" value="1962">Natural Healers</option>
            <option class="0 90084" value="959">PlattForm</option>
            <option class="0 90084" value="960">Quinstreet</option>
            <option class="0 90084" value="969">TribalFusion</option>
            <option class="0 90084" value="17298">UC Education Marketing</option>
            <option class="0 90084" value="1080">Vantage Media</option>
            <option class="0 90084" value="14708">webmechanix</option>
        </select>
    </div>
    <div class="">
        <label class="" for="formtexta">Comments: </label>
        <textarea class="" name="Comment2" id="formtexta"></textarea>
    </div>
    <div class="">
        <input id="contactUsSubmit" type="submit" value="Connect with an Advisor!" class="" />
    </div>
</form>

