<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display:none;"></iframe>
<div class=" ">
    <label class="">Contact Us</label>
</div>
<form id="contactUsForm" name="contactUsForm" method="post" action="/external/externalpost" target="dummyframe">
    <input type="hidden" name="ORGID" value="240" />
    <input type="hidden" name="MailListID" value="240001" />
    <input type="hidden" name="CampusID" value="24002" />
    <div class="">
        <label class="" for="formfirstname">First Name: <span class="">*</span></label>
        <input type="text" class="" name="FirstName" id="formfirstname" />
    </div>
    <div class="">
        <label class="" for="formlastname">Last Name: <span class="">*</span></label>
        <input type="text" class="" name="Lastname" id="formlastname" />
    </div>
    <div class="">
        <label class="" for="formtelephone">Phone: <span class="">*</span></label>
        <input type="text" class="" name="Telephone" for="formtelephone" />
    </div>
    <div class="">
        <label class="" for="formemail">Email: <span class="">*</span></label>
        <input type="email" class="" name="Email" for="formemail" />
    </div>
    <div class="">
        <label class="">Program: <span class="">*</span></label>
        <select class="" name="ProgramID" id="programsList">
            <option class="" value="0">Select</option>
            <option class="" value="39119">Building Construction Technology</option>
            <option class="" value="39120">Commercial Truck Driving</option>
            <option class="" value="39121">Diesel Technician</option>
            <option class="" value="39061">Electrical Technology</option>
            <option class="" value="30123">HRVAC Technology</option>
            <option class="" value="39125">Industrial Maintenance</option>
            <option class="" value="39129">Combination Welding</option>
            <option class="" value="40235">Motorcycle and Power Equipment Technology</option>
        </select>
    </div>
    <div class="">
        <label class="" for="formstreetaddress">Street Address: </label>
        <input type="text" class="" name="Address1" for="formstreetaddress" />
    </div>
    <div class="">
        <label class="" for="formcity">City: </label>
        <input type="text" class="" name="City" for="formcity" />
    </div>
    <div class="">
        <label class="" for="formstate">State: </label>
        <input type="text" class="" name="ProvinceStateId" for="formstate" />
    </div>
    <div class="">
        <label class="" for="formzip">Zip: </label>
        <input type="text" class="" name="PostalZipCode" for="formzip" />
    </div>
    <div class="">
        <label class="" for="formgraduationyear">Graduation Year: </label>
        <input type="text" class="" name="CustField32" for="formgraduationyear" />
    </div>
    <div class="">
        <label class="">Education Level: </label>
        <select class="" name="CustField3" id="educationLevelList">
            <option value="Select One">Select One</option>
            <option value="Did not complete High School">Did not complete High School</option>
            <option value="Currently Attending High School">Currently Attending High School</option>
            <option value="High School Graduate">High School Graduate</option>
            <option value="Completed GED">Completed GED</option>
            <option value="Some College">Some College</option>
            <option value="Associate Degree">Associate Degree</option>
            <option value="Bachelor's Degree">Bachelor's Degree</option>
            <option value="Post-Bachelor Degree">Post-Bachelor Degree</option>
        </select>
    </div>
    <div class="">
        <label class="">How did you hear about us?: <span class="">*</span></label>
        <select class="" name="MediaGroupID">
            <option value="0">Select</option>
            <option value="91063">HIGH SCHOOL</option>
            <option value="90080">INTERNET</option>
            <option value="90081">NEWSPAPER</option>
            <option value="91092">OUTREACH</option>
            <option value="90213">RADIO</option>
            <option value="90083">REFERRAL</option>
            <option value="91044">SIGNS</option>
            <option value="91241">SUBWAY</option>
            <option value="90082">TELEVISION</option>
            <option value="90825">TRADE SHOWS</option>
        </select>
    </div>
    <div class="">
        <label class="" for="formtexta">Comments: </label>
        <textarea class="" name="Comment2" id="formtexta"></textarea>
    </div>
    <div class="">
        <input id="contactUsSubmit" type="submit" value="Connect with an Advisor!" class="" />
    </div>
</form>

