<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display:none;"></iframe>
<div class=" ">
    <label class="">Google Adwords PPC</label>
</div>
<form id="quickContactForm" name="quickContactForm" method="post" action="/external/FacebookPPCPost" target="dummyframe">
    <input type="hidden" name="ORGID" value="240" />
    <input type="hidden" name="MailListID" value="240001" />
    <input type="hidden" name="CampusID" value="24002" />
    <div class="">
        <label class="" for="formfirstname">Your Name: <span class="">*</span></label>
        <input type="text" class="" name="FirstName" id="formfirstname" />
    </div>
    <div class="">
        <label class="" for="formemail">Email: <span class="">*</span></label>
        <input type="email" class="" name="Email" for="formemail" />
    </div>
    <div class="">
        <label class="" for="formtelephone">Phone: <span class="">*</span></label>
        <input type="text" class="" name="Telephone" for="formtelephone" />
    </div>
    <div class="">
        <label class="" for="formlocation">Location: <span class="text-danger">*</span></label>
        <select class="" name="CampusID">
            <option value="0">Select</option>
            <option value="24005">New Horizons</option>
        </select>
    </div>
    <div class="">
        <label class="">Program: <span class="text-danger">*</span></label>
        <select class="" name="ProgramID">
            <option class="0 24005" value="0">Select</option>
            <option class="0 24005" value="41050">IT Enterprise Professional</option>
            <option class="0 24005" value="41049">IT Help Desk Associate</option>
            <option class="0 24005" value="41048">IT Office</option>
            <option class="0 24005" value="41040">IT Server Administrator Professional</option>
            <option class="0 24005" value="41051">IT Service Technician</option>
        </select>
    </div>
    <div class="">
        <label class="" for="formtexta">Comments: </label>
        <textarea class="" name="Comment2" id="formtexta"></textarea>
    </div>
    <div class="">
        <input id="quickContactSubmit" type="submit" value="Contact Us Now >" class="" />
    </div>
</form>

