
@{
    ViewBag.Title = "NewcastleQuickContact";
}

<style>
    input.parsley-error, select.parsley-error, textarea.parsley-error {
        color: #B94A48;
        background-color: #F2DEDE;
        border: 1px solid #EED3D7;
    }

    .bs-callout-warning {
        background-color: #fcf8f2;
        border-color: #f0ad4e;
    }

    .bs-callout {
        margin: 20px 0;
        padding: 20px;
        border-left: 3px solid #eee;
    }

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }
</style>
<script src="~/Scripts/parsley.min.js"></script>


<form id="quickContactForm" name="quickContactForm" method="post" action="http://www.northamericantradeschools.ca/external/NewcastleQuickContactPost" target="_self">
    <input type="hidden" name="ORGID" value="240" />
    <input type="hidden" name="MailListID" value="240001" />
    <input type="hidden" name="CampusID" value="24003" />
    <div class="">
        <label class="" for="formfirstname">First Name: <span class="">*</span></label>
        <input type="text" class="" name="FirstName" id="formfirstname" required="" />
    </div>
    <div class="">
        <label class="" for="formlastname">Last Name: <span class="">*</span></label>
        <input type="text" class="" name="Lastname" id="formlastname" required="" />
    </div>
    <div class="">
        <label class="" for="formtelephone">Phone: <span class="">*</span></label>
        <input type="text" class="" name="Telephone" for="formtelephone" required="" />
    </div>
    <div class="">
        <label class="" for="formemail">Email: <span class="">*</span></label>
        <input type="email" class="" name="Email" for="formemail" required="" />
    </div>


    <div class="">
        <label class="" for="formtexta">Comments: </label>
        <textarea class="" name="Comment2" id="formtexta"></textarea>
    </div>
    <div class="">
        <input id="contactUsSubmit" type="submit" value="Connect with an Advisor!" class="" />
    </div>
</form>


<script type="text/javascript">
    $(function () {
        $('#contactUsForm').parsley().on('field:validated', function () {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-warning').toggleClass('hidden', ok);
        })
        .on('form:submit', function () {
            return false; // Don't submit form for this demo
        });
    });
</script>

