<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display:none;"></iframe>
<div class=" ">
    <label class="">PPC No Drop Down</label>
</div>
<form id="ppcNoDropDownForm" name="ppcNoDropDownForm" method="post" action="/external/externalpost" target="dummyframe">
    <input type="hidden" name="ORGID" value="240" />
    <input type="hidden" name="MailListID" value="240001" />
    <input type="hidden" name="CampusID" value="24002" />
    <div class="">
        <label class="" for="formfirstname">First Name: <span class="">*</span></label>
        <input type="text" class="" name="FirstName" id="formfirstname" />
    </div>
    <div class="">
        <label class="" for="formlastname">Last Name: <span class="">*</span></label>
        <input type="text" class="" name="Lastname" id="formlastname" />
    </div>
    <div class="">
        <label class="" for="formemail">Email: <span class="">*</span></label>
        <input type="email" class="" name="Email" for="formemail" />
    </div>
    <div class="">
        <label class="" for="formtelephone">Phone: <span class="">*</span></label>
        <input type="text" class="" name="Telephone" for="formtelephone" />
    </div>
    <div class="">
        <input id="ppcNoDropDownSubmit" type="submit" value="Contact Us Now >>" class="" />
    </div>
</form>

