<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display:none;"></iframe>
<div class=" ">
    <label class="">Refer A Friend</label>
</div>
<form id="referAFriendForm" name="referAFriendForm" method="post" action="/external/externalpost" target="dummyframe">
    <input type="hidden" name="ORGID" value="240" />
    <input type="hidden" name="MailListID" value="240001" />
    <input type="hidden" name="CampusID" value="24002" />
    <div class="">
        <label class="" for="formyourname">Your Name: <span class="">*</span></label>
        <input type="text" class="" name="custField16" id="formyourname" />
    </div>
    <div class="">
        <label class="" for="formtheirname">Interested Friends Name: <span class="">*</span></label>
        <input type="text" class="" name="FirstName" id="formtheirname" />
    </div>
    <div class="">
        <label class="" for="formtelephone">Interest Friends Phone: <span class="">*</span></label>
        <input type="text" class="" name="Telephone" for="formtelephone" />
    </div>
    <div class="">
        <label class="" for="formemail">Interested Friends Email: <span class="">*</span></label>
        <input type="email" class="" name="Email" for="formemail" />
    </div>
    <div class="">
        <input id="referFriendSubmit" type="submit" value="Refer Them Now >" class="" />
    </div>
</form>

