@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Certificates / Continuing Education</label>
</p>
<p>
    With part-time programs offered, plus a range of online courses, it's now easier than ever to develop

    new skills and interests without disrupting your home, work or family commitments.
</p>
<p>

    If you've ever wanted to develop additional skills and interests, but never had the time, Medix College's

    part-time programs are for you! Look through our Part-Time Programs for affordable courses that will fit

    right into your busy lifestyle, enhance your career and help you live life to the fullest.
</p>
<ul>
    <li class="underline">Abel-Dent</li>

    <li class="underline">Addictions and Special Populations</li>

    <li class="underline">Basic Wound Treatment</li>

    <li class="underline">Electrocardiogram (ECG)</li>

    <li class="underline">English as a Second Language (ESL)</li>

    <li class="underline">English Skills for Healthcare Workers</li>

    <li class="underline">Emotional First Aid</li>

    <li class="underline">First Aid and CPR</li>

    <li class="underline">Food Handler Safety</li>

    <li class="underline">Home Child Care Management</li>

    <li class="underline">Intramuscular Injections</li>

    <li class="underline">Introduction to Developmental Disabilities & Services</li>

    <li class="underline">Introduction to Swedish Massage</li>

    <li class="underline">Phlebotomy</li>

    <li class="underline">Soft Tissue Back Injury Prevention</li>

    <li class="underline">Urinalysis</li>

    <li class="underline">Yoga Hosted by Prema Yoga</li>
</ul>