@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">ELECTROCARDIOGRAM (ECG)<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Electrocardiogram (ECG)</li>
</ol>



    <h1 class="contentH1">Workshop Objective</h1>
<p class="contentp">
    The objective of the Electrocardiogram (ECG) Seminar is to understand the technical components of

    Electrocardiography, the roles and responsibilities of the technician and how it relates to patient care.
</p>
<br />

    <h1 class="contentH1">Course Prerequisite</h1>
<ul class="contentp">
    <li>Degree or Diploma in a medical discipline OR a minimum of 1 year experience in a medical setting</li>

    <li>Current Medix students should be at least halfway through completion of their current program and be in good standing</li>

    <li>English Proficiency</li>
</ul>
<br />

    <h1 class="contentH1">Course Duration and Schedule</h1>

<p class="contentp">
    The Electrocardiogram seminar consists of either a full day Saturday and Sunday or 3 Saturdays (15 hours total)
</p>
<br />

    <h1 class="contentH1">Course Content</h1>
<ul class="contentp">
    <li>Introduction to Electrocardiography</li>

    <li>Anatomy and Physiology of Cardiovascular system</li>

    <li>Understanding the role of the ECG Technician</li>

    <li>ECG Equipment and supplies</li>

    <li>Patient preparation, related legal and ethical issues</li>

    <li>Performing 12-lead ECG</li>

    <li>Identification and measures to fix common artifacts</li>

    <li>Mounting and Basic interpretation</li>
</ul>
<br />


    <h1 class="contentH1">Tuition</h1>
<p class="contentp">
    Please contact your campus for class times, details, and start dates.
</p>
<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />