@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
    ViewBag.PageDescription = "Emotional First Aid";
}

<h1 class="contentPageH1">EMOTIONAL FIRST AID<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Emotional First Aid</li>
</ol>



    <h1 class="contentH1">Description</h1>
<p class="contentp">
    The objective of the Emotional First Aid is to enhance the knowledge revolving around emotions and

    mental health. This workshop will cover areas such as:
</p>
<ul class="contentp">
    <li>Exploring the emotional being of a person</li>

    <li>
        What are contributing factors affecting one’s emotion, we will explore areas such as
        <ul>
            <li>mental health</li>

            <li>
                domestic related
            </li>

            <li>psychosocial (finances, relationships, employment, etc.)</li>

            <li>alcohol and drug use</li>
        </ul>
    </li>

    <li>How to assess one’s emotions and mental status</li>

    <li>Treatment options (mindfulness, medication, psychotherapy and others)</li>

    <li>Preventative strategies</li>
</ul>
<br />

    <h1 class="contentH1">Workshop Prerequisite</h1>

<ul class="contentp">
    <li>
        Frontline workers, nurses, social workers, community support workers, child and youth workers, crisis workers, students and others working in the community
    </li>

    <li>A printed certificate will be printed for all those attended</li>
</ul>
<br />

    <h1 class="contentH1">Course Duration and Schedule</h1>
<ul class="contentp">
    <li>TBD</li>

    <li>9:00am to 4:00pm</li>
</ul>
<br />

    <h1 class="contentH1">Fees</h1>
<ul class="contentp">
    <li>$30.00 CAD (This workshop has been subsidized, original price $215.00 CAD; savings of $185.00 CAD)</li>
</ul>

<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />