@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">FIRST AID AND CPR<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">First Aid and CPR</li>
</ol>



    <h1 class="contentH2">Duration</h1>

<p class="contentp">
    14–16 hours over two Saturdays.  
</p>

<p>
    <strong>Course Fee</strong>
</p>

<p>
    $ 150.00
</p>

<p>
    <strong>Instructor</strong>
</p>

<p>
    Certified Red Cross First Aid Instructor
</p>

<p>
    <strong>Completion</strong>
</p>

<p>
    100% attendance, skills demonstration, and 75% min. passing grade at written exam
</p>

<p>
    <strong>Certification</strong>
</p>

<p>
    3-year certification in Standard First Aid, CPR Level C* or HCP , and AED**
</p>

<p>
    <strong>Course content</strong>
</p>
<ul>
    <li>Preparing to respond</li>

    <li>The EMS system</li>

    <li>Check, Call, Care</li>

    <li>Airway emergencies</li>

    <li>Breathing and circulation emergencies</li>

    <li>First Aid for respiratory and cardiac arrest</li>

    <li>Head and spine injuries</li>

    <li>Bone, muscle and joint injuries</li>

    <li>Wound care</li>

    <li>Sudden medical emergencies</li>

    <li>Environmental emergencies</li>
</ul>

<p>
    <strong>Take-home materials</strong>
</p>
<ul>
    <li>Red Cross First Aid & CPR Manual</li>

    <li>Certification card</li>
</ul>
<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />