@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">FOOD HANDLER SAFETY<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Food Handler Safety</li>
</ol>

    <h1 class="contentH1">Workshop Objective</h1>

<p class="contentp">
    Completion of this course will help you attain the knowledge of basic food safety through the introduction and understanding of the following key areas:
</p>

<ul class="contentp">
    <li>Personal Hygiene</li>

    <li>Micro-Organisms</li>

    <li>Time and Temperature control</li>

    <li>Cross-Contamination</li>

    <li>The Flow of Food: Receiving, Storing, Preparing, Thawing, Cooking, Cooling, Holding, Reheating</li>

    <li>Proper handling of equipment and Serving Food</li>

    <li>Food Allergies</li>

    <li>Cleaning and Sanitizing</li>

    <li>Food Safety Regulations</li>

    <li>Basic HACCP (Hazard Analysis Critical Care Points) Principles</li>
</ul>
<br />

    <h1 class="contentH1">Course Prerequisite</h1>
<ul class="contentp">
    <li>Students or Graduates of Medix College’s Personal Support Worker, Early Childhood Assistant Programs</li>

    <li>Individuals who are currently working in Healthcare settings and in the Food Service Industry where handling and/ or serving of food to the public or various populations is required</li>
</ul>
<br />


    <h1 class="contentH1">Course Duration & Schedule</h1>
<ul class="contentp">
    <li>Self study + 1 Saturday for review and final exam</li>

    <li>Once students' registration and payment is complete, students will receive a book to read in advance in preparation for the review and final exam. Please contact Medix directly for more information. Contact your campus for details</li>
</ul>
<br />


    <h1 class="contentH1">Course Fee</h1>
<ul class="contentp">
    <li>$100 CAD</li>

    <li>Course training manual</li>

    <li>Course Examination Fee</li>

    <li>
        5 year Food Handler Certification that is recognized across Canada excluding Alberta, and British Columbia
    </li>

    <li>Course Reexamination fee: $55.00 CAD</li>
</ul>
<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />