@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">HOME CHILDCARE MANAGEMENT<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Home Childcare Management</li>
</ol>



    <h1 class="contentH1">Workshop Objective</h1>


<p class="contentp">
    The Home Child Care Management course is for people without formal training in early learning and

    child care and who are interested in pursuing a career in child care. Completion of this workshop will

    help you attain the knowledge of basic child care management through the introduction and

    understanding of the following key areas:
</p>

<ul class="contentp">
    <li>Roles and Responsibilities</li>

    <li>Introduction to Child Development - Infant, Toddler & Preschool Development</li>

    <li>Set up and maintain a safe, clean, well-organized child care environment</li>

    <li>Plan educational activities</li>

    <li>Health and Safety</li>

    <li>Nutrition</li>

    <li>CPR</li>
</ul>
<br />


    <h1 class="contentH1">Course Prerequisite</h1>
<ul class="contentp">
    <li>English Proficiency</li>
</ul>
<br />

<h1 class="contentH1">
    Course Duration and Schedule
</h1>

<ul class="contentp">
    <li>4 Saturdays, 9:00am-2:00pm</li>
</ul>
<br />


    <h1 class="contentH1">Tuition</h1>

<ul class="contentp">
    <li>
        $399.00 (or $349.00 if registered by early bird deadline: ( Contact campus for details )
        <ul>
            <li>20-hour training session</li>

            <li>
                Course training manual
            </li>

            <li>Course Final Examination</li>

            <li>Certificate of completion</li>
        </ul>
    </li>
</ul>

<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />