@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">INTRO - DEVELOPMENTAL DISABILITIES & SERVICES<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Intro - Developmental Disabilities & Services</li>
</ol>



    <h1 class="contentH1">Workshop Objective</h1>


<p class="contentp">
    This course is designed as a general introduction for the public to the Developmental Services field.

    Students will develop basic knowledge on topics that include but are not limited to:
</p>

<ul class="contentp">
    <li>Autism Spectrum Disorder</li>

    <li>Fetal Alcohol Spectrum Disorder</li>

    <li>Down Syndrome</li>

    <li>Speech/Language Disorders</li>

    <li>Mental Health issues / Dual Diagnosis</li>

    <li>Physical disabilities</li>

    <li>Behavioural Support & Facilitation Techniques</li>
</ul>
<p class="contentp">
    The knowledge students receive over this course is strictly for personal use however students who

    complete this course and then join our full Developmental Service Worker Diploma program will be

    given a tuition credit. (*Note: students must also meet all DSW program course prerequisites for

    admission to the full program)
</p>
<br />


    <h1 class="contentH1">Course Prerequisite</h1>
<ul class="contentp">
    <li>English Proficiency</li>

    <li>To succeed in this course, learners should exhibit emotional maturity, strong interpersonal skills, and a commitment to integration</li>
</ul>
<br />


    <h1 class="contentH1">Course Duration and Schedule</h1>

<p class="contentp">
    5 Saturdays: 9:00am-5:00pm
</p>
<br />


    <h1 class="contentH1">Tuition</h1>
<ul class="contentp">
    <li>
        $399.00 CAD + $100.00 CAD books (or $299.00 CAD + books if you are a current Medix student)
        <ul>
            <li>40-hour training session</li>
            <li>Course training materials</li>
            <li>Certificate of completion</li>
        </ul>
    </li>
</ul>

<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />