@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">INTRO - SWEDISH MASSAGE<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Intro - Swedish Massage</li>
</ol>



    <h1 class="contentH1">Course Outline</h1>

<p class="contentp">
    This workshop is designed to introduce people of the general public to massage therapy, its benefits,

    risks, and how it feels to perform a massage. It does not, in any way, prepare you to write your board

    exams with the CMTO, or give you the right to call yourself a massage therapist or RMT. The knowledge

    you receive over the course of the workshop is strictly for personal use. Student who complete this

    course and join our full program will be credited.  
</p>
<br />


    <h1 class="contentH1">Course Duration and Schedule</h1>
<ul class="contentp">
    <li>16 hours (2 classes, each 8 hours)</li>
    <li>1 weekend (Saturday and Sunday)</li>
</ul>

    <h1 class="contenth1">Course Fee</h1>
<ul class="contentp">
    <li>$149.00 CAD</li>
</ul>
<br />


    <h1 class="contentH1">Course Content</h1>
<ul class="contentp"
    <li>To get a better idea if massage therapy would be a good profession for you</li>

    <li>To have a basic understanding of the principles of massage</li>

    <li>To have a basic understanding of when it is safe and when it is not safe to perform a massage</li>

    <li>To feel comfortable performing basic Swedish massage techniques on various parts of the body</li>

    <li>To feel what it’s like to receive a Swedish massage</li>

    <li>To perform a full body Swedish Massage</li>
</ul>
<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />