@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">INTRAMUSCULAR INJECTIONS<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Intramuscular Injections</li>
</ol>

    <h1 class="contentH1">Workshop Objective</h1>
<p class="contentp">
    The Intramuscular Injections course is designed to ensure that learners have the necessary knowledge

    and skills to administer intramuscular injections competently and safely through the introduction and

    understanding of the following key areas:
</p>

<ul class="contentp">
    <li>Landmark and identify intramuscular injection sites</li>

    <li>Identify equipment for intramuscular injections</li>

    <li>Describe and demonstrate appropriate techniques for intramuscular injections</li>

    <li>Calculate drug dosages for both solid and liquid medications</li>

    <li>Apply appropriate sterile techniques</li>

    <li>Understand medical orders, how to obtain informed consent & the 5 Rights of Medical Administration</li>

    <li>Learn how to take proper documentation</li>
</ul>
<br />

<h1 class="contentH1">
    Course Prerequisite
</h1>
<ul class="contentp">
    <li>Degree or Diploma in a medical discipline OR a minimum of 1 year experience in a medical setting</li>

    <li>Current Medix students should be at least halfway through completion of their current program and be in good standing</li>

    <li>English Proficiency</li>
</ul>
<br />


    <h1 class="contentH1">Course Duration and Schedule</h1>

<p class="contentp">
    Full Saturday, 9:00am-5:00pm
</p>
<br />


    <h1 class="contentH1">Tuition</h1>

<ul class="contentp">
    <li>
        $225.00 (or $175.00 if you are a current Medix student)
        <ul>
            <li>8-hour training session</li>

            <li>Course training materials</li>

            <li>Certificate of completion</li>
        </ul>
    </li>
</ul>

<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />