@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">MENTAL HEALTH AND ADDICTIONS<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Mental Health and Addictions</li>
</ol>


    <h1 class="contentH1">Workshop Objective</h1>

<p class="contentp">
    This program is ideal for those who are already studying or working in the health care or the social work

    field. You can earn a certificate in Mental Health and Additions to take your career to a newer level.

    Focused on the specific needs of clients coping simultaneously with mental health and addictions, you’ll

    be versed for a variety of workplace settings and challenges. 
    <br /><br />
    This certificate will equip you with the

    knowledge and skills required to help support one of Canada’s leading health issues, which are affecting

    both the physical and mental well being of an individual. The combination of substance abuse and

    addictions are becoming more problematic and the Ministry of Long Term Care is funding programs to

    assist with the support required. 

    <br /><br />

    In this course, you will have the opportunity to expand your skills required to practice in mental health

    and addictions. You will develop an understanding of the particular needs of diverse populations and the

    ability to support clients as they begin their journey to recovery. 
    
    <br /><br />
    
    You will learn how and when to offer

    the support required with a better understanding of assessing risk, suicidality, the Mental Health Act,

    forms, psychosocial stressors and other necessary tools to work in this field. 
</p>

<ul class="contentp">
    <li>Introduction to Psychotherapy</li>

    <li>Assessments</li>

    <li>Mental Health Issues - Signs and Symptoms</li>

    <li>Introduction to Substance abuse and Addictions</li>

    <li>Counselling techniques and treatments</li>

    <li>Trauma and healing techniques</li>

    <li>Community intervention and psychosocial support</li>
</ul>
<br />


    <h1 class="contentH1">Course Prerequisite</h1>
<ul class="contentp">
    <li>Grade 12 credits, or equivalent, or three years of experience in business, community service, or industry are required.</li>
</ul>
<br />


    <h1 class="contentH1">Course Duration and Schedule</h1>

<p class="contentp">
    Wednesdays from 5:00pm to 8:00 p.m. for 10 weeks
</p>
<br />


    <h1 class="contentH1">Tuition</h1>
<ul class="contentp">
    <li>
        $295.00 CAD + $75.00 CAD books per course. (or $245.00 CAD plus books if you are a current Medix College student)
        <ul>
            <li>30-hours in training</li>

            <li>
                Course training materials
            </li>

            <li>Certificate of completion</li>
        </ul>
    </li>
</ul>
<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />