@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<h1 class="contentPageH1">SOFT TISSUE BACK INJURY PREVENTION<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
    <li class="active contentp">Soft Tissue Back Injury Prevention</li>
</ol>


    <h1 class="contentH1">Workshop Objective</h1>

<p class="contentp">
    This course was developed by Academy Canada in Nfld. and is designed to address soft tissue injuries

    with a focus on back injury causes and prevention. It will provide an overview of ergonomics in safe

    lifting and manual handling procedures.
</p>

<p class="contentp">
    The purpose of this course is to:
</p>
<ul class="contentp">
    <li>Introduce the student to the concept soft tissue injuries</li>

    <li>Provide insight into the role of ergonomics as a means of prevention</li>

    <li>Provide a focus on back injury causes and prevention</li>

    <li>Outline proper material handling and lifting procedures</li>
</ul>
<p class="contentp">
    Upon completion, students will be able to:
</p>
<ul class="contentp">
    <li>Explain what soft tissue injuries are</li>

    <li>Define ergonomics and explain its role in prevention of soft tissue injury</li>

    <li>Identify the basic anatomy of the spine/back</li>

    <li>Recognize the elements of good posture</li>

    <li>Describe the rules of good lifting procedures</li>

    <li>Explain tips for back injury prevention</li>
</ul>
<br />


    <h1 class="contentH1">Course Prerequisite</h1>
<ul class="contentp">
    <li>English Proficiency</li>
</ul>
<br />


    <h1 class="contentH1">Course Duration and Schedule</h1>
<ul class="contentp">
    <li>Full Saturday, 9:00am-2:00pm</li>
</ul>
<br />


    <h1 class="contentH1">Tuition</h1>
<ul class="contentp">
    <li>
        $75.00 CAD
        <ul>
            <li>5-hour training session</li>

            <li>
                Course training materials
            </li>

            <li>Certificate of completion</li>
        </ul>
    </li>
</ul>
<br />
<p class="contentp">
    This program does not require approval under the Private Career Colleges Act, 2005.

</p>
<br />