@{
    Layout = "~/Views/Training/_TrainingLayout.cshtml";
}

<h1 class="contentPageH1">All Workshops</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active contentp">All Workshops</li>
</ol>

<p class="contentp">
    With part-time programs offered, plus a range of online courses, it's now easier than ever to develop

    new skills and interests without disrupting your home, work or family commitments.

<br /><br />

    If you've ever wanted to develop additional skills and interests, but never had the time, Medix College's

    part-time programs are for you! Look through our Part-Time Programs for affordable courses that will fit

    right into your busy lifestyle, enhance your career and help you live life to the fullest.
</p>


<br />