@{
    Layout = "~/Views/Training/_TrainingLayout.cshtml";
}

<h1 class="contentPageH1">Corporate Training</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Training", "AllTraining", "Training")</li>
    <li class="active contentp">Corporate Training</li>
</ol>