@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}
@{
    ViewBag.Title = "Associations - North American Trade Schools";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">ASSOCIATIONS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
        <li class="active contentp">Associations</li>
    </ol>
</div>



<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Schletter Canada
            </h2><hr class="hrp" />
            <p class="contentp">
                Schletter is a manufacturer of quality solar mounting systems for residential, commercial and utility-scale PV applications. As a partner with North American Trade Schools, Schletter provides quality solar mounting systems used for the hands-on education at North American Trade Schools.            </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://www.schletter.ca/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Career College Ontario (CCO)
            </h2><hr class="hrp" />
            <p class="contentp">
                The Ontario Association of Career Colleges is a non-profit organization that represents career colleges and their students across the province. The CCO is authorized by the Ministry of Training, Colleges and Universities.            </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://www.careercollegesontario.ca/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Better Business Bureau (BBB)

            </h2><hr class="hrp" />
            <p class="contentp">
                The better business bureau is a non-profit organization that promotes business ethics and best business practices. The BBB collects and distributes business reviews and information to the community.            </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://www.bbb.org/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Consumer Choice Award
            </h2><hr class="hrp" />
            <p class="contentp">
                The Consumer Choice Award recognizes business in each business category by using results from an independent market survey. Only top-ranked businesses are selected for the Consumer Choice Award.             </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://www.ccaward.com/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                National Association of Career Colleges (NACC)

            </h2><hr class="hrp" />
            <p class="contentp">
                The National Association of Career Colleges represents over 400 career colleges, the organization encourages excellence from their members to provide training to their students.             </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://nacc.ca/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                London Home Builders’ Association (LHBA)
                        </h2><hr class="hrp" />
            <p class="contentp">
                The London Home Builders’ Association is a group of businesses that is comprised of builders, renovators, developers, suppliers, subcontractors and supporting financial institutions and professionals. The organization was developed so that members can share information and experience with each other and be the voice of the construction industry in London.             </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://www.lhba.on.ca/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Ontario Home Builders' Association (OHBA)
            </h2><hr class="hrp" />
            <p class="contentp">
                The Ontario Home Builders' Association was formed in order to gain a voice in the construction industry within the province. The goal of the organization is to have an impact on the provincial legislature and provide members with benefits for their business goals.            </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://ohba.ca/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Technical Standards & Safety Authority (TSSA)
                        </h2><hr class="hrp" />
            <p class="contentp">
                The Technical Standards & Safety Authority is a non-profit organization that is dedicated to enhancing public safety within the province.             </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('https://www.tssa.org/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Canadian Welding Bureau (CWB)
            </h2><hr class="hrp" />
            <p class="contentp">
                The Canadian Welding Bureau provides welding certification and training services for companies that are involved in the welding industry.             </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('https://www.cwbgroup.org/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                The Heating, Refrigeration and Air-conditioning Institute of Canada (HRAI)            </h2><hr class="hrp" />
            <p class="contentp">
                The Heating, Refrigeration and Air-conditioning Institute of Canada represents HVAC companies, manufacturers, wholesalers and contractors. They offer training programs for their members and promotes a code of conduct for consumer safety.             </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://www.hrai.ca/')">Learn More</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="contentH2">
                Canadian Federation of Independent Businesses (CFIB)
            </h2><hr class="hrp" />
            <p class="contentp">
                The Canadian Federation of Independent Businesses provides support for business and entrepreneurs across the country. The organization represents businesses across all three levels of government to fight tax unfairness, labour laws and regulation.            </p>
            <a href="javascript: void(0)" class="btn btn-danger" role="button" onclick="popup('http://www.cfib-fcei.ca/english/index.html')">Learn More</a>
        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</li></button>


</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <h1 class="contentH1 text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrp11" />
            <div class="row formWrapper overquestionsForm">


                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Location: <span class="text-danger" required="">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor contentp">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>