@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}
@{
    ViewBag.Title = "Careers At NATS";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">CAREERS AT NATS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
        <li class="active contentp">Careers at NATS</li>
    </ol>
</div>



<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">
        <div class="panel-body">

            <p class="contentp">
                North American Trade Schools is always continuing to provide quality training to it's students. North American Trade Schools appreciates, respects and encourages diversity. Applications from qualified candidates are encouraged.
                You are welcome to submit a resume and it will be kept on file should an opportunity present itself you will be contacted.
                <br /><br />
                To apply for any positions, kindly <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top">&nbsp;email us your resume </a>  and please quote the name of the position in the subject line. <br />
                <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top"></a>
            </p>
        </div>
    </div>

    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-user blueGoldBorder"></span> &nbsp;  Campus Director <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <h2 class="contentH2">Are you a leader? </h2>


                                <ul class=”contentp”>
                                    <li>Can you increase performance through people development? </li>
                                    <li>Are you a good communicator? </li>
                                    <li>Do you have a consistent vision? </li>
                                    <li>Does seeing people succeed and grow motivate you? </li>
                                    <li>Are you highly ethical? </li>
                                    <li>Can you lead people to success? </li>
                                    <li>Does building and maintaining a winning team motivate you? </li>
                                    <li>Can you develop close relationships with your people? </li>
                                    <li>Do you enjoying making decisions? </li>
                                </ul>
                                <p class=”contentp”>
                                    If so, North American Trade Schoolss has an excellent opportunity as an integral part of our management team.
                                </p>
                                <br>

                                <h2 class="contentH2">Responsibilities include:</h2>


                                <ul class=”contentp”>
                                    <li>Staffing</li>
                                    <li>Training</li>
                                    <li>Goal Setting</li>
                                    <li>Advertising</li>
                                    <li>Day to day management of multiple teams. </li>
                                </ul>


                                <p class=”contentp”>
                                    We are a private career college specialized in short-term health care training with proven graduation and placement results. If you want a chance to join a company with integrity and a sense of mission, we would like to talk to you!
                                </p>

                                <h2 class="contentH2">Candidates must have: </h2>


                                <ul class=”contentp”>

                                    <li>Bachelor's degree + 3 - 5 years of experience as a leader in education, business or marketing</li>
                                    <li>A proven track record of achieving results. </li>
                                    <li>Strong leadership, the ability to influence and motivate others. </li>
                                    <li>The ability to make fast smart decisions, solve problems and take calculated risks. </li>
                                    <li>Ability to set clear objectives and monitor the progress of multiple elements against deadlines</li>
                                </ul>
                                <br />
                                <p class="contentp">Interested candidates are encouraged to <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top"><span class="glyphicon glyphicon-envelope"></span>&nbsp;email cover letter & resume</a> quoting job title.</p>




                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <br />

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-user blueGoldBorder"></span> &nbsp;  Director of Admissions<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>
                    </a>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <h2 class="contentH2">Are you a leader? </h2>
                                <ul class=”contentp”>
                                    <li>Can you increase performance through people development? </li>
                                    <li>Are you a good communicator? </li>
                                    <li>Do you have a consistent vision? </li>
                                    <li>Does seeing people succeed and grow motivate you? </li>
                                    <li>Are you highly ethical? </li>
                                    <li>Can you lead people to success? </li>
                                    <li>Does building and maintaining a winning team motivate you? </li>
                                    <li>Can you develop close relationships with your people? </li>
                                    <li>Do you enjoying making decisions? </li>
                                </ul>
                                <p class=”contentp”>
                                    If so, North American Trade Schoolss has an excellent opportunity as an integral part of our management team.
                                </p>
                                <br>
                                <h2 class="contentH2">Responsibilities include:</h2>

                                <ul class=”contentp”>
                                    <li>Staffing</li>
                                    <li>Training</li>
                                    <li>Goal Setting</li>
                                    <li>Advertising</li>
                                    <li>Day to day management of multiple teams. </li>
                                </ul>

                                <p class=”contentp”>
                                    We are a private career college specialized in short-term health care training with proven graduation and placement results. If you want a chance to join a company with integrity and a sense of mission, we would like to talk to you!
                                </p>
                                <h2 class="contentH2">Candidates must have: </h2>
                                <ul class=”contentp”>
                                    <li>Bachelor's degree + 3 - 5 years of experience as a leader in education, business or marketing</li>
                                    <li>A proven track record of achieving results. </li>
                                    <li>Strong leadership, the ability to influence and motivate others. </li>
                                    <li>The ability to make fast smart decisions, solve problems and take calculated risks. </li>
                                    <li>Ability to set clear objectives and monitor the progress of multiple elements against deadlines</li>
                                </ul>
                                <br />
                                <p class="contentp">Interested candidates are encouraged to <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top"><span class="glyphicon glyphicon-envelope"></span>&nbsp;email cover letter & resume</a> quoting job title.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-user blueGoldBorder"></span> &nbsp;  Admissions Representative<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <p class="contentp">
                                    North American Trade Schools in the GTA is expanding rapidly and looking for talent to help continue the growth and success If you are an individual who likes to help others succeed - this may be your opportunity!
                                    <br /><br />
                                    We are an established career college with a proven history of helping graduates attain successful career positions.
                                    <br /><br />
                                    We are seeking an admissions representative to join our team. You must be an enthusiastic, aggressive candidate with good interpersonal skills and have a customer-service/sales background. You can bring ideas to a conclusion and have a strong desire to help others.
                                    <br /><br />
                                    This position involves identifying and interviewing prospective students. If you want a chance to join a company with integrity and a sense of mission, we would like to meet you. This position offers excellent income, bonus potential and full benefits.
                                </p>
                                <br />
                                <p class="contentp">Interested candidates are encouraged to <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top"><span class="glyphicon glyphicon-envelope"></span>&nbsp;email cover letter & resume</a> quoting job title.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseFour" href="#collapseFour" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-user blueGoldBorder"></span> &nbsp;  Employment Specialist - Placement and Career Services<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <p class="contentp">
                                    North American Trade Schools is expanding rapidly and looking for talent to help continue the growth and success. If health care is your passion, then Medix is where you should be! The successful candidate for an employment specialist will possess:
                                    <br /><br />
                                    <ul class="contentp">
                                        <li>Strong communication skills</li>
                                        <li>Customer service skills</li>
                                        <li>Steady focus on job placement for the students</li>
                                        <li>Maintain high employment rate</li>
                                        <li>Organized team player</li>
                                    </ul>
                                </p>
                                <br />
                                <p class="contentp">Interested candidates are encouraged to <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top"><span class="glyphicon glyphicon-envelope"></span>&nbsp;email cover letter & resume</a> quoting job title.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseFive" href="#collapseFive" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-user blueGoldBorder"></span> &nbsp;  Financial Aid Officer<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <p class="contentp">
                                    North American Trade Schools is expanding rapidly and looking for talent to help continue the growth and success. If health care is your passion, then Medix is where you should be! The successful candidate for an employment specialist will possess:
                                    <br /><br />

                                    <li>Strong communication skills</li>
                                    <li>Customer service skills</li>
                                    <li>Steady focus on job placement for the students</li>
                                    <li>Maintain high employment rate</li>
                                    <li>Organized team player</li>


                                <p class="contentp">The successful candidate will:</p>
                                <ul class="contentp">
                                    <li>Have a recent Ministry Update session</li>
                                    <li>
                                        Have a minimum of 2 years experience as a Financial Aid Officer
                                    </li>
                                    <li>
                                        Develop, negotiate and finalize student financial plans consistent with financial planning policies and procedures and Ministry regulations
                                    </li>
                                    <li>
                                        Maintain awareness of financial aid resources
                                    </li>
                                    <li>
                                        Advise prospective students of all tuition funding sources available
                                    </li>
                                    <li>
                                        Assist students with questions regarding the completion of the Financial Aid applications
                                    </li>
                                    <li>
                                        Create estimated financial plans for prospective and current students
                                    </li>
                                    <li>
                                        Accurately and timely prepare forms
                                    </li>
                                    <li>
                                        Prepare and Negotiate student loans
                                    </li>
                                    <li>
                                        Have strong attention to detail
                                    </li>
                                    <li>
                                        Possess strong communication and organizational skills
                                    <li>Be a team player</li>
                                </ul>
                                <br /><br />
                                <p class="contentp">
                                    Medix offers a competitive salary, benefits and other incentives for its employees.<br /><br />
                                </p>
                                <br />
                                <p class="contentp">Interested candidates are encouraged to <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top"><span class="glyphicon glyphicon-envelope"></span>&nbsp;email cover letter & resume</a> quoting job title.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseSix" href="#collapseSix" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-user blueGoldBorder"></span> &nbsp;  Computer Instructor<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>
                    </a>
                </div>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <p class="contentp">
                                    Is teaching and health care your passions? North American Trade Schools is willing to train the right person to deliver quality health care education to adult learner. The desire to instruct, mentor and coach students to be successful in a healthcare career is mandatory.
                                    <br /><br />
                                    North American Trade Schools offers competitive wages, benefits and other incentives for its employees.
                                    <br /><br />
                                    The successful candidate will possess:
                                </p>
                                <ul class="contentp">
                                    <li> Advanced knowledge of Microsoft Office</li>
                                    <li>Excellent Typing Skills</li>
                                    <li>Knowledge of medical software preferred</li>
                                </ul>
                                <br /><br /><p class="contentp">
                                    This is a wonderful career opportunity with the potential to grow into a permanent position.
                                </p>
                                <br /><br />
                                <p class="contentp">
                                    Medix offers a competitive salary, benefits and other incentives for its employees.<br /><br />
                                </p>
                                <br />
                                <p class="contentp">Interested candidates are encouraged to <a href="mailto:careers@natradeschools.ca?Subject=Job%20Application" target="_top"><span class="glyphicon glyphicon-envelope"></span>&nbsp;email cover letter & resume</a> quoting job title.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <br />


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</li></button>


</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <h1 class="contentH1 text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpblue" />
            <div class="row formWrapper overquestionsForm">


                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor contentp">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>