@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}

@{
    ViewBag.Title = "History";
    ViewBag.PageDescription = "Medix College has experience exciting growth across southern Ontario. Find out how it all began from the time the education institution was founded up until present day";
}
<div class="col-sm-12">
    <h1 class="contentPageH1">NATS HISTORY</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
        <li class="active contentp">NATS History</li>
    </ol>
</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1945</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Newcastle School of Trades was founded and became a multipurpose technical and trade institution.            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1954</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                New Castle moved to its present location on Route 422 in Pulaski, PA.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1970</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Diesel Institution of America (DIA) was established in 1970 by Sheldon Monsein, then President of Central GMC/Kenworth, Inc. in Landover, Maryland. His idea was fostered out of need for additional qualified diesel mechanics to repair the hundreds of vehicles at his facility.
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1973</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Diesel Institute of American offered its first classes in a 500 square foot garage in Landover, Maryland. As word spread in the industry concerning the availability of school trained diesel mechanics, DIA began to grow.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1973</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                In January, the school was accredited by the Accrediting Commission of the National Association of Trade and Technical Schools, (NATTS), Washington, D.C.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1982</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The school was approved by the Pennsylvania Department of Education to award the Associate in Specialized Technology Degree in the Electrical Technology program.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1983</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Diesel Institute of American opens in Grantsville, MD.

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1983</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Diesel Institute of American opens in Grantsville, MD.

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1986</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                In September DIA began offering commercial truck driver training.

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1988</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                In November, the school was acquired by EFC Trade.

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2002</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                The Diesel Institute of American was purchased and is presently owned by Education Enterprises Incorporated.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2004</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                In May, the Diesel Institute of American relocated from Grantsville, Maryland to its present location in Baltimore, and changed its name to North American Trade Schools.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2005</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                President of Canadian Operations, Randy Henry opens the facility at 847 Highbury Ave in London, Ontario, Canada.

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2013</h2>
        </div>
        <div class="panel-body">
            <p class="contentp">
                NATS Canada continues to grow and opens the second Canadian campus in Brampton, Ontario, Canada.
        </div>
    </div>
  
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</li></button>

</div>

    <div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <h1 class="contentH1 text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpblue" />
            <div class="row formWrapper overquestionsForm">


                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor contentp">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



