@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}

@{
    ViewBag.Title = "History";
    ViewBag.PageDescription = "Medix College has experience exciting growth across southern Ontario. Find out how it all began from the time the education institution was founded up until present day";
}

<h1 class="contentPageH1">NATS HISTORY</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
    <li class="active contentp">NATS History</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1945</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Newcastle School of Trades was founded and became a multipurpose technical and trade institution.
               </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1954</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            New Castle moved to its present location on Route 422 in Pulaski, PA.
</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1970</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Diesel Institution of America (DIA) was established in 1970 by Sheldon Monsein, then President of Central GMC/Kenworth, Inc. in Landover, Maryland. His idea was fostered out of need for additional qualified diesel mechanics to repair the hundreds of vehicles at his facility.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1973</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Diesel Institute of American offered its first classes in a 500 square foot garage in Landover, Maryland. As word spread in the industry concerning the availability of school trained diesel mechanics, DIA began to grow.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1973</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            In January, the school was accredited by the Accrediting Commission of the National Association of Trade and Technical Schools, (NATTS), Washington, D.C.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1982</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The school was approved by the Pennsylvania Department of Education to award the Associate in Specialized Technology Degree in the Electrical Technology program.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1983</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Diesel Institute of American opens in Grantsville, MD.

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1983</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Diesel Institute of American opens in Grantsville, MD.

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1986</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            In September DIA began offering commercial truck driver training.

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1988</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            In November, the school was acquired by EFC Trade.

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2002</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The Diesel Institute of American was purchased and is presently owned by Education Enterprises Incorporated.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2004</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            In May, the Diesel Institute of American relocated from Grantsville, Maryland to its present location in Baltimore, and changed its name to North American Trade Schools.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2005</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            President of Canadian Operations, Randy Henry opens the facility at 847 Highbury Ave in London, Ontario, Canada.

    </div>
</div>
        
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2013</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            NATS Canada continues to grow and opens the second Canadian campus in Brampton, Ontario, Canada.
    </div>
</div>
<br />
<button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;@Html.ActionLink("SEE MORE PROGRAMS", "AllPrograms", "Programs")</button>


<br />
