@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}

@{
    ViewBag.Title = "History";
    ViewBag.PageDescription = "Medix College has experience exciting growth across southern Ontario. Find out how it all began from the time the education institution was founded up until present day";
}

<h1 class="contentPageH1">NATS HISTORY</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
    <li class="active contentp">NATS History</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1969</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix College was founded and began its quest in the training of Quality Healthcare Professionals.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1993</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix College purchases the former Southwestern Business College, which had served London students

            with courses in accounting, secretarial etc. New Medix training programs are Medical Office

            Administrator and introductory computer courses. Southwestern Business College/Medix College is

            conceived and located in 5000 sq. feet of classroom/training space in Oxbury Mall. Southwestern Medix

            trained approx. 90 students in 1993.        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1994</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Doctors Office/Medical Lab Assistant and Dental Assistant courses are added to the programs offered.

            Training increases to over 200 students this year. Southwestern Medix expands their facility from 5000

            to 7500 sq. ft.
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1995</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            The need for specialized training in Healthcare increases. Southwestern Medix places students at

            London Health Science Center and other laboratories in the London area. Dental students spend part of

            their training course at U.W.O. Faculty of Medicine and Dentistry. Practical training in the U.W.O. dental

            clinic enhances skills and allows students to obtain hands on experience. This training continues today.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1996</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            More expansion!! Southwestern Medix adds Chiropractic Office Assistant and Personal Support Worker

            programs to their prospectus. At this time, Medix students are finding employment opportunities in

            doctors offices, walk-in clinics, nursing homes, chiropractic clinics, hospitals, laboratories and various

            dental clinics and offices across Ontario and other provinces.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1997</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix College expands to Milton to offer the Personal Support Worker program as the need for in home

            and long-term care services increase due to an aging population and a shortage of workers. Three years

            later the school is moved to Brantford. 
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;1998 | 1999</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix College responds to Ontario regulations and adds to their Dental program by offering Level II

            duties. Level I Dental Assistants from all parts of Ontario, travel to London to receive upgrade training.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2000</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Y2K arrives, Medix College survives and prospers. Medix College acquires Health Care Vocational Centers

            (HCVC). Locations in Ottawa, Toronto and Scarborough are welcomed into the Medix family. Medix

            College also expands to Brantford and offers the Personal Support Worker program. Medix College

            moved into the direction of Mental Health and starts to provide training for Community Service Workers

            at the Brantford Location.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2001</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Plans for future expansion begin. Medix decides to increase their space in Oxbury Mall and make it

            home for at least 10 additional years.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2002</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix adds Community Service Worker and Pharmacy Technician programs to their London Campus.

            Londons only specialized healthcare trainer now offers 7 programs. Medix opens new campus in

            Kitchener and starts training Personal Support Workers.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2003</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Our tenth anniversary in London!!! Medix has now expanded to over 11,000 sq.ft. in Oxbury Mall and

            trains over 350 students per year, providing a state of the art training facility for Intra Oral Dental

            Assistants, Medical Office Administrators, Personal Support Workers, Community Service Workers,

            Medical Lab Assistants/Technicians, Chiropractic Office Assistants, and Pharmacy Technicians. In

            addition to London.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2004</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            In our eleventh year, healthcare training is booming! and with Medix Colleges in Brantford, Kitchener,

            Scarborough, and Toronto we are able to help the demand and this makes Medix one of the largest

            health trainers in Ontario.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2005</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix Toronto experiences record growth and decides to welcome this growth by relocating to the

            Lawrence Square Mall and we now occupy 14,000 sq ft on the subway line to better serve the city of

            Toronto for the next 15 years!
    </div>
</div>
        
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2006</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix Scarborough follows and acquires 14,000 sq ft in Scarborough at Lawrence East & Birchmount

            and completely renovates creating a state of the art training institute to better serve the city of

            Scarborough for years to come.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2007</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            More Growth and Medix Toronto acquires 6000 sqft on the retail level and adding a Massage Therapy

            Clinic and a Career & Placement Services Department making it the largest dedicated Private Healthcare

            School in the Medix Family.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2008</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Our 15 year anniversary in Ontario starts and to celebrate and continue growth Medix Online is created

            to make available continuing healthcare education for working professionals across the province and

            eventually worldwide.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2009</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix continues its growth by acquiring ABMT College of Canada in Brampton Ontario, this move

            completes the trilogy of Medix College campuses that serve the GTA.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="contentH1"><span class="glyphicon glyphicon-flag"></span>&nbsp;2012</h2>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix acquires its Stage One CETAC recognition at its GTA ( Brampton, Scarborough, and Toronto )

            campuses.
    </div>
</div>

<br />
