@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}

@{
    ViewBag.Title = "Discover NATS";
    ViewBag.PageDescription = "Learn more about Medix College and why programs offered at this Private Career College helps graduates train for health care professions";
}

    <h1 class="contentPageH1">DISCOVER NATS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active contentp">Discover NATS</li>
</ol>

<blockquote class="contentBlockquote">
    <h2 class="contentPageH1">"To service with excellence the needs of our community and the needs of our graduates by matching skills"</h2>
</blockquote>

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">Medix College Overview</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            For over 40 years Medix College has been providing industry leading healthcare career training for those
            looking to become medical professionals. Currently Medix College has six (6) campuses across Ontario
            with each of them featuring state-of-the-art facilities.

            <br /><br />

            Medix College believes in helping students achieve
            quality education quickly. All of our students receive hands-on, practical courses designed to quickly get
            you started on your chosen career path. We are committed to individuals seeking career-oriented
            programs leading directly to a successful career! Medix is the clear choice for those looking to change
            their life today, in addition, Medix College also provides online certificate programs to aid you in your
            quest to have the career you’ve always wanted.

            <br /><br />

            With the introduction part-time programs plus a range of online courses it’s now easier than ever to
            develop new skills and interests without disrupting your home, work or family commitments. If you’ve
            ever wanted to develop additional skills and interests, but never had the time, Medix College's part-time
            programs are for you! Look though our part-time programs for affordable courses that will fit with into
            your busy lifestyle, enhance your career and help you live life to the fullest.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">The Programs</h1>
    </div>
    <div class="panel-body">
        <p class="contentp">
            Medix College provides training in healthcare diploma programs preparing students for the growing
            healthcare industry in Canada. The objective of the program training is to equip the students with the
            most current theory and practical training necessary to become successful healthcare professionals.

            <br /><br />

            The curriculum relies on two fundamental principles; firstly, teach to foster an understanding of the material
            versus memorization of the material, and secondly, allowing the students to process information
            through practical experience. Practical experience is provided to our students through laboratories and
            an opportunity to shadow experienced workers in the field. Each campus has its own set of programs,
            which run throughout the year.
        </p>
    </div>
</div>

<br />