@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}
@{
    ViewBag.Title = "Mission";
}

<h1 class="contentPageH1">Mission</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
    <li class="active contentp">Mission</li>
</ol>