@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}
@{
    ViewBag.Title = "Mission";
}

<h1 class="contentPageH1">NATS MISSION</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
    <li class="active contentp">Mission</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">OUR MISSION</h1>
    </div>
    <div class="panel-body">
        To service with excellence the needs of our students and our community by matching skills.
        <br /><br />
        To teach relevant programs; to nurture and support each student from acceptance through graduation in preparation for successful employment.
        <br /><br />
        Our training programs are practical, intense and result oriented. We provide you with the skills you need to find employment in today’s workforce.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="contentH1">OUR PHILOSOPHY</h1>
    </div>
    <div class="panel-body">
        The purpose of North American Trade Schools (N.A.T.S.) is to provide, in a private career school setting, post secondary education.
        <br /><br />
        In January, the school was accredited by the Accrediting Commission of the National Association of Trade and Technical Schools, (NATTS), Washington, D.C.
        <br /><br />
        Our business statement says it all: “Real people; Real training; Real jobs.” Our graduates are not only prepared to work in the building trades, welding technology, electrical and HVAC industry, they are also exposed to the knowledge, skills, tools and proper attitude to be employment ready. Our philosophy is that personal and job site safety training is as an important part of our program.
        <br /><br />
        We require 100% student commitment and dedication in order to be successful in our programs. An extremely rewarding future awaits the individual who is ready to make this commitment.
    </div>
</div>