@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}
@{
    ViewBag.Title = "Accreditation - North American Trade Schools";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">PARTNER SCHOOLS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
        <li class="active contentp">Partner Schools</li>
    </ol>
</div>



    <div class="col-sm-8 mid-padding">
        <div class="col-sm-12 EXpadding">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="contentH1">Medix College of Healthcare</h1>
                    <hr class="hrp" />
                    <p class="contentp">

                        <img class="img-responsive" width="100%" src="/Content/images/program-ioda.jpg" alt="IT server admin professional" />
                        <br />

                        Medix College is the industry leading Health Care career training for those looking to become medical professionals.
                        Currently Medix College has six campuses across Ontario with each of the featuring state-of-the-art facilities.
                        <br /><br />
                        <a href="http://medixcollege.ca" target="_blank"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;Learn more about Medix College</a>


                    </p>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="contentH1">New Horizons Computer Learning Centers of Toronto</h1>
                    <hr class="hrp" />
                    <p class="contentp">

                        <img class="img-responsive" width="100%" src="/Content/images/program-ithelpdesk.jpg" alt="IT server admin professional" />
                        <br />

                        New Horizons Computer Learning Centers Inc. is the world's largest independent IT training company with 300 centers in 70 countries. At New Horizons, we focus on continued worldwide expansion to meet the ever-increasing demands of the technology evolution.
                        <br /><br />
                        Innovative, award-winning learning methods such as Online LIVE(r) and Mentored Learning(r) have revolutionized the way students learn, retain and apply new knowledge.
                        <br /><br />
                        New Horizons offers an extensive selection of vendor-authorized training and certifications for top technology providers such as Microsoft, Cisco and CompTIA.
                        <br /><br />
                        <a href="http://nhontario.ca" target="_blank"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;Learn more about New Horizons Computer Learning Centers of Toronto</a>


                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="contentH1">National American University</h1>
                    <hr class="hrp" />
                    <p class="contentp">
                        <img class="img-responsive" width="100%" src="~/Content/images/nauimg.jpg" alt="NAU logo" />
                        <br />
                       
                        National American University is a regionally accredited, multi-campus institution of higher learning offering Associate, Bachelor’s and Master’s degree programs in technical and professional fields. With over 75 years of experience in higher education, NAU is located throughout the central United States, has partnerships with international affiliates and an online student body comprised of approximately 10,000 students.
                        <br /><br />NAU Canada Online offers degree programs in Business, Management, Healthcare Management, Information Technology and more. Students have increased flexibility to take courses any time, from anywhere, to accommodate busy lifestyles.
                        <br /><br />                <a href="http://www.national.edu/career-college-group" target="_blank"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;Learn more about National American University</a>


                    </p>
                </div>
            </div>






            <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
            <br />
            <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
            <br />

        </div>
</div>

    <div class="col-sm-4 pull-right no-padding">
        <div class="panel panel-default bluePANEL2">

            <div class="panel-body">
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
                </h1><hr class="hrpw3" />
                <div class="row formWrapper overquestionsForm2">
                    <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/home/askquestion">
                        <input type="hidden" name="ORGID" value="240" />
                        <input type="hidden" name="MailListID" value="240001" />
                        <div class="input-group spacer-top">
                            <label class="pull-left contentpw">First Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="FirstName" required="">
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left contentpw">Email: <span class="text-danger">*</span></label>
                            <input type="email" class="form-control pull-right" name="Email" required="">
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left contentpw">Telephone: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="Telephone" required="">
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left contentpw">Location: <span class="text-danger" required="">*</span></label>
                            <select class="form-control pull-right" name="CampusID">
                                <option value="0">Select</option>
                                <option value="24004">Brampton-NATS</option>
                                <option value="24001">London-NATS</option>
                                <option value="240">Toronto</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left contentpw">Program: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="ProgramID">
                                <option class="0 24004 24001 240" value="0">Select</option>
                                <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                                <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                                <option class="0 24004 24001" value="39061">Electrical Technology</option>
                                <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                                <option class="0 24004 24001" value="39062">HVAC Technician</option>
                                <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                                <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                                <option class="0 24004 24001" value="39063">Welding Technology</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left contentpw">Comments: </label>
                            <textarea class="form-control pull-right" name="Comment2"></textarea>
                        </div>
                        <div class="small-text spacer-top text-center contentpw">
                            Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                        </div>
                        <div class="text-center">
                            <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

