@{
    Layout = "~/Views/DiscoverNATS/_DiscoverNATSLayout.cshtml";
}
@{
    ViewBag.Title = "President's Message";
}

<h1 class="contentPageH1">President's Message</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
    <li class="active contentp">President's Message</li>
</ol>



<div class="panel panel-default">

    <div class="panel-body">

        <blockquote class="contentBlockquote">
            <h2 class="contentH3-red">        "There are very few decisions you will make in your lifetime that will have more impact on your lifestyle than the decisions to enhance your skills.

                <br /><br />North American Trade Schools offers you the opportunity to train for a career/lifestyle of which you can be proud.

                <br /><br /> North American Trade Schools is dedicated to the principle that skilled training should be directed to the needs of the individual and employer. Emphasis is placed on quality workmanship, proper attitude and good attendance in order to prepare graduates for employment and advancement.

                <br /><br />We at North American Trade Schools realize the importance of your goals and commit ourselves to helping you achieve them."</h2>
        </blockquote>



        <br /><br />
        Sincerely,<br />
        Rex Spaulding<br />
        Corporate President
    </div>
</div>