@{
    Layout = "~/Views/Campuses/_CampusesLayout.cshtml";
}

<h1 class="contentPageH1">BRAMPTON CAMPUS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Campuses", "Index", "Campuses")</li>
    <li class="active contentp">Brampton</li>
</ol>

<h2 class="contentH1">About Medix College Brampton</h2>

<p class="contentp">
    The Brampton campus is the latest chapter in the Medix College success book. Located at 499 Main

    Street inside Shoppers World Brampton, this campus has grown rapidly and has proudly educated

    students to thrive in the healthcare industry. The campus boasts modern facilities, fully equipped with

    the latest technology to provide an excellent learning and teaching environment.

<br /><br />

    The Brampton campus faculty consists of over twenty professional, experienced members who are

    committed to fulfilling the school’s mission: “To service with excellence the needs of our community

    and the needs of our graduates by matching skills.” With the addition of North American Trade

    Schools (NATS) to the Career College Group campus, we are now able to meet demand for both

    Healthcare and Skilled Trades graduates.
</p>
<br />

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:500px;">
        <div id="gmap_canvas" style="height:500px"></div>
        <a class="google-map-code" href="http://wordpress-themes.org" id="get-map-data">http://wordpress-themes.org</a>
    </div>
    <script type="text/javascript"> function init_map() { var myOptions = { zoom: 15, center: new google.maps.LatLng(43.6670762, -79.7383509), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(43.6670762, -79.7383509) }); infowindow = new google.maps.InfoWindow({ content: "<b></b><br/>499 Main St S Unit 60<br/> Brampton" }); google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>

<br />
    <h1 class="contentH1">About Brampton</h1>

<p class="contentp">
    Brampton is a suburban city in the Greater Toronto Area and is part of Peel Region. As of the 2011

    census, Brampton’s population is currently at 523,911. Brampton officially became recognized as a

    village in 1853 and gain city status as of 1974.
<br /><br />
    The city was named after a city with the same name in Cumbria England. In Brampton, the area codes

    are either 905 or 289. The current nickname for Brampton is the “Flower City”.
</p>
<br />

    <h1 class="contentH1">Social Media</h1>

    <a href="https://www.facebook.com/MedixCollegeNATS?ref=hl"><img src="~/Content/images/facebook.gif" height="50" width="50" /></a>
    <a href="https://twitter.com/bramptonmedix"><img src="~/Content/images/twitter.gif" height="50" width="50" /></a>
    <a href=" https://plus.google.com/u/0/b/113990709745010331819/+MedixcollegeCaBrampton/posts"><img src="~/Content/images/googleplus.gif" height="50" width="50" /></a>
    <a href="https://www.youtube.com/user/MedixCollegeBrampton"><img src="~/Content/images/youtube.gif" height="50" width="50" /></a>
    <a href="https://www.pinterest.com/bramptonmedix/"><img src="~/Content/images/pinterest.gif" height="50" width="50" /></a>
<br /><br />

<h1 class="contentH1">Brampton Links</h1>

<p class="contentp">
     <a href="http://www.brampton.ca/">City of Brampton Website</a>
</p>

<p class="contentp">
    <a href="http://www.brampton.ca/EN/Arts-Culture-Tourism/Tourism-Brampton/Pages/welcome-splash.aspx">Brampton Tourism Website</a>
</p>

<p class="contentp">
    <a href="http://www.brampton.ca/EN/City-Hall/Pages/top-links.aspx">Brampton City Hall</a>
</p>

<p class="contentp">
    <a href="http://www.ymcagta.org/en/find-ymca/location.php?id=353">Brampton YMCA</a>
</p>

<p class="contentp">
    <a href="http://www.brampton.ca/EN/Business/BEC/resources/Pages/welcome.aspx">Brampton Resources</a>
</p>

<p class="contentp">
    <a href="http://www.peelschools.org/adulteducation/esl/Pages/default.aspx">Peel Region ESL </a>
</p>

<p class="contentp">
    <a href="http://www.immigrationpeel.ca/en/about-peel-region/newcomer-information-centres.asp">Newcomers to Brampton</a>
</p>
<br />