@{
    Layout = "~/Views/Campuses/_CampusesLayout.cshtml";
}

<h1 class="contentPageH1">CAMPUSES</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Campuses", "Index", "Campuses")</li>
    <li class="active contentp">Campuses</li>
</ol>


<p class="contentp">
    North American Trade Schools is a registered private career college specializing in, and devoted to, the training of skilled trade professionals.
     North American Trade Schools has two campuses across Ontario each of them featuring state-of-the-art facilities.
</p>
<br />

<table class="table table-bordered">
    <tr>
        <th width="35%" class="active"><h2 class="contentH2">CAMPUS</h2></th>
        <th width="65%" class="active"><h2 class="contentH2">ADDRESS</h2></th>
    </tr>

    <tr>
        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Brampton", "Brampton", "Campuses")</th>
        <td class="contentp">
            499 Main St S Unit 60<br />

            Brampton, Ontario<br />

            L6Y 1N7<br />

            Toll Free: 1-866-962-7685<br />

            Fax: (905) 487-1162
        </td>
    </tr>
    

    
    <tr>
        <th class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("London", "London", "Campuses")</th>
        <td class="contentp">
            847 Highbury Avenue Building 4<br />

            London, Ontario,<br />

            N5Y 5B8<br />

            Tel: (519) 963-0680
        </td>
    </tr>
    
    
</table>
<br />