@{
    Layout = "~/Views/Campuses/_CampusesLayout.cshtml";
}

<h1 class="contentPageH1">KITCHENER CAMPUS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("All Campuses", "Index", "Campuses")</li>
    <li class="active contentp">Kitchener</li>
</ol>


<h2 class="contentH1">About Medix College Kitchener</h2>

<p class="contentp">
    The Medix College campus in Kitchener, Ontario is one of the leading private healthcare education

    colleges in the province. Established in 2002, the Kitchener campus proudly provides students with

    superior healthcare training that results in rewarding careers. Located at 248 Stirling Avenue South in

    Kitchener, our campus is accessible for students travelling from Kitchener, Cambridge, Waterloo and

    Guelph.

    <br /><br />

    Our Admissions representatives will help you choose the diploma program that aligns best with your

    career goals. Our state-of-the-art facilities provide the best in healthcare education to all of our

    students. Classes and labs are equipped with the most up-to-date technology and programs, which

    help create a remarkable learning environment.

    <br /><br />

    Our faculty is comprised of more than twenty experienced healthcare professionals who bring

    personalized attention to each and every student. Hundreds of students graduate every year with

    skills and confidence, trained and ready to serve the healthcare community. To that end, the campus

    offers full Career Services that are designed to prepare students for their job searches, interviews, and

    their inevitable rewarding career.

    <br /><br />

    Contact Medix Kitchener Campus now and learn more about our programs. You could be job-ready

    and start in a brand new career sooner than you think!
</p>
<br />

<p>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:500px;"><div id="gmap_canvas" style="height:500px;"></div>
    <a class="google-map-code" href="http://wordpress-themes.org" id="get-map-data">http://wordpress-themes.org</a></div>
    <script type="text/javascript"> function init_map() { var myOptions = { zoom: 13, center: new google.maps.LatLng(43.4409271, -80.48589979999997), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(43.4409271, -80.48589979999997) }); infowindow = new google.maps.InfoWindow({ content: "<b></b><br/>248 Stirling Avenue #14 <br/> Kitchener" }); google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
</p>
<br />


<h1 class="contentH1">Social Media</h1>
<p>
    <a href="https://www.facebook.com/pages/Medix-College-Kitchener/184815364883858"><img src="~/Content/images/facebook.gif" height="50" width="50" /></a>
    <a href="https://twitter.com/kitchenermedix"><img src="~/Content/images/twitter.gif" height="50" width="50" /></a>
    <a href="https://plus.google.com/+MedixcollegeCaKitchener/posts"><img src="~/Content/images/googleplus.gif" height="50" width="50" /></a>
    <a href="https://www.youtube.com/channel/UCI_p_hhinGQheogDvvFoNEQ"><img src="~/Content/images/youtube.gif" height="50" width="50" /></a>
    <a href="https://www.pinterest.com/medixkitchener/"><img src="~/Content/images/pinterest.gif" height="50" width="50" /></a>
</p>
<br />

<h1 class="contentH1">About Kitchener</h1>

<p class="contentp">
    Kitchener is a city in southwestern Ontario that is located approximately 100km west of Toronto. The

    city is located on the St. Lawrence River and is surrounded by Waterloo, Cambridge, Elmira, Guelph

    and Stratford.

    <br /><br />

    Kitchener is part of Waterloo County and is often referred to as Kitchener-Waterloo (KW) and the

    Tri-Cities (which includes Cambridge). As of the 2011 census, the population of Kitchener is 219,153.

    The city was founded in 1833 and was named Berlin up until 1916.

    <br /><br />

    The current mayor is Berry Vrbanovic and the city was named after Lord Herbert Horatio Kitchener,

    who was a British Secretary of State for War. In Kitchener, the area codes are 519 and 226.
</p>
<br />

<h1 class="contentH1">Kitchener Links</h1>

<p class="contentp">
    <a href="http://www.kitchener.ca/en/">City of Kitchener Website</a>
</p>

<p class="contentp">
    <a href="http://www.explorewaterlooregion.com/">Tourism Kitchener</a>
</p>

<p class="contentp">
    <a href="http://www.kitchener.ca/en/insidecityhall/CityHall.asp">Kitchener City Hall</a>
</p>

<p class="contentp">
    <a href="http://www.ymcacambridgekw.ca/en/index.asp">Kitchener YMCA</a>
</p>

<p class="contentp">
    <a href="http://www.immigrationwaterlooregion.ca/">Waterloo Region Immigration Services</a>
</p>

<p class="contentp">
    <a href="http://chd.region.waterloo.on.ca/">Region of Waterloo Public Health and Emergency Services</a>
</p>

<br />