@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<h1 class="contentPageH1">FINANCIAL OPTIONS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
    <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
    <li class="active contentp">Financing Options</li>
</ol>

<p class="contentp">
    A post­secondary education is a big investment. Fortunately, we at Medix have a dedicated

    team to assist students with financing their education. There are many payment options

    available to Medix students. A brief description of some financing options available is outlined

    below.
</p>
<br />
<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <h1 class="contentH1">FINANCIAL OPTIONS INCLUDE:</h1>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Ontario Student Assistance Program (OSAP)", "OSAP", "Admissions")</p>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Second Careers", "SecondCareers", "Admissions")</p>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Out of Province", "OutOfProvinceStudents", "Admissions")</p>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Student Lines of Credit", "StudentLinesOfCredit", "Admissions")</p>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Lifelong Learning Plan", "LifelongLearningPlan", "Admissions")</p>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("RESP", "RegisteredEducationSavingsPlans", "Admissions")</p>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Employment Ontario", "EmploymentOntario", "Admissions")</p>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <p class="contentH3-blue"><span class="glyphicon glyphicon-share-alt glpgray"></span>&nbsp;@Html.ActionLink("Monthly Payment Plan", "Index", "Admissions")</p>
        </td>
    </tr>


</table>
<br />