@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<h1 class="contentPageH1">LIFELONG LEARNING PLAN</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
    <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
    <li class="active contentp">Lifelong Learning Plan</li>
</ol>


<p class="contentp">
    The Canada Revenue Agency Lifelong Learning Plan (LLP) allows you to withdraw amounts from your RRSPs to

    finance your education for you or your spouse (or common law partner). You may withdraw up to $10,000 per year,

    and up to a total maximum of $20,000.
</p>

<p class="contentp">
    For more information visit the <a href="www.cra-arc.gc.ca/tx/ndvdls/tpcs/rrsp-reer/llp-reep/menu-eng.html"><span class="glyphicon glyphicon-link"></span>&nbsp;Canada Revenue Agency</a> website.
</p>
