@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<h1 class="contentPageH1">ONTARIO STUDENT ASSISTANCE PROGRAM (OSAP)</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
    <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
    <li class="active contentp">OSAP</li>
</ol>

<p class="contentp">
    OSAP is a program funded by the provincial and federal governments through the National Student

    Loans Service Centre. OSAP is a needs-based program. This means that it provides loans, grants,

    scholarships and bursaries. OSAP provides eligible Ontario students with financial assistance to help pay

    for their tuition, books, mandatory fees, living costs and transportation.
</p>

<p class="contentp">
    There are several different loans, grants, scholarships and bursaries administered by OSAP through a

    single application process. For more information, speak to a Medix College Business Affair Officer and

    visit www.osap.gov.on.ca
</p>