@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<h1 class="contentPageH1">OUT OF PROVINCE</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
    <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
    <li class="active contentp">Out of Province</li>
</ol>



<p class="contentp">
    Students from provinces outside of Ontario may also qualify for loans, scholarships, bursaries and grants

    administered by their provincial Student Financial Assistance Offices.
</p>

<br />

<h1 class="contentH1">ALBERTA</h1>
<h2 class="contentH2">Student Aid Alberta</h2>
<p class="contentp">Web: <a href="http://studentaid.alberta.ca/">studentaid.alberta.ca</a></p>
<p class="contentp">Phone: 1-855-606-2096 (toll free in North America)</p>

<br />

<h1 class="contentH1">BRITISH COLUMBIA</h1>
<h2 class="contentH2">StudentAid BC</h2>
<p class="contentp">Web: <a href="https://studentaidbc.ca/">studentaidbc.ca</a></p>
<p class="contentp">Phone: 1-800-561-1818 (within Canada/US)</p>

<br />

<h1 class="contentH1">MANITOBA</h1>
<h2 class="contentH2">Manitoba Student Aid</h2>
<p class="contentp">Web: <a href="http://www.gov.mb.ca/educate/sfa/pages/sfaFrontDoor_en.html?">www.gov.mb.ca/educate/sfa/pages/sfaFrontDoor_en.html</a></p>
<p class="contentp">Phone: 1-800-204-1685 (within Canada/US)</p>

<br />

<h1 class="contentH1">NEW BRUNSWICK</h1>
<h2 class="contentH2">Student Financial Services</h2>
<p class="contentp">Web: <a href="http://www2.gnb.ca/content/gnb/en/departments/post-secondary_education_training_and_labour/Skills/content/FinancialSupport/StudentFinancialServices.html">www2.gnb.ca</a></p>
<p class="contentp">Phone: 1-800-667-5626</p>

<br />

<h1 class="contentH1">NEWFOUNDLAND & LABRADOR</h1>
<h2 class="contentH2">Student Financial Services</h2>
<p class="contentp">Web: <a href="http://www.aes.gov.nl.ca/studentaid/">www.aes.gov.nl.ca</a></p>
<p class="contentp">Phone: 1-888-657-0800</p>

<br />

<h1 class="contentH1">NORTHWEST TERRITORIES</h1>
<h2 class="contentH2">Student Financial Assistance</h2>
<p class="contentp">Web: <a href="http://www.aes.gov.nl.ca/studentaid/">www.aes.gov.nl.ca/studentaid/</a></p>
<p class="contentp">Phone: 1-800-661-0793</p>

<br />

<h1 class="contentH1">NOVA SCOTIA</h1>
<h2 class="contentH2">Student Assistance Office</h2>
<p class="contentp">Web: <a href="http://novascotia.ca/studentassistance/">novascotia.ca/studentassistance/</a></p>
<p class="contentp">Phone: 1-800-661-0793</p>

<br />

<h1 class="contentH1">
    NUNAVUT</h1>
    <h2 class="contentH2">Department of Family Services</h2>
    <p class="contentp">Phone: 1-877-860-0680</p>

    <br />

    <h1 class="contentH1">ONTARIO</h1>
    <h2 class="contentH2">Ontario Student Assistance Program</h2>
    <p class="contentp">Web: <a href="https://osap.gov.on.ca/OSAPPortal">osap.gov.on.ca/OSAPPortal</a></p>
    <p class="contentp">Phone: 807-343-7260 </p>

    <br />

    <h1 class="contentH1">SASKATCHEWAN</h1>
    <h2 class="contentH2">Student Financial Services</h2>
    <p class="contentp">Web: <a href="http://www.saskatchewan.ca/studentloans">www.saskatchewan.ca/studentloans</a></p>
    <p class="contentp">Phone: 1-800-597-8278</p>

    <br />

    <h1 class="contentH1">YUKON</h1>
    <h2 class="contentH2">Student Financial Services</h2>
    <p class="contentp">Web: <a href="http://www.education.gov.yk.ca/index.html">www.education.gov.yk.ca</a></p>
    <p class="contentp">Phone: 1-800-661-0408</p>

    <br />
