@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">OUT OF PROVINCE</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
        <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
        <li class="active contentp">Out of Province</li>
    </ol>
</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                Students from provinces outside of Ontario may also qualify for loans, scholarships, bursaries and grants

                administered by their provincial Student Financial Assistance Offices.
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">ALBERTA</h1><hr class="hrp" />
            <h2 class="contentH2">Student Aid Alberta</h2>
            <p class="contentp">Web: <a href="http://studentaid.alberta.ca/">studentaid.alberta.ca</a></p>
            <p class="contentp">Phone: 1-855-606-2096 (toll free in North America)</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <h1 class="contentH1">BRITISH COLUMBIA</h1><hr class="hrp" />
            <h2 class="contentH2">StudentAid BC</h2>
            <p class="contentp">Web: <a href="https://studentaidbc.ca/">studentaidbc.ca</a></p>
            <p class="contentp">Phone: 1-800-561-1818 (within Canada/US)</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">MANITOBA</h1><hr class="hrp" />
            <h2 class="contentH2">Manitoba Student Aid</h2>
            <p class="contentp">Web: <a href="http://www.gov.mb.ca/educate/sfa/pages/sfaFrontDoor_en.html?">www.gov.mb.ca/educate/sfa/pages/sfaFrontDoor_en.html</a></p>
            <p class="contentp">Phone: 1-800-204-1685 (within Canada/US)</p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">NEW BRUNSWICK</h1><hr class="hrp" />
            <h2 class="contentH2">Student Financial Services</h2>
            <p class="contentp">Web: <a href="http://www2.gnb.ca/content/gnb/en/departments/post-secondary_education_training_and_labour/Skills/content/FinancialSupport/StudentFinancialServices.html">www2.gnb.ca</a></p>
            <p class="contentp">Phone: 1-800-667-5626</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">NEWFOUNDLAND & LABRADOR</h1><hr class="hrp" />
            <h2 class="contentH2">Student Financial Services</h2>
            <p class="contentp">Web: <a href="http://www.aes.gov.nl.ca/studentaid/">www.aes.gov.nl.ca</a></p>
            <p class="contentp">Phone: 1-888-657-0800</p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">NORTHWEST TERRITORIES</h1><hr class="hrp" />
            <h2 class="contentH2">Student Financial Assistance</h2>
            <p class="contentp">Web: <a href="http://www.aes.gov.nl.ca/studentaid/">www.aes.gov.nl.ca/studentaid/</a></p>
            <p class="contentp">Phone: 1-800-661-0793</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">NOVA SCOTIA</h1><hr class="hrp" />
            <h2 class="contentH2">Student Assistance Office</h2>
            <p class="contentp">Web: <a href="http://novascotia.ca/studentassistance/">novascotia.ca/studentassistance/</a></p>
            <p class="contentp">Phone: 1-800-661-0793</p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">
                NUNAVUT
            </h1><hr class="hrp" />
            <h2 class="contentH2">Department of Family Services</h2>
            <p class="contentp">Phone: 1-877-860-0680</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <h1 class="contentH1">ONTARIO</h1><hr class="hrp" />
            <h2 class="contentH2">Ontario Student Assistance Program</h2>
            <p class="contentp">Web: <a href="https://osap.gov.on.ca/OSAPPortal">osap.gov.on.ca/OSAPPortal</a></p>
            <p class="contentp">Phone: 807-343-7260 </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">SASKATCHEWAN</h1><hr class="hrp" />
            <h2 class="contentH2">Student Financial Services</h2>
            <p class="contentp">Web: <a href="http://www.saskatchewan.ca/studentloans">www.saskatchewan.ca/studentloans</a></p>
            <p class="contentp">Phone: 1-800-597-8278</p>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">YUKON</h1><hr class="hrp" />
            <h2 class="contentH2">Student Financial Services</h2>
            <p class="contentp">Web: <a href="http://www.education.gov.yk.ca/index.html">www.education.gov.yk.ca</a></p>
            <p class="contentp">Phone: 1-800-661-0408</p>
        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />

</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <h1 class="contentH1 text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpblue" />
            <div class="row formWrapper overquestionsForm">


                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor contentp">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
