@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<h1 class="contentPageH1">REGISTERED EDUCATION SAVINGS PLANS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
    <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
    <li class="active contentp">Registered Education Savings Plans</li>
</ol>


<p class="contentp">
    Students who have been named a beneficiary under a family members Registered Education Savings Plan (RESP),
    may use funds from the RESP to finance their education.
</p>
<br />