@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<h1 class="contentPageH1">SECOND CAREERS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
    <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
    <li class="active contentp">Second Careers</li>
</ol>


    <h1 class="contentH1">What is Second Career?</h1>
<p class="contentp">
    Second Career provides laid-off workers with
</p>
<ul class="contentp">
    <li>skills training to help them find jobs in high-demand occupations in Ontario</li>

    <li>financial support</li>
</ul>
<p class="contentp">
    Second Career is a cost-sharing grant provided on the basis of need, so you may be asked to contribute

    what you can to your training or education.
</p>
<br />
<p class="contentp">
    Second Career provides up to $28,000 for
</p>
<ul class="contentp">
    <li>tuition</li>

    <li>books</li>

    <li>other instruction costs such as manuals or workbooks</li>

    <li>transportation</li>

    <li>a basic living allowance</li>
</ul>
<br />
<p class="contentp">
    Additional support may be available to accommodate the needs of people with disabilities, dependent

    care, costs of living away from home and academic upgrading.
</p>
<p class="contentp">
    Find out more about recent changes to Second Career at www.secondcareerontario.com
</p>
<br />