@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<h1 class="contentPageH1">STUDENT LINES OF CREDIT</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
    <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
    <li class="active contentp">Student Lines of Credit</li>
</ol>


<p class="contentp">
    Most major banks and credit unions offer student lines of credit to finance post secondary education.

    Please visit your financial institution to find out more information.
</p>
<br />



<h1 class="contentH1">ROYAL BANK</h1>
<h2 class="contentH2">Student Lines of Credit</h2>
<p class="contentp">Web: <a href="http://www.rbcroyalbank.com/personal-loans/student-line-of-credit.html">www.rbcroyalbank.com/personal-loans/student-line-of-credit.html</a></p>
<p class="contentp">Phone: 1-800-769-2511 </p>
<br />

<h1 class="contentH1">TD BANK</h1>
<h2 class="contentH2">Student Lines</h2>
<p class="contentp">Web: <a href="http://www.tdcanadatrust.com/products-services/borrowing/loans-lines-of-credit/student-line.jsp">www.tdcanadatrust.com/products-services/borrowing/loans-lines-of-credit/student-line.jsp</a></p>
<p class="contentp">Phone: 1 866 222 3456 </p>
<br />

<h1 class="contentH1">SCOTIA BANK</h1>
<h2 class="contentH2">Personal Line of Credit for Students</h2>
<p class="contentp">Web: <a href="http://www.scotiabank.com/ca/en/0,,957,00.html">www.scotiabank.com/ca/en/0,,957,00.html</a></p>
<p class="contentp">Phone: 1.800.4SCOTIA </p>
<br />

<h1 class="contentH1">BANK OF MONTREAL</h1>
<h2 class="contentH2">Student Line of Credit</h2>
<p class="contentp">Web: <a href="https://www.bmo.com/home/personal/banking/loans-loc/loc/student-line-of-credit">www.bmo.com/home/personal/banking/loans-loc/loc/student-line-of-credit</a></p>
<p class="contentp">Phone: 1-877-CALL-BMO </p>
<br />

<h1 class="contentH1">CIBC</h1>
<h2 class="contentH2">Education Line of Credit</h2>
<p class="contentp">Web: <a href="https://www.cibc.com/ca/loans/edu-line-of-credit.html">www.cibc.com/ca/loans/edu-line-of-credit.html</a></p>
<p class="contentp">Phone: 1-877-CALL-BMO </p>
<br />
