@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">STUDENT LINES OF CREDIT</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
        <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
        <li class="active contentp">Student Lines of Credit</li>
    </ol>
</div>
<div class="col-sm-8 mid-padding">


    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                Most major banks and credit unions offer student lines of credit to finance post secondary education.

                Please visit your financial institution to find out more information.
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">ROYAL BANK</h1><hr class="hrp" />
            <h2 class="contentH2">Student Lines of Credit</h2>
            <p class="contentp">Web: <a href="http://www.rbcroyalbank.com/personal-loans/student-line-of-credit.html">www.rbcroyalbank.com/personal-loans/student-line-of-credit.html</a></p>
            <p class="contentp">Phone: 1-800-769-2511 </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">

            <h1 class="contentH1">TD BANK</h1><hr class="hrp" />
            <h2 class="contentH2">Student Lines</h2>
            <p class="contentp">Web: <a href="http://www.tdcanadatrust.com/products-services/borrowing/loans-lines-of-credit/student-line.jsp">www.tdcanadatrust.com/products-services/borrowing/loans-lines-of-credit/student-line.jsp</a></p>
            <p class="contentp">Phone: 1 866 222 3456 </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">SCOTIA BANK</h1><hr class="hrp" />
            <h2 class="contentH2">Personal Line of Credit for Students</h2>
            <p class="contentp">Web: <a href="http://www.scotiabank.com/ca/en/0,,957,00.html">www.scotiabank.com/ca/en/0,,957,00.html</a></p>
            <p class="contentp">Phone: 1.800.4SCOTIA </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">

            <h1 class="contentH1">BANK OF MONTREAL</h1><hr class="hrp" />
            <h2 class="contentH2">Student Line of Credit</h2>
            <p class="contentp">Web: <a href="https://www.bmo.com/home/personal/banking/loans-loc/loc/student-line-of-credit">www.bmo.com/home/personal/banking/loans-loc/loc/student-line-of-credit</a></p>
            <p class="contentp">Phone: 1-877-CALL-BMO </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">CIBC</h1><hr class="hrp" />
            <h2 class="contentH2">Education Line of Credit</h2>
            <p class="contentp">Web: <a href="https://www.cibc.com/ca/loans/edu-line-of-credit.html">www.cibc.com/ca/loans/edu-line-of-credit.html</a></p>
            <p class="contentp">Phone: 1-877-CALL-BMO </p>
        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />


</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <h1 class="contentH1whitemain text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpw3" />
            <div class="row formWrapper overquestionsForm2">
                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Location: <span class="text-danger" required="">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center contentpw">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

